@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_typography.scss";

.metadataTemplate-list {
  .no-properties {
    text-align: center;
    font-size: 14px;
    color: #AFAFAF;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    padding: 15px;
    background: $c-grey-lighten;
    .fa {
      margin-right: 5px;
    }
  }
  .no-properties-wrap {
    display: block;
    padding: 15px;
    border: 1px dashed #ccc;
  }
}

.metadataTemplate-list,
.metadataTemplate-constructor {
  background: $c-grey-lighten;
  display: table;
  width: 100%;
  .list-group-item {
    border-radius: 4px !important;
    border: 1px solid $c-grey-light !important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05) !important;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .fa-clone,
    .fa-arrows-v {
      margin: 0 15px 0 0;
      color: #ccc;
    }
  }
  .list-group-item:hover {
    cursor: move;

    .fa-clone,
    .fa-arrows-v {
      color: #777;
    }
  }
}

.metadataTemplate-list {
  .list-group-item {
    margin: 4px 15px;
    &:first-of-type {
      margin-top: 15px;
    }
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

.metadataTemplate-constructor {
  .list-group-item {
    margin: 4px 7px;
    padding: 0 !important;
  }
  .btn {
    line-height: 44px;
    margin-right: 15px;
    padding: 0 15px;
    border-width: 0;
    border-right: 1px solid $c-grey-light;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
