@import "../../App/scss/config/_colors.scss";

.metadataTemplate-heading {
  display: flex;

  .template-name {
    flex: 1;
    margin-right: 15px;

    .form-control {
      font-size: 18px;
      line-height: 23px;
      padding: 9px 12px;
      margin-bottom: 0;
    }
  }
  .form-group {
    margin: 0;
  }
}

.metadataTemplate-list {
  .no-properties {
    text-align: center;
    font-size: 14px;
    color: #AFAFAF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px dashed #ccc;
    padding: 15px;
    .fa {
      margin-right: 5px;
    }
  }
}

.metadataTemplate-list,
.metadataTemplate-constructor {
  .list-group-item {
    border: 1px solid transparent;
    .fa-clone,
    .fa-arrows-v {
      margin: 0 15px 0 0;
      color: #ccc;
    }
  }
  .list-group-item:hover {
    cursor: move;
    border-color: #D4D7DB;
    .fa-clone,
    .fa-arrows-v {
      color: #777;
    }
  }
}

.validation-error {
  color: #ED353D;
  margin-top: 5px;
}

.panel {
  .list-group {
    .list-group-item {

      .btn {
        margin-left: 5px;
      }

      &.error {
        display: inherit;
        border-bottom: 1px solid #ED353D;

        .property-name, .property-name .fa {
          color: #ED353D;
        }
      }

      .propery-form {
        height: 0;
        overflow: hidden;

        &.expand {
          border-top: 1px solid $c-grey-light;
          padding: 15px 0 0 30px;
          margin-top: 15px;
          height: auto;
        }
      }

      &.dragging {
        opacity: 0;
      }
    }
  }
}
