@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_typography.scss";
@import "../../App/scss/config/_materials.scss";

.metadataTemplate-list {
  .no-properties {
    text-align: center;
    font-size: 14px;
    color: #AFAFAF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 15px;
    .fa {
      margin-right: 5px;
    }
  }
  .no-properties-wrap {
    display: block;
    padding: 15px;
    border: 1px dashed #ccc;
  }
}

.metadataTemplate-list,
.metadataTemplate-constructor {
  .list-group-item {
    border-radius: $border-radius !important;
    border: 1px solid $c-grey-light !important;
    box-shadow: $box-shadow !important;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .fa-clone,
    .fa-arrows-v {
      margin: 0 15px 0 0;
      color: #ccc;
    }
  }
  .list-group-item:hover {
    cursor: move;

    .fa-clone,
    .fa-arrows-v {
      color: #777;
    }
  }
}

.metadataTemplate .list-group-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 23px;
  border-color: $c-grey-light;
  border-left-color: transparent;
  outline: none;
  box-shadow: none;
}

.metadataTemplate-constructor {
  border-left: 1px solid $c-grey;
  padding-left: 30px;
}

.metadataTemplate-list,
.metadataTemplate-constructor {
  .list-group-item {
    margin: 7px 0;
    &:first-of-type {
      margin-top: 15px;
    }
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}