$c-white: 			      #FFFFFF;
$c-grey-lighten:      #FDFDFD;
$c-grey-light:        #F5F5F5;
$c-grey: 				      #D4D7DB;
$c-grey-dark: 	      #616E70;
$c-black: 			      #222222;
$c-primary-dark:      #09436F;
$c-primary:           #337ab7;
$c-primary-light:     #B6D8FB;
$c-primary-lighten:   #F6F9FC;
$c-secondary-dark:    #BE7F00;
$c-secondary:         #FFCC66;
$c-secondary-light:   #FFD98B;
$c-secondary-lighten: #FFEEBB;
$c-success:           #5CB85C;
$c-success-light:     #c2f2c2;
