$f-size-xs:		8px;
$f-size-sm:		11px;
$f-size:		  13px;
$f-size-lg:		15px;

$f-regular: 'Lato', sans-serif;
$f-regular: 'Ubuntu', sans-serif;
$f-regular: 'Roboto', sans-serif;

$f-special: 'Roboto Slab', serif;
$f-special: 'Droid Serif', serif;
//$f-special: 'Merriweather', serif;
//$f-special: "Lora", serif;
