@import "../../../App/scss/Vars.scss";

.document-metadata {
  padding: 0 10px;

  h1 {
    font-size: 1.4em;
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
    position: relative;

    &::after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 2em;
      content: "-";
      border-bottom: 4px solid black;
      position: absolute;
      top: 0;
      right: 0;
      height: 39px;
      width: 40px;
      text-align: center;
      line-height: 28px;
    }

    &.folded::after {
      content: "\F107";
    }
  }

  .toc {
    color: $successColor;
    border-bottom: 4px solid $successColor;
  }

  .metadata {
    color: $infoColor;
    border-bottom: 4px solid $infoColor;
  }

  >ul {
    padding-left: 10px;
    list-style: none;
  }

  table {
    width: 100%;
  }

  td {
    padding: 5px 10px 5px 10px;
    vertical-align: top;
    color: $hardFontColor;
  }

  td:first-child {
    width: 20%;
  }
}
