@import "../../../controllers/App/scss/Vars.scss";

.document-metadata {
  padding: 0 10px;

  h1 {
    font-size: 1.4em;
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
  }

  .toc {
    background-color: $successColor;
  }

  .metadata {
    background-color: $infoColor;
  }

  >ul {
    padding-left: 10px;
    list-style: none;
  }

  table {
    width: 100%;
  }

  td {
    padding: 5px 10px 5px 10px;
    vertical-align: top;
    color: $hardFontColor;
  }

  td:first-child {
    width: 20%;
  }
}
