@import "Vars.scss";

html, body, #root, #root>div, .contents-wrapper, .contents-wrapper>div, .contents, .contents>div {
  height: 100%;
}

.contents {
  padding-left: 35px;
  padding-right: 0;
  transition: margin 0.3s;

  &.no-sidebar {
    padding-left: 85px;
  }
}

.no-padding {
  padding: 0 !important;
}

.sidebar {
  background-color: $backGroundColor2;
  color: #989495;
  position: fixed;
  top: 20px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 40px 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  font-size: 1.1em;
  transition: width 0.3s;

  &-hidden {
    width: 50px;
    span {
      display: none;
    }
  }

  li {
    i {
      margin-right: 5px;
    }
    a {
      color: #4C4C4C;
    }
  }
}

.contents-wrapper {
  padding-top: 40px;
  padding-right: 0;
}

.navbar-default .navbar-brand {
  color: $brandColor;
  font-size: 2em;
}

.navbar-default {
  background-color: $backGroundColor1;
}

.navbar-form {

  input {
    background-color: transparent;
    border: 1px solid rgb(138, 138, 138);
    width: 200px;
    color: rgb(180, 180, 180);
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    padding: 0 0 0 10px;
    i {
      color: rgb(138, 138, 138);
    }
  }
}

.two-panel-layout {
  display: table;
  width: 100%;
  height: 100%;

  &-right, &-left {
    display: table-cell;
    float: none;
    transition: width 0.3s;
  }

  &-right {
    background-color: $backGroundColor2;
    border-left: 4px solid $backGroundColor1;
  }
}
