$brandColor: rgb(100, 161, 163);
$backGroundColor1: rgb(89, 89, 89);
$backGroundColor2: rgb(250, 250, 250);

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";
