{
  "presets": ["es2015", "react"],
  "retainLines": "true",
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    ['module-resolver', {
      alias: {
        app: './app/react',
        shared: './app/shared',
        api: './app/api'
      }
    }]
  ]
}
