{
  "presets": ["es2015", "react"],
  "plugins": [
    ["babel-plugin-module-alias", [
      { "src": "./app/react", "expose": "app" },
      { "src": "./app/api", "expose": "api" }
    ]],
    "transform-class-properties",
    "add-module-exports"
  ]
}
