{
  "presets": [["env", {
      "targets": {
        "node": "current"
      }
    }], "react"],
  "retainLines": "true",
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-typeof-symbol",
    "transform-class-properties",
    "add-module-exports",
    ['module-resolver', {
      alias: {
        app: './app/react',
        shared: './app/shared',
        api: './app/api',
        UI: './app/react/UI'
      }
    }]
  ]
}
