{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },

  "plugins": [ "react", "jasmine" ],

  "rules": {
    "indent": ["warn", 2, { 
      "MemberExpression": 0, 
      "CallExpression": {"arguments": "off"}, 
      "FunctionDeclaration": {"parameters": "off"}, 
      "FunctionExpression": {"parameters": "off"}, 
      "ignoreComments": true, 
      "ignoredNodes": ["JSXElement *"],
      "ArrayExpression": "off", 
      "ObjectExpression": "off"}
    ],
    "curly": 2,

    //import
    "import/extensions": "never" 
  }
}
