{
  "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true,
      "jasmine": true,
      "jest": true,
      "es6": true
    },

    "plugins": [ "react", "jasmine" ],

    "rules": {
      "indent": ["warn", 2, { 
        "MemberExpression": 0, 
        "CallExpression": {"arguments": "off"}, 
        "FunctionDeclaration": {"parameters": "off"}, 
        "FunctionExpression": {"parameters": "off"}, 
        "ignoreComments": true, 
        "ignoredNodes": ["JSXElement *"],
        "ArrayExpression": "off", 
        "ObjectExpression": "off"}
      ],
      "no-mixed-operators": "off",
      "no-underscore-dangle": "off",
      "comma-dangle": "off",
      "spaced-comment": "off",
      "object-curly-newline": "off",
      "function-paren-newline": "off",
      "react/prefer-stateless-function": "off",
      "no-confusing-arrow": "off",
      "newline-per-chained-call": "off",
      "no-prototype-builtins": "off",

      "object-curly-spacing": ["warn", "always"],
      "max-len": ["error", 150],

      //all warns are activated by default if removed
      "padded-blocks": ["warn"],
      "consistent-return": ["warn"],
      "prefer-const": ["warn"],
      "arrow-body-style": ["warn"],
      "arrow-parens": ["warn"],
      "prefer-template": ["warn"],
      "no-tabs": ["warn"],
      "object-shorthand": ["warn"],
      "prefer-destructuring": ["warn"],
      "class-methods-use-this": ["warn"],
      "no-return-assign": ["warn"],
      "no-param-reassign": ["warn"],
      "array-callback-return": ["warn"],
      "prefer-arrow-callback": ["warn"],
      "jsx-quotes": ["warn"],
      "object-property-newline": ["warn"],
      "prefer-rest-params": ["warn"],
      "import/no-mutable-exports": ["warn"],
      "global-require": ["warn"],
      "react/no-string-refs": ["warn"],
      "no-unneeded-ternary": ["warn"],
      "no-useless-escape": ["warn"],
      "arrow-spacing": ["warn"],
      "no-empty": ["warn"],
      "no-cond-assign": ["warn"],

      //import
      "import/no-duplicates": ["warn"],
      "import/no-named-as-default": ["warn"],
      "import/prefer-default-export": ["warn"],
      "import/first": ["warn"],
      "import/newline-after-import": ["warn"],
      "import/extensions": "never",
      "import/no-unresolved": "off",

      //react
      "react/self-closing-comp": ["warn"],
      "react/jsx-closing-bracket-location": ["warn"],
      "react/jsx-boolean-value": ["warn"],
      "react/jsx-indent": ["warn"],
      "react/jsx-indent-props": ["warn"],
      "react/no-array-index-key": ["warn"],
      "react/jsx-first-prop-new-line": ["warn"],
      "react/no-unused-state": ["warn"],
      "react/jsx-wrap-multilines": ["warn"],
      "react/jsx-curly-brace-presence": ["warn"],
      "react/require-default-props": ["warn"],
      "react/forbid-prop-types": ["warn"],
      "react/jsx-no-bind": ["warn"],
      "react/sort-comp": ["warn"],
      "react/jsx-closing-tag-location": ["warn"],
      "react/jsx-max-props-per-line": ["warn"],
      "react/no-unescaped-entities": ["warn"],
      "react/no-unused-prop-types": ["warn"],
      "react/jsx-no-target-blank": ["warn"],
      "react/jsx-filename-extension": "off",
      "react/jsx-tag-spacing": "off",

      //jsx-a11y
      "jsx-a11y/anchor-is-valid": ["warn"],
      "jsx-a11y/label-has-for": ["warn"],
      "jsx-a11y/iframe-has-title": ["warn"],
      "jsx-a11y/tabindex-no-positive": ["warn"],
      "jsx-a11y/no-noninteractive-element-interactions": ["warn"],
      "jsx-a11y/no-static-element-interactions": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/mouse-events-have-key-events": "off"
    }
}
