NaN.optimized
node_modules
.DS_Store
coverage
/dist
/build
*.log
npm-debug
uploads/*
uwazi-fixtures
cejil-fixtures
conversions/*.json
app/api/upload/specs/uploads/*
app/api/attachments/specs/uploads/toDelete.txt
uploaded_documents/*
!uploads/index.html
attachments/*
!attachments/index.html
