NaN.optimized
node_modules
.DS_Store
.vscode/*
.history/*
stats.json
coverage
/dist
/prod
/build
/uwazi-production
/storybook-static
*.log
*.tar.gz
npm-debug
uploads/*
cejil-fixtures
conversions/*.json
app/api/files/specs/uploads/*
app/api/migrations/**/uploads/*
!app/api/migrations/**/uploads/index.html
!app/api/files/specs/uploads/listFilesUsingDisk
app/api/files/specs/customUploads/*
!app/api/files/specs/customUploads/index.html
!app/api/files/specs/customUploads/listFilesUsingDisk
app/api/csv/specs/*.jpg
!app/api/files/specs/uploads/f2082bf51b6ef839690485d7153e847a.pdf
!app/api/files/specs/uploads/f2082bf51b6ef839690485d7153e847b.pdf
!app/api/files/specs/customUploads/customPDF.pdf
!app/api/files/specs/uploads/fileOnPublicEntity.pdf
!app/api/files/specs/uploads/eng.pdf
!app/api/files/specs/uploads/spn.pdf
!app/api/files/specs/uploads/import.zip
!app/api/files/specs/uploads/importcsv.csv
!app/api/files/specs/uploads/invalid_document.txt
!app/api/files/specs/uploads/test_s3_file.txt
!app/api/files/specs/uploads/documento.txt
app/api/attachments/specs/uploads/toDelete.txt
uploaded_documents/*
custom_uploads/*
!uploads/index.html
!attachments/index.html
!custom_uploads/index.html
.idea
.env
test
app/api/files/specs/file1
app/api/files/specs/file2
**/redis-bin
dump.rdb
data_elastic
data_mongo
e2e/**/__diff_output__/
/storage
cypress/snapshots/diff/*
cypress/videos/*
*.diff.png
*.actual.png
.trunk/*
