@import "../../App/scss/Vars.scss";

.metadata {
  padding: 1em 0;
}

.upload-documents {
  > tbody {
    > tr {
      > td {
        font-size: 16px;
        line-height: 40px;
        height: 40px;

        &:last-child {
          text-align: center;
          font-size: 1em;
        }
      }
    }
  }

  &-selected td{
    background-color: $backGroundColor2;
    border-bottom: 4px solid $backGroundColor1;
  }

  .fa {
    font-size: 20px;
    color: $hardFontColor;
    padding-left: 10px;
  }
}
