@import "../../App/scss/Vars.scss";

.metadata {
  padding: 15px;
}

.upload-documents {
  > tbody {
    > tr {
      > td {
        line-height: 40px;
        height: 40px;
      }
    }
  }

  &-selected td{
    background-color: $backGroundColor2;
    border-bottom: 4px solid $backGroundColor1;
  }

  .fa {
    font-size: 20px;
    color: $hardFontColor;
    padding-left: 10px;
  }
}
