@import "../../App/scss/Vars.scss";

.tab-button {
  color: $softFontColor;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
  border-bottom: 4px solid black;
  display: inline-block;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  @media #{$sm} {
    margin-right: 17px;
    padding: 8px;
    font-size: 1em;
  }

  @media #{$xs} {
    margin-right: 15px;
    padding: 6px;
    font-size: 0.95em;
  }

  &.active {
    color: $hardFontColor;
    text-decoration: inherit;
  }

  &:hover, &:focus {
    color: inherit;
    text-decoration: inherit;
  }

  &.green {
    border-color: $successColor;
    &.active, &:hover {
      background-color: rgba(122, 184, 96, 0.2);
    }
  }

  &.blue {
    border-color: $infoColor;
    &.active, &:hover {
      background-color: rgba(80, 140, 184, 0.2);
    }
  }

  &.pink {
    border-color: $fancyColor;

    &.active, &:hover {
      background-color: rgba(175, 77, 156, 0.2);
    }
  }
}

.panel-content {
  padding: 2em 0 2em 2em;

  .documents {

    tr {

      &:hover {
        td:last-child::after {
          border-right: 6px solid $warningColor;
        }
      }

      td {
        height: 30px;
        line-height: 30px;
        padding: 15px 0;
        position: relative;

        &:last-child::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          display: block;
          border-right: 6px solid white;
        }
      }
    }

    .document-tittle {
      font-size: 1.5em;
      font-weight: 300;
      width: 80%;
    }
  }
}

.panels-layout__panel > .search-form {
  padding: 2em 1em;
  height: auto;
  background-color: $fancyColor;
  color: white;

  h1 {
    font-weight: 100;
  }

  .form-control {
    width: inherit;
    display: inline-block;
  }
}
