.document-viewer {
	transform: translateX(0%);
	transition: all 500ms;
	&.is-active {
		transform: translateX(-20%);
	}
	&.is-active-2 {
		transform: translateX(-100%);
	}
}
.document-article {
	padding: 80px 120px;
	background: $c-white;
	border-radius: 0 !important;
	border-bottom: 1px solid $c-grey;
	box-shadow: $shadow;
	position: relative;
	font-size: $f-size-lg;
	font-family: sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	a {
		text-decoration: none !important;
		border-bottom: 1px dotted $c-grey;
		color: $c-black;
		&:hover,
		&.is-active {
			background: #EEC5FF;
			color: purple;
			border-color: purple;
		}
		&:after {
			display: inline-block;
			content: '';
			position: absolute;
			left: 100%;
			background: #EEC5FF;
			width: 10px;
			height: 40px;
			transform: translateY(-50%);
		}
		&:hover:after,
		&.is-active:after {
			background: purple;
			box-shadow: 3px 0px 8px -2px $c-grey;
		}
	}

	b {
		font-weight: normal;
		.creation-button {
			opacity: 0;
			display: block;
			position: absolute;
			background: $c-white;
			right: 0;
			width: 31px;
			height: 31px;
			line-height: 31px;
			text-align: center;
			border-radius: 50%;
			box-shadow: $shadow;
			border: 1px solid $c-grey;
			color: $c-grey-dark;
			transform: translateY(-100%) translateX(50%);
			font-size: $f-size-sm;
			cursor: pointer;
		}
		&.is-active {
			background: $c-primary-light;
			padding: 4px 0 0;
			span {
				opacity: 1;
				background: $c-success-light;
				color: $c-success;
				border-color: $c-success;
			}
		}
		.is-active &.is-active {
			background: #44DAF3;
			color: $c-white;
		}
		&.is-relation {
			background: #EEC5FF;
			color: purple;
			border-bottom: 1px dotted purple;
			span {
				opacity: 1;
				background: #EEC5FF;
				color: purple;
				border-color: purple;
			}
		}
	}
}

.comments-button {
	display: block;
	position: absolute;
	background: $c-white;
	right: -35px;
	width: 31px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	border-radius: 50%;
	box-shadow: $shadow;
	border: 1px solid $c-grey;
	color: $c-grey-dark;
	transform: translateY(-100%) translateX(50%);
	font-size: $f-size-sm;
	.fa {
		margin-right: 2px;
	}
}

.document-article-2 {
	position: fixed;
	top: 30px;
	left: 100%;
	right: -100%;
	opacity: 0;
}

.document-viewer.is-active-2 {
	.document-article {
		opacity: 0.3;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
	.document-article-2 {
		opacity: 1;
	}
}



.relation-dialog {
	position: absolute;
	right: -30px;
	transform: translateX(100%) translateY(-30%);
	background: $c-primary-lighten !important;
	border: 1px solid $c-grey !important;
	color: $c-black !important;
	padding: 5px 10px;
	opacity: 0;
	transition: right 500ms, opacity 0ms;
	width: 33%;
}

.create-modal {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: $c-primary-lighten;
	width: 400px;
	padding: 15px;
	transform: translateX(100%);
	transition: all 500ms;
	overflow-y: scroll;
	padding-bottom: 111px; /* footer height (magic number) */
	&.is-active {
		transform: translateX(0);
	}

	h1 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: $f-size-lg;
		padding-right: 30px;
		padding-bottom: 15px;
		margin: 0;
		border-bottom: 1px solid $c-grey;
	}
	.close-modal {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 20px;
		opacity: 0.5;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
	.item-group {
		padding: 15px 0px;
		margin: 0 -2px 15px;
		overflow-y: scroll;
		height: 100%;
	}
	.item {
		height: auto;
		margin-bottom: 5px;
		padding: 15px 15px 0;
		border-color: $c-white;
		&:after {
			content: '\f00c';
			font-family: FontAwesome;
			position: absolute;
			top: 30%;
		  left: 42%;
		  font-size: 40px;
			color: $c-success;
			opacity: 0;
			transition: 500ms all;
		}
		&.is-selected {
			background: $c-primary-lighten;
			color: $c-primary-light;
			border: 1px solid $c-primary-light;
			&:after {
				opacity: 1;
				top: -5px;
			}
			&:before {
				display: none;
			}
		}
		.item-name {
			font-size: $f-size;
		}
	}
}

.ref-modal {
	position: fixed;
	right: 0;
	top: 60px;
	bottom: 0;
	border-left: 1px dotted $c-grey;
	width: 400px;
	padding: 15px;
	transform: translateX(100%);
	transition: all 500ms;
	&.is-active {
		transform: translateX(0);
	}

	h1 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: $f-size-lg;
	}
	.item-group {
		padding: 15px 0px;
		margin: 0 -2px 15px;
		overflow-y: scroll;
		height: 80%;
	}
	.item {
		height: auto;
		margin-bottom: 5px;
		padding: 15px;
		border-color: $c-white;

		&.is-selected {
			&:before {
				display: none;
			}
		}
		&.leave {
			opacity: 0;
		}
		.item-name {
			font-size: $f-size;
		}
	}
}
