.search {
  padding-top: 15px;

  // scrollbar example
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 70px;
    background: $c-grey;
    position: absolute;
    top: 1px;
    right: 1px;
  }
}


.search__button--apply__filters {
  position: relative;
  border-bottom: 1px solid $c-grey;
  margin: 0;
  padding: 0 0 15px;

  .fa {
    position: absolute;
    left: 15px;
    margin-top: 4px;
  }
}


.search__filter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;

  > li:first-child {
    margin: 15px 0 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $f-size-sm;
    letter-spacing: 0.1em;
    line-height: 2em;
    width: 100%;
  }

  > li {
    line-height: 19px;
    float: left;
    width: 50%;
  }

  > li.wide {
    width: 100%;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0px 5px 0 0;
  }
}

.search__filter--list {
  ol {
    overflow-y: scroll;
    height: 130px;
    background: $c-white;
    border: 1px solid $c-grey;
    border-top: 0;
    list-style-type: none;
    padding: 0;

    li {
      border-top: 0;
      padding: 5px 12px;
    }
  }
}


.search__filter--date {
  input {
    float: left;
    width: 46.5%;
    margin-left: 1%;
  }
}
