.search {

  // scrollbar example
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 70px;
    background: $c-grey;
    position: absolute;
    top: 1px;
    right: 1px;
  }
}


.search__button--apply__filters {
  position: relative;
  border-bottom: 1px solid $c-grey;
  margin: 0;
  padding: 0 0 15px;
  z-index: 10;

  .fa {
    float: left;
    margin-top: 3px;
  }
}


.search__filter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;

  > li:first-child {
    margin: 15px 0 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $f-size-sm;
    letter-spacing: 0.1em;
    line-height: 2em;
    width: 100%;
  }

  > li {
    line-height: 19px;
    float: left;
    width: 50%;
  }

  > li.wide {
    width: 100%;
  }

  > li.is-active {
    label {
      color: $c-success;
      font-weight: bold;
    }
    .fa {
      color: $c-success;
      border-color: $c-success;
      font-weight: normal;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0px 5px 0 0;
  }
}

.search__filter--radiobutton,
.search__filter--single__selection,
.search__filter--multiple__selection {
  .fa {
    position: relative;
    margin-right: 5px;
    color: $c-grey;
    border: 1px solid $c-grey;
    width: 20px;
    line-height: 19px;
    height: 20px;
    text-align: center;
    display: block;
    float: left;
    background: $c-white;
    box-shadow: $shadow-little;
  }
}

.search__filter--radiobutton {
  .fa {
    border-radius: 50%;
  }
}

.search__filter--list {
  ol {
    overflow-y: scroll;
    height: 130px;
    background: $c-white;
    border: 1px solid $c-grey;
    border-top: 0;
    list-style-type: none;
    padding: 0;

    li {
      border-top: 0;
      padding: 5px 12px;
      .fa {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border: 1px solid $c-grey;
      }
    }
  }
}


.search__filter--date {
  .fa {
    float: left;
    width: 5%;
    text-align: center;
    line-height: 23px;
  }
  input {
    float: left;
    width: 46.5%;
    margin-left: 1%;
  }
}
