@import "../../App/scss/Vars.scss";

.viewer {

  .pages {

    @for $i from 8 through 100 {
      $pageWidth: 792px;
      $pagesContainerWidthpercentage: 0.6;
      $mobileWidth: 825px;

      $width: $i * 25px;

      @if($width < $mobileWidth) {
        $pagesContainerWidthpercentage: 0.9;
      }

      $zoom: ($width * $pagesContainerWidthpercentage) / $pageWidth;

      @if($zoom >= 1){
        $zoom: 1
      }

      @media (min-width: $width - 50px) and (max-width: $width) {
        zoom: $zoom;
      }
    }

    > div {
      border-bottom: 2px solid $softFontColor;
    }
  }

  .navbar-default {
    background-color: white;
    color: $hardFontColor;
    border-bottom: 1px solid $backGroundColor1;
  }

  .navbar-default .navbar-nav li a {
    color: $hardFontColor;
  }

  &__pages {
    .pf {
      box-shadow: none;
    }
  }
}
