@import "../../App/scss/Vars.scss";

.viewer {

  .panel-content {
    position: relative;
  }

  .pages {

    span.reference {
      background-color: yellow;
    }

    @for $i from 8 through 100 {
      $pageWidth: 792px;
      $pagesContainerWidthpercentage: 0.6;
      $mobileWidth: 825px;

      $width: $i * 25px;

      @if($width < $mobileWidth) {
        $pagesContainerWidthpercentage: 0.9;
      }

      $zoom: ($width * $pagesContainerWidthpercentage) / $pageWidth;

      @if($zoom >= 1){
        $zoom: 1
      }

      @media (min-width: $width - 50px) and (max-width: $width) {
        zoom: $zoom;
      }
    }

    > div {
      border-bottom: 2px solid $softFontColor;
    }
  }

  .navbar-default .navbar-nav li a {
    color: $hardFontColor;
  }

  &__pages {
    .pf {
      box-shadow: none;
    }
  }

  .navbar-nav li a {

    &:hover {
      background-color: $backGroundColor3;
    }

    .fa {
      font-size: 1.3em;
    }

    &.go-back {
      border: 3px solid $backGroundColor3;
      line-height: 35px;
      padding: 0 10px;
      margin-top: 7px;
    }
  }

}
