@import "../../App/scss/Vars.scss";

.viewer {

  .panel-content {
    position: relative;
  }

  .pages {

    span.reference {
      background-color: yellow;
    }

    @for $i from 8 through 100 {
      $pageWidth: 792px;
      $pagesContainerWidthpercentage: 0.6;
      $mobileWidth: 825px;

      $width: $i * 25px;

      @if($width < $mobileWidth) {
        $pagesContainerWidthpercentage: 0.9;
      }

      $zoom: ($width * $pagesContainerWidthpercentage) / $pageWidth;

      @if($zoom >= 1){
        $zoom: 1
      }

      @media (min-width: $width - 50px) and (max-width: $width) {
        zoom: $zoom;
      }
    }

    > div {
      border-bottom: 2px solid $softFontColor;
    }
  }

  .navbar-default .navbar-nav li a {
    color: $hardFontColor;
  }

  .navbar-tools {
    @media #{$xs} {
      display: none;
    }
  }

  &__pages {
    .pf {
      box-shadow: none;
    }
  }

  .go-back {
    border: 3px solid $infoColor;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    margin-top: 7px;
    display: block;
    float: left;
    color: $hardFontColor;

    .fa {
      font-size: 1.3em;
    }

    &:hover {
      text-decoration: none;
    }

    span {
      @media #{$xs} {
        display: none;
      }
    }
  }

  .navbar-nav li a {

    &:hover {
      background-color: $backGroundColor3;
    }

    .fa {
      font-size: 1.3em;
    }
  }

  .panel-tools {
    display: none;
    width: 100%;
    font-size: 1.4em;
    padding: 0;

    @media #{$xs} {
      display: table;
    }

    li {
      display: table-cell;
      text-align: center;

      a {
        color: $hardFontColor;
        display: block;
        padding: 10px 0;

        &:hover{
          background-color: $backGroundColor3;
        }
      }
    }
  }

  .ref-button {
    position:absolute;
    z-index: 10;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 1);
    font-size: 1.6em;
    color: white;
    text-align: center;
    line-height: 38px;
    right: 20px;
  }

  .ref-modal {
    position: absolute;
    z-index: 10;
    width: 95%;
    margin-left: 2.5%;
    background-color: $backGroundColor4;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 6px;

    form {
      display: table;

      input[type="text"] {
        background-color: $backGroundColor4;
        border: 2px solid $infoColor;
        line-height: 20px;
        padding: 5px;
        width: 100%;
        color: white;
      }

      div {
        width: 100%;
      }

      > * {
        display: table-cell;
      }
    }

    &-close {
      position: absolute;
      top: 0;
      right: 7px;
      color: white;
      font-size: 1.5em;
      cursor: pointer;
      z-index: 10;
    }

    &-documents {

      background-color: rgb(67, 67, 67);
      padding: 5px;
      overflow-y: scroll;
      margin-top: 10px;
      height: 150px;

      li {

        border-bottom: 1px solid rgb(53, 53, 53);
        color: white;
        list-style: none;
        padding: 5px;

        &:hover {
          background-color: rgb(53, 53, 53);
        }
      }
    }
  }
}

// document metadata, probably to become a new component

.document-metadata {
  padding: 0 10px;

  h1 {
    font-size: 1.4em;
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
  }

  .toc {
    background-color: $successColor;
  }

  .metadata {
    background-color: $infoColor;
  }

  >ul {
    padding-left: 10px;
    list-style: none;
  }

  table {
    width: 100%;
  }

  td {
    padding: 5px 10px 5px 10px;
    vertical-align: top;
    color: $hardFontColor;
  }

  td:first-child {
    width: 20%;
  }
}
