@import "Vars.scss";
@import "panels.scss";

html, body, #root, #root>div, .contents-wrapper, .contents, .contents-wrapper>div:first-child {
  height: 100%;
}

.logo-icon {
  fill: #06968F;
}

.no-padding {
  padding: 0 !important;
}

.contents-wrapper {
  padding-top: 50px;
}

.navbar-form {

  input {
    background-color: transparent;
    border: 1px solid $softFontColor;
    width: 200px;
    color: $softFontColor;
  }

  .fa {
    color: $softFontColor;
  }
}

.btn.btn-transparent {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  padding: 0 0.5em;
}

.navbar-default {

  background-color: white;
  color: $hardFontColor;
  box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 0.5);

  .navbar-brand {
    color: $brandColor;
    font-size: 2em;
    padding: 10px 15px;
  }

  @media #{$xs} {
    .navbar-collapse {
      max-height: 0;
      transition: max-height 0.25s ease-out;
      display: block;
      border-color: black;
      overflow: hidden;

      li {
        transition: opacity 0.25s ease-out;
        z-index: -10000;
        opacity: 0;
      }

      &.in {
        max-height: 340px;
        transition: max-height 0.25s ease-in;

        li {
          transition: opacity 0.25s ease-in;
          z-index: 0;
          opacity: 1;
        }
      }
    }
  }

  .navbar-nav li a {
    color: $hardFontColor;
  }
}

.navbar-toggle {
  font-size: 1.5em;
  padding: 9px 15px;
  border: 0;
  margin: 1px 5px
}

.form-control, .btn {
  border-radius: 3px;
}

.btn-primary {
  background-color: $primary;
}
