header {
  width: 100%;
}

.panel-footer {
  display: block;
}

.btn .fa {
  margin-right: 0;
}

header ul .btn .fa {
    margin-right: 5px;
}

.alert {
  display: block;
  width: 50%;
  left: 25%
}

.item-metadata .item-shortcut .fa {
  margin: 0;
}

.float-btn__sec a {
  text-decoration: none;
  color: black;
}

.float-btn__sec button {
  background: transparent;
  border: none;
}

.item-shortcut {
  color: #616E70;
}

.upload-box a {
  cursor: pointer;
}
