header {
  width: 100%;
}

.panel-footer {
  display: block;
}

.btn .fa {
    margin-right: 0px;
}

header ul .btn .fa {
    margin-right: 5px;
}

.alerts {
  z-index: 100;
  position: fixed;
  top: 60px;
  width: 100%;
}
