.panels-layout {

  overflow: hidden;
  min-height: 100%;

  &__panel {
    transition: width 0.2s;
    min-height: 100%;

    height: 100%;
    position: fixed;

    >div {
      height: 100%;
    }

    .panel-content {
      overflow-y: auto;
      height: 100%;
      padding-bottom: 50px;

      @media #{$xs} {
        overflow-y: hidden;
      }
    }

    @media #{$xs} {
      border-left: 0;

      &.active .panel-content{
        overflow-y: auto;
      }
    }

    @media #{$xs} {
      margin-bottom: 0;
      padding-bottom: 0;
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      width: 0;

      &.active {
        width: 100%;
      };
    }
  }

  &__panel:not(:first-child) {
    background-color: $backGroundColor2;
    border-left: 4px solid $backGroundColor1;
    right: 0;

    @media #{$xs} {
      width: 0;
      border: 0;

      &.active {
        width: 100%;
      };
    }
  }

  .panel-top-bar {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $backGroundColor3;
    padding: 0 15px;
    display: none;

    @media #{$xs} {
      display: block;
    }

    .btn {
      border: none;
      font-size: 2em;
    }
  }

  .panel-top-bar + .panel-content {
    @media #{$xs} {
      padding-bottom: 100px;
    }
  }
}
