.two-panel-layout {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;

  label.right-panel-show {
    display: block;
    width: 20px;
    height: 20px;
    background-color: $backGroundColor2;
    border: 1px solid $backGroundColor1;
    right: 27.7%;
    z-index: 1;
    top: 60px;
    font-size: 19px;
    padding: 1px;
    position: fixed;
  }

  &-right, &-left {
    display: table-cell;
    float: none;
    transition: width 0.3s;
  }

  &-right {
    background-color: $backGroundColor2;
    border-left: 4px solid $backGroundColor1;
  }
}
