$brandColor: rgb(100, 161, 163);
$primary: rgb(80, 140, 184);

$backGroundColor1: rgb(153, 153, 153);
$backGroundColor2: rgb(250, 250, 250);
$backGroundColor3: rgb(238, 238, 238);
$backGroundColor4: rgb(84, 84, 84);
$softFontColor: #989495;
$hardFontColor: #333;

$successColor: rgb(122, 184, 96);
$infoColor: rgb(100, 138, 183);
$warningColor: rgb(213, 133, 88);
$dangerColor: rgb(183, 104, 61);

$xxs: "(max-width: 640px)";
$xs: "(max-width: 768px)";
$sm: "(min-width: 768px) and (max-width: 992px)";
$md: "(min-width: 992px) and (max-width: 1200px)";
$lg: "(min-width: 1200px)";
