$brandColor: rgb(100, 161, 163);
$backGroundColor1: rgb(89, 89, 89);
$backGroundColor2: rgb(250, 250, 250);
$backGroundColor3: rgb(238, 238, 238);
$softFontColor: #989495;
$hardFontColor: #4C4C4C;

$xxs: "(max-width: 640px)";
$xs: "(max-width: 768px)";
$sm: "(min-width: 768px) and (max-width: 992px)";
$md: "(min-width: 992px) and (max-width: 1200px)";
$lg: "(min-width: 1200px)";
