.activity-log {
  overflow: auto;
  margin-right: -15px;
}

.activity-log-list .table > thead > tr > th,
.activity-log-list .table > tbody > tr > td {
  padding-left: 20px;
  padding-right: 20px;
}

.activity-log-list .table > tbody > tr.activitylog-beautified {
  font-size: 105%;
}

.activity-log-list .table > tbody > tr.activitylog-raw {
  font-size: 90%;
}

.activity-log-form {
  & > form {
    min-height: 60px;

    .form-group {
      min-height: 53px;
    }
  }

  padding: 20px 0;
}

@media(min-width: 769px) {
  .activity-log-form {
    & > form {
      .DatePicker__From,
      .DatePicker__To {
        margin: 0px;
        width: 49%;
        min-width: 320px;

        .react-datepicker__input-container {
          width: 100%;
        }
      }

      .DatePicker__From {
        margin-right: 1%;
      }

      .DatePicker__To {
        margin-left: 1%;
      }
    }
  }
}

.tdbody, .tdquery {
  word-break: break-word;
}

.activitylog-description {
  width: 100%;
}

.activity-log-list .table > tbody > tr > td.activitylog-time {
  white-space: nowrap;
  font-size: 13px;
}

.activitylog-prefix::after {
  content: ":";
}

.activitylog-name {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.activitylog-extra {
  color: #999;
}
