.attachment {
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 0 15px;
  margin-bottom: 10px;
  background: $c-white;
  color: $c-grey-dark;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  &:not(:first-of-type) {
    border-top: 1px solid $c-grey-lighten;
  }
}

.attachment-add {
  padding: 0 15px;
  margin-bottom: 10px;
  label:not(:first-child) {
    margin-left: 4px;
  }
}

.attachment-link {
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.attachment-thumbnail {
  height: $header-height;
  width: $header-height;
  min-width: $header-height;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $c-grey-lighten;
  color: $c-grey-dark !important;
  margin-right: 15px;
  border: 1px solid $c-grey-light !important;

  .attachment-link:hover & {
    border-color: $c-primary-light !important;
    box-shadow: 0 0 0 2px $c-primary-light;
  }

  .fa {
    font-size: 18px;
  }
  img {
    max-width: 100%;
  }
}

.attachment-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0; // flex overflow-hidden hack
  span {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: $f-size-sm;
    color: $c-primary;
    border-bottom: 1px solid $c-primary-light;

    .attachment-link:hover & {
      border-color: $c-primary;
    }

    &.attachment-size {
      display: block;
      color: $c-grey;
      border-bottom: none;
      margin-top: 5px;
    }
  }
}

.attachment-buttons {
  width: 75px;
  text-align: right;
  white-space: nowrap;

  .item-shortcut {
    opacity: 1 !important;
    border-style: solid !important;
    top: 0;
  }
}

.attachment {
  .form-group {
    margin: 0;
  }
  .input-group {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
  }
}

.set-language {
  display: flex;
  align-items: center;
  margin-top: 5px !important;

  label {
    margin-right: 5px;
  }

  .form-control {
    -webkit-appearance: menulist-button;
    height: 20px;
    padding: 0px;
  }
}

.entity-viewer {
  @media(min-width: 1024px) {
    .attachments-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 15px;
    }
    .attachment {
      border: 1px solid $c-grey-lighten;
      width: 49%;
      padding: 0 7px;
    }
  }
}
