.document-viewer {
  width: 100%;
  padding: 15px;
  transition: all 500ms;

    @media(min-width: 1024px) {
      &.with-panel,
      &.is-active {
      width: calc(100% - 400px);
    }
  }

  .cs-loader {
    height: 80px;
  }

  // Hack to solve issue selecting text in some documents
  div.c { pointer-events: none; }
  div.c>* { pointer-events: auto; padding-right: 100px; }
}

.document-article {
  padding: 80px 120px;
  background: $c-white;
  border-radius: 0 !important;
  border-bottom: 1px solid $c-grey;
  box-shadow: $box-shadow;
  position: relative;
  font-size: $f-size-lg;
  font-family: sans-serif;
}

.document-viewer {
  a.reference {
    text-decoration: none !important;
    color: inherit;
  }

  &.connections a.reference {
    background-color: $c-secondary-lighten;
  }

  a.highlighted,
  &.connections a.highlighted {
    background-color: $c-secondary-light;
    cursor: pointer;
  }

  &.connections a.is-active {
    background-color: $c-secondary;
    cursor: pointer;
  }
}

.relation-dialog {
  position: absolute;
  right: -30px;
  transform: translateX(100%) translateY(-30%);
  background: $c-primary-lighten !important;
  border: 1px solid $c-grey !important;
  color: $c-black !important;
  padding: 5px 10px;
  opacity: 0;
  transition: right 500ms, opacity 0ms;
  width: 33%;
}

.side-panel {
  .item {
    &.relationship-selected {
      background: $c-success;
    }

    &.disabled {
      opacity: 0.6;
      cursor: inherit;
    }
  }
}

.relationship-steps {
  display: flex;

  &.is-fixed {
    display: flex;
    position: fixed;
    z-index: 1;
    background: linear-gradient($c-background 0%, $c-background 70%, transparent 100%);
    top: 54px;
    width: 100%;
    left: 0;
    padding: 15px;
    @media(min-width: 1024px) {
      left: auto;
      padding: 15px 0;
    }
  }

  .btn {
    padding: 5px 10px;
    margin: 12px 10px 12px 0;
    font-size: 11px;
  }
  h2 {
    font-size: $f-size-sm;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    small {
      position: absolute;
      top: -2px;
      left: 0;
      height: 16px;
      line-height: 15px;
      border: 1px solid $c-grey;
      color: $c-grey-dark;
      width: 16px;
      text-align: center;
      border-radius: 50%;
    }
  }
}
