@import '../../scss/config/colors';
@import '../../scss/config/typography';

.entity-suggestions{
  .panel-subheading {
    font-size: $f-size-lg;
  }
  .suggestion-header {
    color: $c-grey-dark;
  }
  .suggestion-property {
    font-family: $f-special;
  }

  table {
    table-layout: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border: 0;
    border-collapse: separate;
    font-size: $f-size-sm;
    overflow-x: scroll;
  }

  tr {
    display: flex;

    &:nth-child(even) > td {
      background-color: #f5f5f5;
    }
    &:nth-child(odd) > td {
      background-color: $c-white;
    }
  }
  th {
    display: flex;
    align-items: center;
  }

  th,
  td {
    width: 6%;
    min-width: 70px;
    display: flex;
    align-content: center;
    padding: 10px;

    &.suggestion{
      width: 20%;
      text-overflow: fade;
      min-width: 150px;
    }
    &.action{
      min-width: 90px;
      padding-left: 5px;
    }
    &.title{
      width: 15%;
      min-width: 100px;
      text-overflow: fade;
    }
    &.segment{
      width: 40%;
      min-width: 100px;
    }
    &.long-segment{
      width: 55%;
    }
    &.state{
      width: 7%;
    }
  }

  th {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.07);
    height: 30px;
    padding: 8px;
    border-bottom: 2px solid $c-grey;

    &.state{
      width: 7%;
      display: flex;
      justify-content: space-between;

      &.filtered {
        color: $c-primary;
      }

      select {
        width: 17px;
        border: 0;
        margin-bottom: 0;
        text-indent: 100%;
        color: $c-grey-dark;

        &.filtered {
          color: $c-primary;
        }

        option {
          font-size: $f-size-sm;
        }
      }
    }
  }

  td {
    padding: 8px 16px;
    border-bottom: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;

    button {
      background: $c-white;
      font-size: $f-size-sm;
    }

    &.suggestion{
      border-left: 0;
      display: flex;
      flex-direction: column;
      position: relative;

      .suggested-value {
        color: $c-primary;
        display: block;
        display: -webkit-box;
        height: 2.6em;
        line-height: 1.3em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .suggestion-label{
        color: $c-grey-dark;
        font-family: $f-special;
        padding-top: 30px;
      }
    }
  }
}
