.entity-content {
  overflow-y: scroll;
}

.entity-metadata {
  left: 0 !important;
  right: auto !important;
  width: 66.666% !important;
  z-index: 3 !important;
  background: $c-white;
  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }
  .sidepanel-header {
    display: none;
  }
  .item-info {
    padding: 15px;
  }
  .item-icon {
    margin-right: 10px;
    top: 0;
  }
  .item-name {
    font-weight: 300;
    font-size: 18px !important;
  }
  dt {
    width: 25%;
  }
  dd {
    width: 75%;
    
    .item-icon {
      margin-right: 4px;
      top: -2px;
    }
  }
}

.entity-connections {
  right: 0 !important;

  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }
}

.entity-content {
  z-index: 3;
  max-width: 9999px;
}