.entity-content {
  overflow-y: scroll;
}

.entity-metadata {
  left: 0 !important;
  right: auto !important;
  width: 50% !important;
  z-index: 3 !important;
  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }
  .sidepanel-header {
    display: none;
  }
  .item-info {
    padding: 30px;
  }
  .item-icon {
    margin: -7px 10px 0 0;
  }
  .item-name {
    font-weight: 300;
    font-size: $f-size-xl !important;
  }
  .view {
    padding: 15px;
  }
  dt {
    width: 25%;
  }
  dd {
    width: 75%;
  }
}

.entity-connections {
  right: 0 !important;
  width: 50% !important;
  background: $c-grey-lighten !important;

  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }

  .sidepanel-header {
    background: $c-grey-lighten;
  }

  .item-group {
    padding: 15px;
  }
  @media(min-width: 1024px) {
    .item {
      width: 49% !important;
      margin-right: 2%;
    }
    .item:nth-child(2n+1) {
      margin-right: 0;
    }
  }
  .item-metadata {
    display: none;
  }
}
