.entity-content {
  overflow-y: scroll;
  
}

@media(min-width: 1024px) {
  .entity-viewer ~ .sidepanel-footer {
    left: calc((100% - 400px)/2);
  }
}

.entity-viewer {
  position: relative;
  width: 100%;
  height: calc(100% - 51px);
  padding: 15px;
  background: $c-white;
  overflow-y: scroll;
  
  @media(min-width: 1024px) {
    width: calc(100% - 400px) !important;
  }
}

.entity-connections {
  right: 0 !important;

  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }
}

.entity-content {
  z-index: 3;
  max-width: 9999px;

  .side-panel {
    top: $header-height * 2 + 1 !important;
  }
}

.entities-list {
  padding: 15px;
  margin: 0;
  list-style: none;
  
  li {
    display: -webkit-flex;
    display: flex;
    padding: 5px 0;
  }
  
  .item-type {
    float: left;
    width: auto;
    max-width: 25%;
  }
  
  .entity-title {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}