@use "../config/colors";

.translation.active {
  border-bottom: 2px dashed colors.$c-active-feature;
  cursor: pointer;
}

.menuNav-btn.inlineEdit.active {
  border-color: colors.$c-active-feature;
  background-color: white;
}
