.order-by-arrow {
  color: $c-primary;
  font-size: 20px;
  width: 15px;
  height: 13px;
  line-height: 18px;
  cursor: pointer;
  margin-left: 5px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -1px;

  &:hover {
    color: $c-black;
  }

  &.fa-long-arrow-down:before {
    position: relative;
    bottom: 5px;
  }
}

.Dropdown.is-active {
  .order-by-arrow {
    display: none;
  }
}

.uploads-viewer .item,
.library-viewer .item,
.entity-viewer .item-group .item {
  @media(min-width: 564px) {
    width: calc(50% - 15px);
  }

  @media(min-width: 860px) {
    width: calc(33.33% - 15px);
  }

  @media(min-width: 1024px) {
    width: calc(50% - 15px);
  }

  @media(min-width: 1280px) {
    width: calc(33.33% - 15px);
  }

  @media(min-width: 1440px) {
    width: calc(25% - 15px);
  }

  @media(min-width: 1920px) {
    width: calc(20% - 15px);
  }

  @media(min-width: 2240px) {
    width: calc(16.666% - 15px);
  }
}

.library-viewer .item-group,
.uploads-viewer .item-group,
.entity-viewer .item-group {
  margin-right: -15px;
}

.library-map > .map-container {
  position: absolute;
  top: 0;
  left: 0;
}

.library-map-layout {
  padding: 0;

  .list-view-mode .buttons-group {
    top: 15px;
    right: 15px;
  }

  .search-list {
    margin: 0;
    position: relative;
    top: 15px;
    left: 15px;
  }

  .documents-counter {
    z-index: 1;
    position: relative;
    top: 18px;
    left: 15px;
    color: #555;
    text-shadow: 1px 1px #fff;
    b {
      color: #555;
    }
  }
}

.list-view-mode {
  position: relative;
  .buttons-group {
    position: absolute;
    right: 0;
    height: 28px;
    margin: 0;
    z-index: 1;

    .btn {
      margin-left: 3px;
      height: $header-height * 0.88;
      line-height: $header-height * 0.88;
      width: $header-height * 0.88;
      border-radius: 50%;
      padding: 0;
      text-align: center;
    }

    .btn.is-active {
      background-color: $c-type-9;
      color: white;
    }
  }
}
