.order-by-arrow {
  color: $c-primary;
  font-size: 20px;
  width: 15px;
  height: 13px;
  line-height: 18px;
  cursor: pointer;
  margin-left: 5px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -1px;

  &:hover {
    color: $c-black;
  }
  
  &.fa-long-arrow-down:before {
    position: relative;
    bottom: 5px;
  }
}

.Dropdown.is-active {
  .order-by-arrow {
    display: none;
  }
}

.library-viewer .item {
  @media(min-width: 564px) {
    width: calc(50% - 7px);
  }

  @media(min-width: 860px) {
    width: calc(33.33% - 10px);
  }

  @media(min-width: 1024px) {
    width: calc(50% - 7px);
  }

  @media(min-width: 1280px) {
    width: calc(33.33% - 10px);
  }

  @media(min-width: 1440px) {
    width: calc(25% - 11px);
  }

  @media(min-width: 1920px) {
    width: calc(20% - 12px);
  }

  @media(min-width: 2240px) {
    width: calc(16.666% - 12px);
  }
}
