.order-by-arrow {
  color: $c-primary;
  font-size: 15px;
  width: 15px;
  line-height: 18px;
  cursor: pointer;
  border-bottom: 1px dotted $c-primary;
  margin-left: 5px;
  text-align: center;
  
  &:hover {
    color: $c-primary-dark;
  }
}

.Dropdown.is-active {
  .order-by-arrow {
    display: none;
  }
}
