.markdownEditor {
  position: relative;

  textarea {
    padding: 15px;
    font-family: "Courier", monospace;
  }
  .tab-nav {
    position: absolute;
    right: 0;
    bottom: 100%;
  }
  .tab-link {
    display: inline-block;
    padding: 5px 5px 0;
    font-size: $f-size-xs;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    color: $c-grey-dark;
    border-bottom: 1px dotted $c-white;
    &:hover {
      text-decoration: none;
      color: $c-black;
      border-bottom: 1px dotted $c-black;
    }
    &.tab-link-active {
      color: $c-primary;
      font-weight: bold;
      border-bottom: 1px solid $c-primary;
    }
  }
}

.markdownViewer {
  background: $c-white;
  box-shadow: 0 0 0 9999px $c-white;
  
  h1 {
    font-weight: 600;
    font-size: 32px;
    margin: 60px 0 30px;
  }
  h2 {
    font-family: $f-regular;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid $c-grey;
    margin: 60px 0 15px;
  }
  h3 {
    font-family: $f-regular;
    font-size: 20px;
    margin: 45px 0 15px;
  }
  blockquote {
    max-width: 66%;
    padding: 0;
    font-style: italic;
    font-weight: 300;
    border: 0;
    p {
      font-size: 20px;
    }
  }
  code {
    padding: 3px 6px 2px;
    position: relative;
    top: -2px;
    font-size: 12px;
    margin-right: 4px;
    color: $c-primary;
    background-color: $c-primary-lighten;
  }
  a {
    display: inline-block;
    color: $c-primary;
    border-bottom: 1px dotted $c-primary-light;
    text-decoration: none !important;
    padding: 0 2px;
    &:hover {
      color: $c-primary;
      border-bottom: 1px solid $c-primary;
      background-color: $c-primary-lighten;
    }
  }
  img {
    max-width: 100%;
  }
  p, li {
    font-family: $f-regular;
    font-size: 16px;
  }
  li {
    margin-bottom: 5px;
  }

  th {
    padding: 5px;
    text-transform: uppercase;
    &:first-child {
      padding: 5px 5px 5px 0;
    }
  }

  td {
    padding: 5px;
    &:first-child {
      padding: 5px 5px 5px 0;
    }
  }
}

.panel-body {
  .markdownEditor {
    margin-top: 15px;
  }
  .tab-link {
    padding: 15px 15px 0;
    font-size: $f-size-sm;
  }
}
