.markdownEditor {
  position: relative;

  textarea {
    padding: 15px;
    font-family: "Courier", monospace;
  }
  .tab-nav {
    position: absolute;
    right: 0;
    bottom: 100%;
  }
  .tab-link {
    display: inline-block;
    padding: 5px 5px 0;
    font-size: $f-size-xs;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    color: $c-grey-dark;
    border-bottom: 1px dotted $c-white;
    &:hover {
      text-decoration: none;
      color: $c-black;
      border-bottom: 1px dotted $c-black;
    }
    &.tab-link-active {
      color: $c-primary;
      font-weight: bold;
      border-bottom: 1px solid $c-primary;
    }
  }
  .tab-content {
    float: left;
    width: 100%;
  }
}

.markdownEditor,
.markdownViewer {
  h1 {
    font-weight: 600;
    font-size: 32px;
    margin: 60px 0 30px;
  }
  h2 {
    font-family: $f-regular;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid $c-grey;
    margin: 60px 0 15px;
  }
  h3 {
    font-family: $f-regular;
    font-size: 20px;
    margin: 45px 0 15px;
  }
  blockquote {
    max-width: 66%;
    padding: 0;
    font-style: italic;
    font-weight: 300;
    border: 0;
    p {
      font-size: 20px;
    }
  }
  code {
    padding: 3px 6px 2px;
    position: relative;
    top: -2px;
    font-size: 12px;
    margin-right: 4px;
    color: $c-primary;
    background-color: $c-primary-lighten;
  }
  p a,
  td a {
    display: inline;
    color: $c-primary;
    border-bottom: 1px dotted $c-primary-light;
    text-decoration: none !important;
    padding: 0 2px;
    &:hover {
      color: $c-primary;
      border-bottom: 1px solid $c-primary;
    }
  }
  img {
    max-width: 100%;
  }
  p, li {
    font-family: $f-regular;
    font-size: 16px;
  }
  li {
    margin-bottom: 5px;
  }

  table {
    width: 100%;
  }
  th, td {
    padding: 7px 10px;
  }
  th {
    font-family: $f-special;
    font-weight: 300;
    background-color: $c-primary-lighten;
  }
  th:not(:last-of-type) {
    border-right: 1px solid $c-white;
  }
  tr:not(:last-of-type) {
    border-bottom: 1px solid $c-grey-light;
  }
}

.panel-body {
  .markdownEditor {
    margin-top: 15px;
  }
  .tab-link {
    padding: 15px 15px 0;
    font-size: $f-size-sm;
  }
}

.side-panel {
  .markdownViewer,
  .markdownEditor {
    p {
      font-size: $f-size;
    }
  }
}

.item {
  .markdownViewer,
  .markdownEditor {
    p {
      font-size: $f-size-sm;
    }
  }
}