.metadataTemplate-heading {
  display: flex;

  > form:first-child {
    flex: 1;
    margin-right: 15px;

    .form-control {
      font-size: 20px;
      border: 1px solid transparent;
      background: 0;
      box-shadow: none;
      &:hover {
        border: 1px solid #DDD;
        cursor: pointer;
      }
      &:focus,
      &:active {
        border: 1px solid #CCC;
        background: #FFF;
      }
    }
  }
  .form-group {
    margin: 0;
  }
}

.metadata {
  padding: 30px;

  h1 {
    margin-top: 0;
    border-bottom: 1px solid $c-grey-light;
    padding-bottom: 15px;
    margin-bottom: 15px;
    small {
      font-size: $f-size-sm;
      margin-left: 5px;
    }
  }
  input {
    padding: 5px 10px;
  }

  .panel>.list-group {
    padding: 15px 15px;
    background: $c-grey-light;

    .list-group-item {
      margin: 15px 0;
      line-height: 22px;
      border: 0;
      box-shadow: $shadow;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .list-group-item {
    .btn {
      margin-left: 5px;
    }
    .fa-arrows-v {
      margin: 0 25px 0 0;
      color: $c-grey;
    }
    .expand {
      border-top: 1px solid $c-grey-light;
      padding: 15px 0 0 30px;
      margin-top: 15px;
    }
    &.validation {
      border-bottom: 1px solid #ED353D !important;
      color: #ED353D;
    }
  }
}


.notification {
  margin-top: 15px;
  .fa {
    margin-right: 5px;
  }
}

.template .list-group-item .btn-default,
.template .list-group-item .btn-danger {
  margin-left: 5px;
  position: relative;
  right: -5px;
  top: -2px;
}
