@use "../config/colors";

form {
  .highlight {
    .multiselect {
      background-color: colors.$c-card-highlight;
      border: 1px solid colors.$c-shadow;
      border-radius: 6px;
      padding: 0 3px;
    }

    input,
    select,
    textarea {
      background-color: colors.$c-card-highlight;
    }
  }
}
