aside {
  .view {
    padding: 15px;
    dl {
      padding: 15px;
      border-top: 1px solid $c-grey-lighten;
      margin: 0;
    }
    dl:first-child {
      border-top: 0;
    }
    dt {
      float: left;
      width: 25%;
      font-weight: 300;
      font-style: normal;
      font-family: $f-special;
      margin-bottom: 5px;
    }
    dd {
      width: 75%;
      margin: 0;
    }
  }
  .btn-block {
    padding: 10px 15px;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $f-size-sm;
    font-weight: bold;
  }
}
