.library-filters {
  z-index: 6;
  top: 0;
  @media(min-width: 1024px) {
    z-index: 4;
    top: $header-height;
    &.is-hidden {
      right: 0;
    }
  }
}

.search-box {
  position: relative;
  display: block;
  width: calc(100% - 100px);
  @media(min-width: 1024px) {
    width: 66.25%;
  }

  .input-group {
    width: 100%;
  }
  .form-control {
    height: $header-height * 0.88;
    padding-left: 15px;
    padding-right: 35px;
    font-size: $f-size-lg;
    border: 0;
    border: 1px solid $c-grey-light !important;
    box-shadow: $box-shadow;
    z-index: 4;

    @include placeholder($c-black);

    &:focus {
      box-shadow: none;
      @include placeholder(transparent);
    }
  }
  .input-group .fa-search,
  .input-group .fa-close {
    position: absolute;
    line-height: $header-height;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
  .input-group .fa-search {
    right: 20px;
    font-size: $f-size-lg;
    cursor: pointer;
  }
  .input-group .fa-close {
    display: none;
    right: 50px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: $f-size-sm;
    color: $c-grey;
    border: 1px solid $c-grey;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: $c-black;
      border-color: $c-black;
    }
  }
  .input-group.is-active .fa-close {
    display: block;
  }
}

.search-button {
  position: relative;
  display: block;
  border-radius: 0;
  border: 0;
  float: right;
  width: $header-height;
  height: $header-height;
  line-height: $header-height + 2px;
  padding: 0;
  z-index: 3;
  @media(min-width: 1024px) {
    display: none;
  }

  &,
  &:hover,
  &:active {
    @if $theme == light {
      color: $c-black;
    } @else {
      color: $c-white;
    }
    box-shadow: none;
  }

  &.is-active {
    position: absolute;
    width: $header-height;
    margin-left: 0;
    @if $theme == light {
      color: $c-black;
      background-color: $c-white;
      border-color: $c-white;
    } @else {
      color: $c-white;
      background-color: $c-theme;
      border-color: $c-theme;
    }
    @media(min-width: 454px) {
      right: 400px;
    }
    @media(min-width: 1024px) {
      position: relative;
      right: 0;
    }

    &:hover {
      @if $theme == light {
        color: $c-black;
        background-color: $c-white;
      } @else {
        color: $c-white;
        background-color: $c-theme-dark;
      }
    }
  }

  .fa {
    margin: 0 5px;
  }
}

@media(max-width: 1023px) {
  .searchButton-open span {
    display: none;
  }
}

.searchButton-open { display: inline-block; }
.searchButton-close { display: none; }

.search-button.is-active {
  .searchButton-open { display: none; }
  .searchButton-close { display: inline-block; }
}

.search-suggestions {
  display: none !important;
  position: absolute;
  top: $header-height - 1px;
  left: 0;
  width: 100%;
  background: $c-white;
  z-index: 40;
  color: $c-black;
  border-bottom: 1px solid $c-grey-light;
  line-height: 1em;
  &.is-active {
    display: block;
    box-shadow: $box-shadow;
  }
}

.search-suggestions-item {
  position: relative;
  margin: 0;
  border-top: 1px solid $c-grey-light;
  &:hover {
    background: $c-grey-lighten;
  }

  a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 35px;
    margin-right: 40px;
    height: $header-height;
    line-height: 1.3em;
    color: $c-black;
    text-decoration: none;
  }
  b {
    background-color: transparentize(yellow, 0.4);
    box-shadow: -2px 0 0 0 transparentize(yellow, 0.4), 2px 0 0 0 transparentize(yellow, 0.4);
  }

  .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

.search-suggestions-all {
  display: block;
  width: 100%;
  line-height: $header-height;
  padding: 0;
  background: $c-grey-lighten;
  border: 0;
  border-top: 1px solid $c-grey-light;
  box-shadow: none !important;
  outline: none !important;
  &:hover {
    background: $c-grey-light;
  }

  .fa {
    margin-right: 5px;
  }
  button {
    width: 100%;
    text-align: left;
  }
}

.filters-box {
  .empty-state {
    color: $c-grey;
    text-align: center;
    padding: 30px;

    .fa {
      display: block;
      font-size: $f-size-xl;
      margin: 0 auto 5px;
    }
  }
}

.filters {
  display: none;
}

.search__filter {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  color: $c-grey-dark;

  &:not(:last-child),
  .form-group:not(:last-child) & {
    border-bottom: 1px solid $c-grey-light;
  }

  > li:first-child {
    position: relative;
    margin: 0;
    width: 100%;
    font-weight: 300;
    font-style: normal;
    font-family: $f-special;
    margin-bottom: 0;
    color: $c-grey-dark;
    line-height: inherit;
    label {
      font-size: $f-size;
      text-transform: none;
      letter-spacing: 0;
      font-weight: 300;
    }
  }

  > li {
    line-height: 19px;
    width: 50%;
  }

  > li.wide {
    width: 100%;

    > div {
      display: table;
      width: 100%;
    }
  }

  .fa-caret-left {
    color: $c-success;
  }
  .fa-caret-left + span {
    margin-left: 5px;
    color: $c-success;
  }

  .fa-close {
    color: $c-danger;
  }
  .fa-close + span {
    margin-left: 5px;
    color: $c-danger;
    cursor: pointer;
  }
}

.search__filter--type {
  background: transparent;

  input,
  label {
    cursor: pointer;
    margin: 0;
  }
  label {
    font-family: $f-regular !important;
    font-size: $f-size !important;
    font-weight: bold;
  }
  .btn {
    width: 97%;
    margin-bottom: 5px;
  }
}


.search__filter--radiobutton,
.search__filter--single__selection,
.search__filter--multiple__selection {
  input {
    position: relative;
    margin-right: 2px;
    cursor: pointer;
  }
}

.search__filter--single__selection li {
  width: 100%;
}

.search__filter--radiobutton {
  .fa {
    border-radius: 50%;
  }
}

.search__filter--list {
  ol {
    overflow-y: scroll;
    height: 130px;
    background: $c-white;
    border: 1px solid $c-grey;
    border-top: 0;
    list-style-type: none;
    padding: 0;

    li {
      border-top: 0;
      padding: 5px 12px;
    }
    input {
      margin-right: 5px;
    }
  }
}


.search__filter--date {
  .fa {
    float: left;
    width: 5%;
    text-align: center;
    line-height: 23px;
  }
  input {
    float: left;
    width: 46.5%;
    margin-left: 1%;
  }
}

.switcher-wrapper {
  float:right;
  span {
    font-family: $f-regular;
    font-size: $f-size-sm;
    letter-spacing: 0.1em;
    color: $c-grey;
  }
  span.is-active {
    color: $c-primary;
    font-weight: bold;
  }

  div {
    display: inline;
  }

  input {
    display: none;
  }
}

.switcher {
  $switcher-height: 9px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: $switcher-height;
  margin: 0 3px;
  background-color: lighten($c-primary, 10%);
  border-radius: $switcher-height / 2;
  border: 1px solid $c-primary;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: $switcher-height - 2;
    height: $switcher-height - 2;
    background-color: $c-white;
    border-radius: 50%;
  }
  :checked + & {
    &:after {
      right: auto;
      left: 0;
    }
  }
}

.nested-strict {
  display: inline;
  position: absolute;
  right: -5px;

  & > div,
  & > label {
    float: left;
    cursor: pointer;
  }
}

.multiselect {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &:not(:last-child) {
    border-bottom: 1px dotted $c-grey;
  }
}

.multiselectChild {
  padding: 0 0 0 18px;
}

.multiselectLabel {
  font-family: $f-special;
  position: relative;
  margin-bottom: 8px;

  input.form-control {
    border: 0;
    border-bottom: 1px solid $c-grey;
    border-radius: 0;
    box-shadow: none;
    padding-left: 26px;

    &:focus {
      border-bottom-color: $c-black;
    }
  }

  .fa {
    color: $c-grey;
    position: absolute;
    top: 9px;
    left: 6px;
  }

  input.form-control:focus ~ .fa {
    color: $c-black;
  }
}
.multiselectLabel-icon {
  float: right;
  font-size: $f-size-lg;
}

.multiselectItem {
  display: flex;
  align-items: center;
  position: relative;
}

.multiselectItem-name {
  color: $c-grey-dark;
  max-width: calc(100% - 50px);

  .multiselectItem-label:hover & {
    text-decoration: underline;
  }
}

.multiselectItem-results {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: $f-size;
  font-weight: 300;
  width: 30px;
  line-height: 24px;
  height: 24px;
  padding-right: 3px;
  color: $c-grey-dark;
  text-align: right;
}

.multiselectItem-action {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 100%;
  font-size: $f-size-sm;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid $c-grey;
  border-radius: $border-radius;
  &:hover {
    border-color: $c-black;
    cursor: pointer;
  }
}

.multiselectItem-input {
  display: none;
}

.multiselectItem-icon {
  width: 20px;
  font-size: $f-size-lg;
  color: $c-grey;

  &:first-of-type {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

.multiselectItem-label {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.multiselectItem--all {
  label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $f-size-sm;
    position: relative;
    top: -1px;
  }
}

.multiselectActions {
  padding-top: 8px;
  position: relative;
  display: flex;
  .form-group {
    position: relative;
    display: inline-block;
    .fa {
      position: absolute;
      top: 5px;
      left: 1px;
      color: $c-black;
      cursor: pointer;
    }
  }
  .form-control,
  .btn {
    height: 24px;
    line-height: 24px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    color: $c-black;
    background: transparent;
    box-shadow: none !important;
    &:hover,
    &:focus {
      border-color: $c-black;
      background: transparent;
    }
  }
  .form-control {
    width: auto;
    padding-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    @include placeholder($c-black);

    &:focus {
      cursor: text;
      @include placeholder(transparent);
    }
  }
  .btn {
    display: inline-block;
    padding: 0 3px;
    margin-right: 15px;
    .fa {
      margin-right: 10px !important;
    }
  }
}

// multiselect is active

.multiselect.is-active {

  .multiselectLabel-icon:first-of-type { display: none; }
  .multiselectLabel-icon:last-of-type  { display: inline-block; }

  .multiselectItem {
    line-height: 1.2em;
    padding: 5px;
    margin: 0 -5px;
  }

  .multiselectItem-input:not(:checked) + label .multiselectItem-icon:first-of-type { display: inline-block; }
  .multiselectItem-input:not(:checked) + label .multiselectItem-icon:last-of-type  { display: none; }
        .multiselectItem-input:checked + label .multiselectItem-icon:first-of-type { display: none; }
        .multiselectItem-input:checked + label .multiselectItem-icon:last-of-type  { display: inline-block; }

  .multiselectItem-input:checked + label .multiselectItem-name,
  .multiselectItem-input:checked + label .multiselectItem-results,
  .multiselectItem-input:checked ~ .multiselectItem-results {
    color: $c-black;
    font-weight: bold;
  }

  .multiselectItem-input:checked + label .multiselectItem-icon {
    color: $c-success;
  }
}

.search__filter:not(.is-active) {
  .multiselectItem-input:checked + label .multiselectItem-name,
  .multiselectItem-input:checked + label .multiselectItem-icon,
  .multiselectItem-input:checked + label .multiselectItem-results,
  .multiselectItem-input:checked ~ .multiselectItem-results {
    color: $c-grey;
    font-weight: bold;
  }
}

// multiselect is not active
.multiselect:not(.is-active) {

  .multiselectLabel-icon:first-of-type { display: inline-block; }
  .multiselectLabel-icon:last-of-type  { display: none; }

  .multiselectItem {
    display: inline;
  }
  .multiselectItem-icon {
    display: none;
  }

  .multiselectItem-label {
    margin: 3px 6px 3px 0;
    padding: 3px 6px 3px 9px;
    font-size: $f-size-sm;
    background: $c-grey-lighten;
    color: $c-black;
    border-radius: $border-radius;
    line-height: 1.7em;

    &:after {
      content: 'x';
      display: inline-block;
      width: 14px;
      line-height: 13px;
      padding: 0px 3px 1px 3px;
      margin-left: 5px;
      text-align: center;
      background: $c-black;
      color: $c-white;
      border-radius: 50%;
    }
  }

  .multiselectItem-input:not(:checked) ~ .multiselectItem-label {
    display: none;
  }
}
/**/

.nested-selector {
  padding: 15px;
  border-bottom: 1px solid $c-grey-light;
}

.documentTypes-title {
  position: relative;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-style: normal;
  font-family: $f-special;
  margin-bottom: 0;
  color: $c-black;
  line-height: inherit;
}

.DatePicker__From,
.DatePicker__To,
.Numeric__From,
.Numeric__To {
  position: relative;
  float: left;
  width: 100%;
  margin: 5px 0;
  background: $c-white;
  border-radius: 4px;

  span {
    display: inline-block;
    line-height: 34px;
    width: 50px;
    position: absolute;
    color: $c-grey-dark;
    padding-left: 10px;
  }
  & > div {
    width: 100%;
    z-index: 1;
  }
  input {
    padding-left: 60px;
    padding-right: 0;
    background: transparent;
  }
}

.DatePicker__From,
.DatePicker__To {
  input {
    cursor: pointer;
  }
}

.DatePicker__From,
.Numeric__From {
  margin-bottom: 0;
}

.multidate {

  .add {
    margin-bottom: 5px;
  }

  &-item {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
  }

  &-range {
    width: 100%;
    padding-right: 15px;
  }
}

.snippet-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 15px;
    font-size: $f-size-sm;
    line-height: 1.8em;
  }

  li:not(:last-of-type) {
    border-bottom: 1px solid $c-grey-light;
  }
  a {
    min-width: 30px;
    line-height: 50px;
  }

  b {
    font-weight: normal;
    color: #333300;
    background-color: transparentize(yellow, 0.8);
    // box-shadow: -2px 0 0 0 transparentize(yellow, 0.4), 2px 0 0 0 transparentize(yellow, 0.4);
  }
}
