.library-filters {
  top: 0;
  @media(min-width: 1024px) {
    top: $header-height;
    &.is-hidden {
      right: 0;
    }
  }
}

.search-box {
  position: relative;
  display: block;
  width: 100%;

  .input-group {
    width: 100%;
  }
  .form-control {
    height: $header-height;
    padding-left: 35px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $c-grey-light;
    box-shadow: none;
    z-index: 4;

    &::-webkit-input-placeholder {
      color: $c-black;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $c-black;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $c-black;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $c-black;
    }

    &:focus {
      box-shadow: none;
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }
    }
  }
  .input-group .fa-search,
  .input-group .fa-close {
    position: absolute;
    line-height: $header-height;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
  .input-group .fa-search {
    left: 15px;
  }
  .input-group .fa-close {
    display: none;
    right: 15px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    padding: 1px;
    font-size: 11px;
    color: $c-white;
    background: $c-bootstrap-primary;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: $c-bootstrap-primary-dark;
    }
  }
  .input-group.is-active .fa-close {
    display: block;
  }
}

.search-button {
  position: relative;
  display: block;
  border-radius: 0;
  border: 0;
  float: right;
  width: $header-height;
  height: $header-height;
  line-height: $header-height + 2px;
  padding: 0;
  z-index: 3;
  @media(min-width: 1024px) {
    display: none;
  }

  &,
  &:hover,
  &:active {
    @if $theme == light {
      color: $c-primary-dark;
    } @else {
      color: $c-white;
    }
    box-shadow: none;
  }

  &.is-active {
    position: absolute;
    width: $header-height;
    margin-left: 0;
    @if $theme == light {
      color: $c-black;
      background-color: $c-white;
      border-color: $c-white;
    } @else {
      color: $c-white;
      background-color: $c-primary;
      border-color: $c-primary;
    }
    @media(min-width: 454px) {
      right: 400px;
    }
    @media(min-width: 1024px) {
      position: relative;
      right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      @if $theme == light {
        color: $c-black;
        background-color: $c-white;
      } @else {
        color: $c-white;
        background-color: $c-primary;
      }
    }
  }

  .fa {
    margin: 0 5px;
  }
}

@media(max-width: 1023px) {
  .searchButton-open span {
    display: none;
  }
}

.searchButton-open { display: inline-block; }
.searchButton-close { display: none; }

.search-button.is-active {
  .searchButton-open { display: none; }
  .searchButton-close { display: inline-block; }
}

.search-suggestions {
  display: none;
  position: absolute;
  top: $header-height - 1px;
  left: 0;
  width: 100%;
  background: $c-white;
  z-index: 40;
  color: $c-black;
  border-bottom: 1px solid $c-grey-light;
  line-height: 1em;
  &.is-active {
    display: block;
    box-shadow: $box-shadow;
  }
}

.search-suggestions-item {
  position: relative;
  margin: 0;
  border-top: 1px solid $c-grey-light;
  &:hover {
    background: $c-grey-lighten;
  }
  
  a {
    display: block;
    padding-left: 35px;
    margin-right: 40px;
    line-height: $header-height;
    color: $c-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  b {
    background: $c-secondary-light;
    box-shadow: 0 0 0 2px rgba(255, 204, 102, 0.3);
  }
  
  .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

.search-suggestions-all {
  display: block;
  width: 100%;
  line-height: $header-height;
  padding: 0;
  background: $c-grey-lighten;
  border: 0;
  border-top: 1px solid $c-grey-light;
  box-shadow: none !important;
  outline: none !important;
  &:hover {
    background: $c-grey-light;
  }

  .fa {
    margin-right: 5px;
  }
}

.filters-box {
  .empty-state {
    color: $c-grey-dark;
    text-align: center;
    padding: 45px;

    .fa {
      display: block;
      font-size: 30px;
      height: 54px;
      line-height: 54px;
      margin: 0 auto;
    }
  }
  .no-filters {
    display: none;
  }
  .title {
    padding: 15px;
    color: $c-grey-dark;

    .fa {
      margin-right: 5px;
    }
  }
}

.filters {
  display: none;
}

.search__filter {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  color: $c-grey-dark;

  &:not(:last-child),
  .form-group:not(:last-child) & {
    border-bottom: 1px dotted $c-grey-light;
  }

  > li:first-child {
    position: relative;
    margin: 0;
    width: 100%;
    font-weight: 300;
    font-style: normal;
    font-family: $f-special;
    margin-bottom: 0;
    color: $c-black;
    line-height: inherit;
    label {
      font-size: $f-size;
      text-transform: none;
      letter-spacing: 0;
      font-weight: 300;
    }
  }

  > li {
    line-height: 19px;
    width: 50%;
  }

  > li.wide {
    width: 100%;

    > div {
      display: table;
      width: 100%;
    }
  }

  .fa-caret-left {
    color: $c-success;
  }
  .fa-caret-left + span {
    margin-left: 5px;
    color: $c-success;
  }

  .fa-close {
    color: $c-danger;
  }
  .fa-close + span {
    margin-left: 5px;
    color: $c-danger;
    cursor: pointer;
  }
}

.search__filter--type {
  background: transparent;

  input,
  label {
    cursor: pointer;
    margin: 0;
  }
  label {
    font-family: $f-regular !important;
    font-size: $f-size !important;
    font-weight: bold;
  }
  .btn {
    width: 97%;
    margin-bottom: 5px;
  }
}


.search__filter--radiobutton,
.search__filter--single__selection,
.search__filter--multiple__selection {
  input {
    position: relative;
    margin-right: 2px;
    cursor: pointer;
  }
}

.search__filter--single__selection li {
  width: 100%;
}

.search__filter--radiobutton {
  .fa {
    border-radius: 50%;
  }
}

.search__filter--list {
  ol {
    overflow-y: scroll;
    height: 130px;
    background: $c-white;
    border: 1px solid $c-grey;
    border-top: 0;
    list-style-type: none;
    padding: 0;

    li {
      border-top: 0;
      padding: 5px 12px;
    }
    input {
      margin-right: 5px;
    }
  }
}


.search__filter--date {
  .fa {
    float: left;
    width: 5%;
    text-align: center;
    line-height: 23px;
  }
  input {
    float: left;
    width: 46.5%;
    margin-left: 1%;
  }
}


.switcher {
  position: relative;
  top: 2px;
  display: inline-block;
  background: $c-grey;
  width: 20px;
  height: 12px;
  margin-left: 6px;
  border-radius: $border-radius;
  cursor: pointer;
  &:after {
    background: $c-white;
    width: 8px;
    height: 8px;
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
  }
  .search__filter.is-active & {
    background: $c-success;
    &:after {
      left: auto;
      right: 2px;
    }
  }
}

.nested-strict {
  display: inline;
  position: absolute;
  right: 40px
}

.multiselect {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &:not(:last-child) {
    border-bottom: 1px dotted $c-grey-light;
  }
}

.multiselectChild {
  padding-left: 22px;
}

.multiselectLabel {
  font-family: $f-special;
  position: relative;
  margin-bottom: 8px;

  input.form-control {
    border: 0;
    border-bottom: 1px solid $c-grey-light;
    border-radius: 0;
    box-shadow: none;
    padding-left: 26px;

    &:focus {
      border-bottom-color: $c-primary;
    }
  }

  .fa {
    color: $c-grey-light;
    position: absolute;
    top: 9px;
    left: 6px;
  }

  input.form-control:focus ~ .fa {
    color: $c-primary;
  }
}
.multiselectLabel-icon {
  float: right;
  font-size: $f-size-lg;
}

.multiselectItem {
  display: flex;
  align-items: center;
  position: relative;
}

.multiselectItem-name {
  color: $c-grey-dark;

  .multiselectItem-label:hover & {
    text-decoration: underline;
  }
}

.multiselectItem-results {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $f-size;
  font-weight: 300;
  line-height: 24px;
  height: 24px;
  padding-right: 24px;
  color: $c-grey-dark;
}

.multiselectItem-action {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: $f-size-sm;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin: 1px 0 0 6px;
  border: 1px solid $c-grey;
  border-radius: $border-radius;
  &:hover {
    border-color: $c-primary;
    cursor: pointer;
  }

  .multiselectItem-results & {
    position: absolute;
    top: 1px;
  }
}

.multiselectItem-input {
  display: none;
}

.multiselectItem-icon {
  width: 20px;
  font-size: $f-size-lg;
  color: $c-grey-light;

  &:first-of-type {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

label.multiselectItem-label {
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  text-transform: none;
  letter-spacing: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiselectItem--all {
  label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $f-size-sm;
    position: relative;
    top: -1px;
  }
}

.multiselectActions {
  padding-top: 8px;
  position: relative;
  display: flex;
  .form-group {
    position: relative;
    display: inline-block;
    .fa {
      position: absolute;
      top: 5px;
      left: 1px;
      color: $c-primary;
      cursor: pointer;
    }
  }
  .form-control,
  .btn {
    height: 24px;
    line-height: 24px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    color: $c-primary;
    box-shadow: none !important;
    &:hover,
    &:focus {
      border-color: $c-primary;
      background: transparent;
    }
  }
  .form-control {
    width: auto;
    padding-left: 20px;
    cursor: pointer;

    &::-webkit-input-placeholder {
      color: $c-primary;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $c-primary;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $c-primary;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $c-primary;
    }
    &:focus {
      cursor: text;
      &::-webkit-input-placeholder {
        color: $c-grey;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $c-grey;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $c-grey;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $c-grey;
      }
    }
  }
  .btn {
    display: inline-block;
    padding: 0 3px;
    margin-right: 15px;
    .fa {
      margin-right: 10px !important;
    }
  }
}

// multiselect is active

.multiselect.is-active {

  .multiselectLabel-icon:first-of-type { display: none; }
  .multiselectLabel-icon:last-of-type  { display: inline-block; }

  .multiselectItem {
    line-height: 24px;
    padding: 0 6px;
    margin: 0 -6px;
  }

  .multiselectItem-input:not(:checked) + label .multiselectItem-icon:first-of-type { display: inline-block; }
  .multiselectItem-input:not(:checked) + label .multiselectItem-icon:last-of-type  { display: none; }
        .multiselectItem-input:checked + label .multiselectItem-icon:first-of-type { display: none; }
        .multiselectItem-input:checked + label .multiselectItem-icon:last-of-type  { display: inline-block; }

  .multiselectItem-input:checked + label .multiselectItem-name,
  .multiselectItem-input:checked + label .multiselectItem-icon,
  .multiselectItem-input:checked + label .multiselectItem-results,
  .multiselectItem-input:checked ~ .multiselectItem-results {
    color: $c-primary;
    font-weight: bold;
  }
}

.search__filter:not(.is-active) {
  .multiselectItem-input:checked + label .multiselectItem-name,
  .multiselectItem-input:checked + label .multiselectItem-icon,
  .multiselectItem-input:checked + label .multiselectItem-results,
  .multiselectItem-input:checked ~ .multiselectItem-results {
    color: $c-grey;
    font-weight: bold;
  }
}

// multiselect is not active
.multiselect:not(.is-active) {

  .multiselectLabel-icon:first-of-type { display: inline-block; }
  .multiselectLabel-icon:last-of-type  { display: none; }

  .multiselectItem {
    display: inline;
  }
  .multiselectItem-icon {
    display: none;
  }

  .multiselectItem-label {
    margin: 3px 6px 3px 0;
    padding: 3px 6px 3px 9px;
    font-size: $f-size-sm;
    background: $c-grey-lighten;
    color: $c-primary;
    border-radius: $border-radius;
    line-height: 1.7em;

    &:after {
      content: 'x';
      display: inline-block;
      width: 14px;
      line-height: 13px;
      padding: 0px 3px 1px 3px;
      margin-left: 5px;
      text-align: center;
      background: $c-primary;
      color: $c-white;
      border-radius: 50%;
    }
  }

  .multiselectItem-input:not(:checked) ~ .multiselectItem-label {
    display: none;
  }
}
/**/

.documentTypes-selector {
  padding: 15px;
  border-bottom: 1px solid $c-grey-light;
}

.documentTypes-title {
  position: relative;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-style: normal;
  font-family: $f-special;
  margin-bottom: 0;
  color: $c-black;
  line-height: inherit;
}

/* react-datepicker overwrites */

.DatePicker__From,
.DatePicker__To {
  position: relative;
  float: left;
  width: 100%;
  margin: 5px 0;
  
  @media(min-width: 454px) {
    width: 49%;
  }

  span {
    display: inline-block;
    line-height: 34px;
    width: 50px;
    position: absolute;
    color: $c-grey-dark;
    padding-left: 10px;
  }
  .react-datepicker__input-container {
    width: 100%;
    z-index: 1;
    input {
      cursor: pointer;
      padding-left: 60px;
      padding-right: 0;
      background: transparent;
    }
  }
}

@media(min-width: 454px) {
  .DatePicker__From {
    margin-right: 2%; 
  }
}

.multidate {

  .add {
    margin-bottom: 5px;
  }

  &-item {
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    position: relative;
    @media(min-width: 1024px) {
      margin-bottom: 5px;
    }
  }

  &-range {
    width: 100%;
    padding-right: 30px;
    
    @media(max-width: 1023px) {
      .react-datepicker__close-icon {
        top: 16px !important;
      }
    }
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  .react-datepicker__input-container .react-datepicker__close-icon {
    display: none;
  }
}


.react-datepicker__tether-element {
  margin-left: -13px;
  @media(max-width: 768px) {
    position: fixed !important;
    transform: none !important;
    margin: 0 !important;
    top: 100px !important;
    right: 15px !important;
    bottom: 100px !important;
    left: 15px !important;
    box-shadow: 0 0 0 999px rgba(0,0,0,.2);
  }
}

.react-datepicker {
  width: 100%;
  height: 100%;
}

.react-datepicker__header {
  background: $c-white !important;
  border-bottom: none !important;
  height: 20% !important;
  padding-top: 0px !important;
}

@media(max-width: 768px) {
  .react-datepicker__triangle {
    display: none !important;
  }
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 25px !important;
}

.react-datepicker__current-month--hasYearDropdown {
  font-size: 15px !important;
  line-height: 60px !important;
  margin: 0 !important;
}

.react-datepicker__year-dropdown {
  top: 50px !important;
  width: 80% !important;
  left: 15% !important;
  z-index: 2;
}

.react-datepicker__year-read-view {
  top: 0;
  opacity: 0;
}

.react-datepicker__day-name {
  font-weight: bold;
}

@media(max-width: 768px) {
  .react-datepicker__year-option {
    line-height: 44px !important;
    font-size: 15px;
  }

  .react-datepicker__navigation--years {
    height: 44px;
    line-height: 44px;
  }

  .react-datepicker__month {
    margin: 0 !important;
    height: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .react-datepicker__day-name, .react-datepicker__day {
    width: 14% !important;
    margin: 0 !important;
  }

  .react-datepicker__navigation--years-upcoming {
    top: -20px !important;
  }

  .react-datepicker__navigation--years-previous {
    top: 20px !important;
  }
}

.react-datepicker__day--outside-month {
  opacity: .33;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  border-bottom-color: $c-white !important;
}

.react-datepicker__close-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.react-datepicker__close-icon::after {
  top: 8px !important;
  margin: 0 !important;
  background: $c-grey !important;
}
.react-datepicker__close-icon:hover::after {
  background: $c-danger !important;
}
