.settings {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto;
  @media(min-width: 1024px) {  
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.settings-navigation,
.settings-content {
  width: 100%;
}

@media(min-width: 1024px) {
  .settings-navigation {
    width: 400px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid $c-grey-light;
}

  .settings-content {
    position: relative;
    width: calc(100% - 400px);
    overflow-y: auto;
  }
}

.settings {
  background: $c-white;
  
  .panel {
    border: 0;
    margin: 0;
    box-shadow: none;
  }
}

.settings-navigation {
  background: $c-background;
  
  .panel {
    background-color: transparent;
  }
  
  .panel-heading {
    background-color: transparent;
    text-transform: uppercase;
    font-size: $f-size-sm;
    letter-spacing: 0.1em;
    padding-left: 20px;
    border: 0;
    border-top: 1px solid $c-grey-light;
  }
  .panel-heading:first-of-type .panel-heading {
    border-top: 0;
  }
  
  .list-group-item {
    border: 0;
    padding-left: 20px;
    background-color: transparent;
    &:hover,
    &:focus {
      color: $c-black;
      background-color: transparent;

      &:before {
        content: '';
        display: block;
        width: 5px;
        background: $c-primary;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }

    &.active,
    &.active:hover,
    &.active:focus {
      color: $c-primary;
      font-weight: bold;
      background: $c-grey-lighten;
      cursor: default;

      &:before {
        content: '';
        display: block;
        width: 5px;
        background: $c-primary;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }
  }
  
  .fa {
    margin-right: 5px;
  }
}

.settings-content {
  padding: 15px;
  
  .panel-heading {
    background-color: transparent;
    font-size: $f-size-xl;
    font-weight: 300;
    
    input {
      font-size: $f-size-xl;
    }
  }
  
  h2 {
    padding: 16px 0;
    font-size: $f-size-lg;
    font-weight: 300;
    border-bottom: 1px solid $c-grey-light;
  }
  
  .list-group-item:last-of-type {
    border-bottom: 0;
  }
}

.settings-footer {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  padding: 0 0 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
  @media(min-width: 1024px) {
    right: calc((100% - 400px)/2);
  }
  
  .btn {
    position: relative;
    border-radius: 50%;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    font-size: $f-size-lg;
    padding: 0;
    margin: 0 6px;
  }

  .btn-label {
    color: $c-grey-dark;
    position: absolute;
    top: 100%;
    font-size: 10px;
    line-height: 1.5em;
    left: 50%;
    transform: translateX(-50%) translateY(2px);
    background: rgba(255, 255, 255, 0.8);
    padding: 0 5px;
  }

  .btn:hover .btn-label {
    color: $c-black;
  }
}

// Improve this

.settings-content {
  .thesauri,
  .metadata,
  .relationType,
  .EditTranslationForm,
  .NavlinksSettings,
  .account-settings,
  .page-creator,
  .user-creator,
  .FiltersForm,
  .FiltersForm-list {
    //height: 100%;
  }
}

.settings-content form,
.settings-content main,
.settings-content main > div,
.settings-content .panel {
  //min-height: 100%;
}

.settings-content .account-settings form {
  //height: auto;
}

.settings-content .panel:last-of-type,
.settings-content .page-creator .panel,
.settings-content .account-settings .panel,
.settings-content .user-creator .panel,
.settings-content .EditTranslationForm .panel {
  margin-bottom: 0;
}

.settings-content .account-settings > .panel > .panel-body,
.settings-content form > .panel > .panel-body,
.settings-content form > .panel > .list-group,
.settings-content > .panel > .panel-body,
.settings-content > .panel > .list-group {
  // height: calc(100% - 51px);
  padding-bottom: 85px;
  // overflow-y: scroll; 
}

.page-creator,
.relationType,
.thesauri,
.metadataTemplate {
  .panel-heading {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 2px;
    .form-group, input {
      margin: 0;
    }
    .form-group {
      width: 100%;
      position: relative;
    }
    .validation-error {
      position: absolute;
      top: 0px;
      right: 15px;
      line-height: 34px;
      height: 32px;
    }
  }
}
