.settings {
  .settings-dashboard {
    .cards {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      .card {
        border: 1px solid $c-grey;
        border-radius: 6px;
        box-shadow: 1px 0px 1px $c-grey-light;
        padding: 16px;
        flex: 33%;

        h2 {
          margin: 0;
          padding: 0;
          border: unset;
          font-size: $f-size-lg;
        }
        p {
          margin: 0;
        }

        @media (max-width: 1023px) {
          flex: 100%;
        }

        .heading {
          padding-bottom: 10px;
        }

        .body {
          .usage {
            .used {
              margin: 0;
            }
            .total::before {
              content: '/ ';
            }
          }

          .count,
          .used {
            font-weight: bold;
          }

          .count {
            font-size: $f-size-sl;
          }

          .translation,
          .total {
            color: $c-grey;
            font-weight: bold;
          }
        }

        .footer {
          padding-top: 10px;
          display: flex;
          gap: 10px;

          p:not(:last-child):after {
            content: '|';
            margin-left: 10px;
            color: $c-grey;
          }

          .count {
            font-weight: bold;
          }

          .translation {
            color: $c-grey;
            font-weight: bold;
          }
        }
      }
    }
  }
}
