.EditTranslationForm {
  .panel > .list-group .list-group-item {
    display: block;
  }
  .input-group-addon {
    min-width: 45px;
    text-transform: uppercase;
    color: $c-grey-dark;
  }
}

.TranslationsList {
  .item-type {
    display: inline-block;
    width: 90px;
  }
  .item-type__name {
    max-width: 100%;
    height: 17px;
    line-height: 15px;
    margin: 0;
  }
}