.thesauri {

  &-buttons {
    float: right;
    .btn {
      margin-left: 10px;
    }
  }

  &-name {
    label {
      font-weight: 700;
      font-size: $f-size-xl;
      margin-top: 10px;
    }
  }
}
.moving .rounded-icon-small{
  border-color: $c-success;
  color: $c-success;
}

.thesauri-values {
  .list-group-item.sub-group {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    > .form-group {
      padding-left: 10px;
      padding-right: 20px;
      padding-top: 5px;
      input {
        font-weight: 600;
      }
    }
    ul {
      padding-left: 0;
      width: 100%;
    }
    .list-group-item {
      padding: 5px 20px 5px 25px;
    }
  }

  .list-group-item {
    padding: 5px 20px 5px 10px;
  }
  .list-group-item:first-child {
    padding: 15px 20px 0 25px;
    z-index: 1;
    .btn:last-of-type {
      right: 15px;
    }
  }
  .list-group-name:first-child {
    padding: 5px 20px 5px 0;
    border: 1px solid #fff;
  }
  .list-group-item .form-control {
    border: 1px solid #fff;
    box-shadow: none;

    &:focus {
      border-color: #66afe9;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .list-group-item .form-group {
    width: 100%;
    margin: 0;
  }
  .list-group-item button{
    position: absolute;
    top: 10px;
    right: 25px;
    &.rounded-icon-small {
      right: 0px;
    }
  }
}
