.upload-box {
	display: block;
	margin: auto;
	max-width: 960px;
	border: 1px dashed $c-grey;
	text-align: center;
	padding: 45px 45px 30px 45px;
	color: $c-grey-dark;
	margin-bottom: 30px;
	&_title {
		color: $c-grey-dark;
		font-size: $f-size-lg;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: bold;
	}
	&_link {
		color: $c-grey-dark;
		border-bottom: 1px dotted $c-grey;
		&:hover {
			border-color: $c-grey-dark;
			text-decoration: none;
		}
	}
	&_files {
		margin: 30px 0 0;
		opacity: 0.5;
	}

	.fa {
		margin-right: 5px;
	}
}

.is-uploaded {
	opacity: 0;
	transition: all 300ms;
	position: relative;
	top: 15px;
	&.is-active {
		opacity: 1;
		top: 0;
	}
}

.is-uploading {
	position: absolute;
	opacity: 0;
	transition: all 300ms;
	text-align: center;
	font-size: $f-size-lg;
	color: $c-grey-dark;
	width: 600px;
	&.is-active {
		opacity: 0.4;
	}
}

.required {
	position: relative;
	top: -3px;
	right: -3px;
	color: red;
}
