.upload-box {
	border: 1px dashed $c-grey;
	text-align: center;
	padding: 45px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: $c-grey-dark;
	margin-bottom: 30px;
	/*cursor: pointer;
	font-size: $f-size-lg;
	&:hover a {
		text-decoration: underline;
	}
	*/
	a {
		color: $c-grey-dark;
	}

	.fa {
		margin-right: 5px;
	}
}

.is-uploaded {
	opacity: 0;
	transition: all 300ms;
	position: relative;
	top: 15px;
	&.is-active {
		opacity: 1;
		top: 0;
	}
}

.is-uploading {
	position: absolute;
	opacity: 0;
	transition: all 300ms;
	text-align: center;
	font-size: $f-size-lg;
	color: $c-grey-dark;
	width: 600px;
	&.is-active {
		opacity: 0.4;
	}
}

.required {
	position: relative;
	top: -3px;
	right: -3px;
	color: red;
}
