.upload-box {
  display: block;
  position: relative;
  max-width: 960px;
  margin: 0 auto 30px;
  text-align: center;

  &_wrapper {
    display: block;
    position: relative;
    font-size: $f-size-lg;
    padding: 25px;
    margin-bottom: 15px;
    color: $c-grey-dark;
    border: 2px dashed $c-grey-light;
    
    .fa {
      color: $c-grey-dark;
      margin-right: 10px;
    }
    
    a {
      border-bottom: 1px dotted $c-grey-dark;
      cursor: pointer;
      color: $c-grey-dark;
      
      &:hover {
        color: $c-black;
        border-bottom: 1px solid $c-grey-dark;
        text-decoration: none;
      }
    }
  }
}

.upload-box .protip {
  opacity: 0.6;
}

.is-uploaded {
	opacity: 0;
	transition: all 300ms;
	position: relative;
	top: 15px;
	&.is-active {
		opacity: 1;
		top: 0;
	}
}

.is-uploading {
	position: absolute;
	opacity: 0;
	transition: all 300ms;
	text-align: center;
	font-size: $f-size-lg;
	color: $c-grey-dark;
	width: 600px;
	&.is-active {
		opacity: 0.4;
	}
}

.required {
	position: relative;
	top: -3px;
	right: -3px;
	color: red;
}

.content-header ~ .library-filters{
  @media (min-width: 1024px) {
    top: 101px;
  }
}
