.thesauri {

  &-buttons {
    float: right;
    .btn {
      margin-left: 10px;
    }
  }

  &-name {
    label {
      font-weight: 700;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

.thesauri-values {
  .list-group-item {
    padding: 5px 10px;
  }
  .list-group-item:first-child {
    border: 0;
    padding: 15px 25px 0px;
    z-index: 1;
  }
  .list-group-item .form-control {
    border: 1px solid #fff;
    box-shadow: none;

    &:focus {
      border-color: #66afe9;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .list-group-item .form-group {
    width: 100%;
    margin: 0;
  }
  .list-group-item .btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}
