.thesauri {

  &-buttons {
    float: right;
    .btn {
      margin-left: 10px;
    }
  }

  &-name {
    label {
      font-weight: 700;
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &-values {
    .form-control {
      width: 90%;
      margin-right: 20px;
      display: inline-block;
    }

    .btn {
      display: inline-block;
    }
  }
}
