@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

$c-sidebar: darken($c-background, 0%);
$c-sidebar: $c-white;
.side-panel {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 54px;
  bottom: 0;
  border-left: 1px solid $c-grey-light;
  background-color: $c-sidebar;
  max-width: 320px - 54px;
  transition: right 500ms;
  width: 90%;
  &.is-hidden {
    right: -90%;
  }
  @media(min-width: 1024px) {
    width: 25%;
    max-width: 9999px;
    &.is-hidden {
      right: -25%;
    }
  }
  @media(min-width: 1200px) {
    width: 33.333%;
    &.is-hidden {
      right: -33.333%;
    }
  }


  h1 {
    font-family: $f-special;
    font-size: $f-size-lg;
  }
  .item-icon.item-icon-center {
    & img {
      vertical-align: bottom;
    }

    & i.fa {
      line-height: 0;
    }
  }
  .item-type {
    display: block;
    margin-top: 15px;
  }

  .closeSidepanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: $f-size-lg;
    color: $c-grey;
    cursor: pointer;
    z-index: 2;
    &:hover {
      color: $c-grey-dark;
    }
  }
  .form-group {
    margin: 0;
  }

  .item-group-header {
    display: block;
    width: 100%;
    border-bottom: 1px solid $c-grey-light;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: $f-size-lg;

    .count {
      color: $c-grey;
      font-size: 105%;
      padding-left: 10px;
      font-weight: bold;
    }
  }
}
.side-panel:not(.entity-connections) {
  .item-group {
    padding: 0px;
  }
  .item {
    transition: all 0ms;
    width: 100%;
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    &:last-child {
      border-bottom: 0;
    }
    &:before {
      display: none;
    }

    &:after {
      content: '\f00c';
      font-family: FontAwesome;
      position: absolute;
      top: 60%;
      left: 50%;
      font-size: 40px;
      color: $c-success;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: 225ms all;
    }

    &.is-selected {
      border-color: $c-grey-light;
      background: $c-primary-lighten;
      &:after {
        opacity: 1;
        top: 50%;
      }
    }

    &.relationship-hover {
      background: $c-secondary-lighten;
    }

    &.relationship-active {
      background: $c-secondary-light;
    }
  }
}

.sidepanel-body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidepanel-header,
.sidepanel-footer {
  background: $c-sidebar;
  padding: 20px;
  z-index: 1;
}

.sidepanel-footer + .sidepanel-body {
  padding-bottom: 75px;
}

.sidepanel-header {
  position: relative;
  min-height: $header-height;
  border-bottom: 2px solid $c-grey-light;

  &.no-border {
    border-bottom: 0;
  }

  .item-info {
    padding: 0 0 30px;
  }

  .nav-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $header-height;
    right: $header-height;
    border: 0;
  }
  .connectionsNumber {
    position: relative;
    top: 2px;
    font-size: 11px;
    line-height: 1em;
    margin-left: 5px;
  }
}
.sidepanel-footer {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  padding: 0 0 30px;
  text-align: center;
  background: linear-gradient(transparent 0%, $c-white 70%, $c-white 100%);

  .btn {
    position: relative;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    margin: 0 6px;
  }
  .btn-label {
    color: $c-grey-dark;
    position: absolute;
    top: 100%;
    font-size: 10px;
    line-height: 1.5em;
    left: 50%;
    transform: translateX(-50%) translateY(2px);

  }

  .btn:hover .btn-label {
    color: $c-black;
  }

  .btn-success {
    border: 0;
  }

  .btn:disabled {
    cursor: default;
    opacity: .7;
  }
  .btn:disabled .btn-label {
    color: $c-grey !important;
  }
}
