@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

.side-panel {
  $c-sidebar: darken($c-background, 0%);
  position: fixed;
  right: 0;
  top: 54px + 15px;
  bottom: 15px;
  padding: 15px 30px;
  overflow-y: scroll;
  border-left: 1px solid $c-grey;
  background-color: $c-sidebar;
  max-width: 320px;
  width: 90%;
  transition: transform 500ms;
  @media(min-width: 1024px) {
    width: 25%;
    max-width: 9999px;
  }
  @media(min-width: 1200px) {
    width: 33.333%;
  }

  &.is-active {
    transform: translateX(0);
  }

  &.is-hidden {
    transform: translateX(100%);
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $f-size-lg;
  }

  .item-group {
    padding: 15px 0px;
    margin: 0 -5px;
  }
  .item {
    border-left: 3px solid $c-white;
    transition: all 0ms;
    width: 100%;

    &::before {
      border-color: $c-sidebar $c-sidebar $c-white $c-white;
    }

    &:after {
      content: '\f00c';
      font-family: FontAwesome;
      position: absolute;
      top: 60%;
      left: 50%;
      font-size: 40px;
      color: $c-success;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: 225ms all;
    }

    &.is-selected {
      background: $c-primary-lighten;
      color: $c-primary-light;
      border-color: transparent;
      box-shadow: inset 0 0 0 1px $c-primary-light;

      &:after {
        opacity: 1;
        top: 50%;
      }

      &:before {
        display: none;
      }
    }
  }
}
