@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

$c-sidebar: darken($c-background, 0%);
$c-sidebar: $c-white;
.side-panel {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 54px;
  bottom: 0;
  border-left: 1px solid $c-grey-light;
  background-color: $c-sidebar;
  transition: right 500ms;
  width: calc(100% - 54px);
  &.is-hidden {
    right: -100%;
  }
  @media(min-width: 454px) {
    width: 400px;
    &.is-hidden {
      right: -400px;
    }
  }


  h1 {
    font-family: $f-special;
    font-size: $f-size-lg;
  }
  .item-icon {
    top: -2px;
  }
  .item-icon.item-icon-center {
    & img {
      vertical-align: bottom;
    }

    & i.fa {
      line-height: 0;
      margin: 0;
    }
  }
  .item-info .item-type {
    display: block;
    margin-top: 15px;
  }

  .closeSidepanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: $f-size-lg;
    color: $c-grey;
    cursor: pointer;
    z-index: 2;
    &:hover {
      color: $c-grey-dark;
    }
  }
  .form-group {
    margin: 0;
  }
  
  .sort-by {
    padding: 5px 15px;
    height: 30px;
    margin: 0;
    
    .Dropdown {
      right: 15px;
    }
  }

  .item-group-header {
    display: block;
    width: 100%;
    padding: 6px 15px;
    text-align: left;
    border: 0;
    background: 0;
    box-shadow: none;
    outline: none;
    background: $c-grey-lighten;
    margin-bottom: 1px;
    
    &.is-expanded {
      border-bottom: 1px solid $c-grey-light;
      color: $c-primary;
    }
    
    .itemGroup-title {
      font-weight: bold;
    }
    
    &:hover .itemGroup-title {
      text-decoration: underline;
    }
    
    &:hover .multiselectItem-action {
      border-color: $c-primary;
    }
    
    .multiselectItem-results {
    }
    
    &.is-expanded .multiselectItem-results {
    }

    .title {
      position: relative;
      line-height: 24px;
    }
  }

  .item-group {
    padding: 0px;
  }
  .item {
    transition: all 0ms;
    width: 100%;
    margin: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    &:before {
      display: none;
    }

    &:after {
      content: '\f00c';
      font-family: FontAwesome;
      position: absolute;
      top: 60%;
      left: 50%;
      font-size: 40px;
      color: $c-success;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: 225ms all;
    }

    &.is-selected {
      border-color: $c-grey-light;
      background: $c-primary-lighten;
      &:after {
        opacity: 1;
        top: 50%;
      }
    }

    &.relationship-hover,
    &.highlight-hover:hover {
      background: $c-secondary-lighten;
    }

    &.relationship-active {
      background: $c-secondary-light;
    }
  }
}

.sidepanel-body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidepanel-header,
.sidepanel-footer {
  z-index: 4;
}

.sidepanel-footer + .sidepanel-body > .view,
.sidepanel-footer + .sidepanel-body > form,
.sidepanel-footer + .sidepanel-body > .tab-content,
.sidepanel-footer + .sidepanel-body > div:last-child {
  padding-bottom: 100px;
}

.sidepanel-header {
  background: $c-sidebar;
  position: relative;
  min-height: $header-height;
  border-bottom: 2px solid $c-grey-light;
  padding: 15px;

  &.no-border {
    border-bottom: 0;
  }

  .item-info {
    padding: 0 0 30px;
  }

  .nav-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $header-height;
    right: $header-height;
    border: 0;
  }
  .connectionsNumber {
    position: relative;
    top: 2px;
    font-size: 11px;
    line-height: 1em;
    margin-left: 5px;
  }
}
.sidepanel-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0 20px;
  text-align: center;
  white-space: nowrap;

  .btn {
    position: relative;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    margin: 0 6px;
  }
  .btn-label {
    color: $c-grey-dark;
    position: absolute;
    top: 100%;
    font-size: 10px;
    line-height: 1.5em;
    left: 50%;
    transform: translateX(-50%) translateY(2px);
    background: rgba(255, 255, 255, 0.8);
    padding: 0 5px;
  }

  .btn:hover .btn-label {
    color: $c-black;
  }

  .btn-success {
    border: 0;
  }

  .btn:disabled {
    cursor: default;
    opacity: .7;
  }
  .btn:disabled .btn-label {
    color: $c-grey !important;
  }
}
