@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

$c-sidebar: darken($c-background, 0%);
.side-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 54px;
  bottom: 0;
  border-left: 1px solid $c-grey;
  background-color: $c-sidebar;
  max-width: 320px - 54px;
  transition: right 500ms;
/*
  max-width: 320px;
*/
  width: 90%;
  &.is-hidden {
    right: -90%;
  }
  @media(min-width: 1024px) {
    width: 25%;
    max-width: 9999px;
    &.is-hidden {
      right: -25%;
    }
  }
  @media(min-width: 1200px) {
    width: 33.333%;
    &.is-hidden {
      right: -33.333%;
    }
  }


  h1 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $f-size-lg;
    margin: 0;
  }

  .fa-close {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 18px;
		color: $c-grey;
		cursor: pointer;
    z-index: 2;
		&:hover {
			color: $c-grey-dark;
		}
	}
  .form-group {
    margin: 0;
  }
  .item-group {
    padding: 15px;
  }
  .item {
    transition: all 0ms;
    width: 100%;

    &::before {
      border-color: $c-sidebar $c-sidebar $c-white $c-white;
    }

    &:after {
      content: '\f00c';
      font-family: FontAwesome;
      position: absolute;
      top: 60%;
      left: 50%;
      font-size: 40px;
      color: $c-success;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: 225ms all;
    }

    &.is-selected {
      background: $c-primary-lighten;
      color: $c-primary-light;
      border-color: transparent;
      box-shadow: inset 0 0 0 1px $c-primary-light;

      &:after {
        opacity: 1;
        top: 50%;
      }

      &:before {
        display: none;
      }
    }
  }
}

.sidepanel-body {
  flex: 1;
  overflow-y: scroll;
}

.sidepanel-header,
.sidepanel-footer {
  background: $c-sidebar;
  padding: 15px;
  z-index: 1;
}

.sidepanel-header {
  top: 54px;
  border-bottom: 1px solid $c-grey;
}
.sidepanel-footer {
  bottom: 0;
  border-top: 1px solid $c-grey;
}
