@import "../../controllers/App/scss/config/_colors.scss";
@import "../../controllers/App/scss/config/_materials.scss";
@import "../../controllers/App/scss/config/_typography.scss";

.side-panel {
	position: fixed;
	right: 0;
	top: 60px;
	bottom: 0;
	border-left: 1px dotted $c-grey;
	width: 400px;
	padding: 15px;
	transition: all 500ms;
	overflow-y: scroll;
	padding-bottom: 111px; /* footer height (magic number) */

	&.is-active {
		transform: translateX(0);
	}

  &.is-hidden {
    transform: translateX(100%);
  }

	h1 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: $f-size-lg;
	}
}
