$timeline-item-size: 18px;
.timeline {
  padding-bottom: 30px;

  &-track {
    display: flex;
    flex-wrap: nowrap;
  }
  &-year {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 20px;
  }
  &-track:first-child &-year,
  &-track:last-child &-year{
    padding-top: 0;
  }
  &-track:not(:last-of-type) &-year:not(:first-of-type) {
    border-left: 1px solid $c-grey-light;
  }
  &-track:not(:last-of-type) &-year:nth-child(5n+1) {
    background: $c-grey-lighten;
  }
  &-year-active {
    border-bottom: 1px solid $c-primary;
    padding-bottom: 5px;
  }
  &-track-label {
    z-index: 1;
    background: $c-primary;
    position: absolute;
    top: 100%;
    left: 0;
    left: -1px;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &-milestone {
    position: absolute;
    top: -2px;
    right: calc(100% + 9px);
    padding: 1px 6px;
    white-space: nowrap;
    font-size: 9px;
    background: #fff;
    color: $c-grey-dark;
    border: 1px solid $c-grey;
    border-radius: 3px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      display: block;
      width: 10px;
      height: 1px;
      background: $c-grey;
    }
  }
  &-label {
    position: relative;
    //width: $timeline-item-size;
    height: $timeline-item-size;
  }

  &-label {
    span {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      width: 1px;
      height: 6px;
      top: 15px;
      background: #ccc;
    }
  }

  &-label-text {
    display: block;
    span {
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 200%;
      text-align: center;
      font-size: $f-size-sm;
      padding-top: $timeline-item-size;
      white-space: nowrap;
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      width: 1px;
      height: 10px;
      top: 13px;
      background: $c-black;
    }
  }

  a.timeline-item,
  .timeline-item {
    position: relative;
    width: 80%;
    padding-top: 80%;
    margin: 1px;
    text-align: center;
    background: $c-white;
    color: $c-white;
    font-size: $timeline-item-size - 9px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 50%;
    border-width: 0;

    &-type-1  { background-color: $c-type-1  };
    &-type-2  { background-color: $c-type-2  };
    &-type-3  { background-color: $c-type-3  };
    &-type-4  { background-color: $c-type-4  };
    &-type-5  { background-color: $c-type-5  };
    &-type-6  { background-color: $c-type-6  };
    &-type-7  { background-color: $c-type-7  };
    &-type-8  { background-color: $c-type-8  };
    &-type-9  { background-color: $c-type-9  };
    &-type-10 { background-color: $c-type-10 };
    &-type-11 { background-color: $c-type-11 };
    &-type-12 { background-color: $c-type-12 };
    &-type-13 { background-color: $c-type-13 };
    &-type-14 { background-color: $c-type-14 };
    &-type-15 { background-color: $c-type-15 };
    &-type-16 { background-color: $c-type-16 };
    &-type-17 { background-color: $c-type-17 };
    &-type-18 { background-color: $c-type-18 };
    
    .fa {
      position: absolute;
      top: 47%;
      left: 47%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

}
