$f-size-xs:		.8em;
$f-size-sm:		.9em;
$f-size:		  1em;
$f-size-lg:		1.1em;
$f-size-xl:		1.2em;
$f-size-xxl:	1.6em;

$f-regular: 'Roboto', sans-serif;
$f-special: 'Roboto Slab', 'Georgia', serif;
$f-mono:    'Roboto Mono', monospace;
