@import "../../controllers/App/scss/config/_colors.scss";
@import "../../controllers/App/scss/config/_materials.scss";
@import "../../controllers/App/scss/config/_typography.scss";

.side-panel {
	.item-group {
		padding: 15px 0px;
		margin: 0 -2px 15px;
		overflow-y: scroll;
		height: 90%;
	}
	.item {
		height: auto;
		margin-bottom: 5px;
		padding: 15px;
		border: 1px solid $c-white;
		cursor: pointer;
		&:after {
			content: '\f00c';
			font-family: FontAwesome;
			position: absolute;
			top: 30%;
		  left: 42%;
		  font-size: 40px;
			color: $c-success;
			opacity: 0;
			transition: 500ms all;
		}
		&.is-selected {
			background: $c-primary-lighten;
			color: $c-primary-light;
			border-color: $c-primary-light;
			&:after {
				opacity: 1;
				top: -5px;
			}
			&:before {
				display: none;
			}
		}
		.item-name {
			font-size: $f-size;
		}
	}
}
