@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

.document-viewer {
  overflow-y: scroll;
  height: 100%;
  transition: all 500ms;
}

.document {
  background: $c-white;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  
  @media(min-width: 1024px) {
    padding: 30px;
  }

  ::selection {
    background: $c-primary-light;
  }

  .fake-selection {
    color: $c-success;
    background-color: $c-success-light;
  }

  b {
    font-weight: normal;
    .creation-button {
      opacity: 0;
      display: block;
      position: absolute;
      background: $c-white;
      right: 0;
      width: 31px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      border-radius: 50%;
      box-shadow: $shadow;
      border: 1px solid $c-grey;
      color: $c-grey-dark;
      transform: translateY(-100%) translateX(50%);
      font-size: $f-size-sm;
      cursor: pointer;
    }
    &.is-active {
      background: $c-primary-light;
      padding: 4px 0 0;
      span {
        opacity: 1;
        background: $c-success-light;
        color: $c-success;
        border-color: $c-success;
      }
    }
    &.is-relation {
      background: #FFFFC5;
      color: orange;
      border-color: orange;
      span {
        opacity: 1;
        background: #FFFFC5;
        color: orange;
        border-color: orange;
      }
    }
  }
}

.comments-button {
  display: block;
  position: absolute;
  background: $c-white;
  right: -35px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  box-shadow: $shadow;
  border: 1px solid $c-grey;
  color: $c-grey-dark;
  transform: translateY(-100%) translateX(50%);
  font-size: $f-size-sm;
  .fa {
    margin-right: 2px;
  }
}

.sourceDocument,
.targetDocument {
  padding: 0;
  background: transparent;
}

.page {
  background: $c-white;
  margin-bottom: 30px;
  box-shadow: $shadow;
}

.document.targetDocument {
  padding-top: 54px;
}

.document.targetDocument._undefined {
  display: none;
}

.document-viewer.show-target-document {
  .sourceDocument {
    display: none;
  }
  .targetDocument {
    opacity: 1;
  }
}


.relation-dialog {
  position: absolute;
  right: -30px;
  transform: translateX(100%) translateY(-30%);
  background: $c-primary-lighten !important;
  border: 1px solid $c-grey !important;
  color: $c-black !important;
  padding: 5px 10px;
  opacity: 0;
  transition: right 500ms, opacity 0ms;
  width: 33%;
}
