@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

.document-viewer {
  overflow-y: scroll;
  height: 100%;
  transform: translateX(0%);
  transition: all 500ms;
}

.document {
  div.page {
    background: $c-white;
    border-radius: 0 !important;
    border-bottom: 1px solid $c-grey;
    box-shadow: $shadow;
    position: relative;
    font-size: $f-size-lg;
    font-family: sans-serif;
    margin-bottom: 15px;
  }

  ::selection {
    background: $c-primary-light;
  }

  .fake-selection {
    background: #E0ED55;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  b {
    font-weight: normal;
    .creation-button {
      opacity: 0;
      display: block;
      position: absolute;
      background: $c-white;
      right: 0;
      width: 31px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      border-radius: 50%;
      box-shadow: $shadow;
      border: 1px solid $c-grey;
      color: $c-grey-dark;
      transform: translateY(-100%) translateX(50%);
      font-size: $f-size-sm;
      cursor: pointer;
    }
    &.is-active {
      background: $c-primary-light;
      padding: 4px 0 0;
      span {
        opacity: 1;
        background: $c-success-light;
        color: $c-success;
        border-color: $c-success;
      }
    }
    &.is-relation {
      background: #FFFFC5;
      color: orange;
      border-color: orange;
      span {
        opacity: 1;
        background: #FFFFC5;
        color: orange;
        border-color: orange;
      }
    }
  }
}

.comments-button {
  display: block;
  position: absolute;
  background: $c-white;
  right: -35px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  box-shadow: $shadow;
  border: 1px solid $c-grey;
  color: $c-grey-dark;
  transform: translateY(-100%) translateX(50%);
  font-size: $f-size-sm;
  .fa {
    margin-right: 2px;
  }
}

.document {
  max-width: 800px;
  margin: auto;
}

.document.targetDocument {
  position: relative;
  transform: translateX(1000px);
  opacity: 0;
  transition: all 500ms;
}

.document.targetDocument._undefined {
  display: none;
}

.document-viewer.show-target-document {
  .sourceDocument {
    position: absolute;
    right: 90%;
    opacity: 0.3;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .targetDocument {
    opacity: 1;
    transform: translateX(0px);
  }
}


.relation-dialog {
  position: absolute;
  right: -30px;
  transform: translateX(100%) translateY(-30%);
  background: $c-primary-lighten !important;
  border: 1px solid $c-grey !important;
  color: $c-black !important;
  padding: 5px 10px;
  opacity: 0;
  transition: right 500ms, opacity 0ms;
  width: 33%;
}
