@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

.document-viewer {
  overflow-y: scroll;
  height: 100%;
  transform: translateX(0%);
  transition: all 500ms;
  &.with-panel{
    transform: translateX(-20%);
  }
  &.show-target-document{
    transform: translateX(-100%);
  }
}

.document {
  & > div {
    background: $c-white;
    border-radius: 0 !important;
    border-bottom: 1px solid $c-grey;
    box-shadow: $shadow;
    position: relative;
    font-size: $f-size-lg;
    font-family: sans-serif;
    margin-bottom: 15px;
  }

  ::selection {
    background: $c-primary-light;
  }

  .fake-selection {
    background: $c-primary-light;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  a.reference {
    text-decoration: none !important;
    background: rgba(110,0,255,0.20);
    color: $c-black;
    cursor: pointer;
    .relation-button {
      display: block;
      position: absolute;
      background: $c-white;
      right: 0;
      width: 31px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      border-radius: 50%;
      box-shadow: $shadow;
      border: 1px solid $c-grey;
      color: $c-grey-dark;
      transform: translateY(-100%) translateX(50%);
      font-size: $f-size-sm;
      .fa {
        margin-right: 2px;
      }
    }
    &.highlighted, &.highlighted a.reference {
      background: #A478DE;
      color: #FFFFFF;
    }
  }

  b {
    font-weight: normal;
    .creation-button {
      opacity: 0;
      display: block;
      position: absolute;
      background: $c-white;
      right: 0;
      width: 31px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      border-radius: 50%;
      box-shadow: $shadow;
      border: 1px solid $c-grey;
      color: $c-grey-dark;
      transform: translateY(-100%) translateX(50%);
      font-size: $f-size-sm;
      cursor: pointer;
    }
    &.is-active {
      background: $c-primary-light;
      padding: 4px 0 0;
      span {
        opacity: 1;
        background: $c-success-light;
        color: $c-success;
        border-color: $c-success;
      }
    }
    &.is-relation {
      background: #FFFFC5;
      color: orange;
      border-color: orange;
      span {
        opacity: 1;
        background: #FFFFC5;
        color: orange;
        border-color: orange;
      }
    }
  }
}

.comments-button {
  display: block;
  position: absolute;
  background: $c-white;
  right: -35px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  box-shadow: $shadow;
  border: 1px solid $c-grey;
  color: $c-grey-dark;
  transform: translateY(-100%) translateX(50%);
  font-size: $f-size-sm;
  .fa {
    margin-right: 2px;
  }
}

.document.targetDocument {
  position: relative;
  transform: translateX(100%);
}

.document-viewer.show-target-document {
  .sourceDocument {
    position: absolute;
    opacity: 0.3;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .targetDocument {
    opacity: 1;
  }
}


.relation-dialog {
  position: absolute;
  right: -30px;
  transform: translateX(100%) translateY(-30%);
  background: $c-primary-lighten !important;
  border: 1px solid $c-grey !important;
  color: $c-black !important;
  padding: 5px 10px;
  opacity: 0;
  transition: right 500ms, opacity 0ms;
  width: 33%;
}

.create-modal {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px dotted $c-grey;
  width: 400px;
  padding: 15px;
  transform: translateX(100%);
  transition: all 500ms;
  overflow-y: scroll;
  &.is-active {
    transform: translateX(0);
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $f-size-lg;
  }
  .item-group {
    padding: 15px 0px;
    margin: 0 -2px 15px;
    overflow-y: scroll;
    height: 60%;
  }
  .item {
    height: auto;
    margin-bottom: 5px;
    padding: 15px;
    border-color: $c-white;
    &:after {
      content: '\f00c';
      font-family: FontAwesome;
      position: absolute;
      top: 30%;
      left: 42%;
      font-size: 40px;
      color: $c-success;
      opacity: 0;
      transition: 500ms all;
    }
    &.is-selected {
      background: $c-primary-lighten;
      color: $c-primary-light;
      border: 1px solid $c-primary-light;
      &:after {
        opacity: 1;
        top: -5px;
      }
      &:before {
        display: none;
      }
    }
    .item-name {
      font-size: $f-size;
    }
  }
}

.ref-modal {
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 0;
  border-left: 1px dotted $c-grey;
  width: 400px;
  padding: 15px;
  transform: translateX(100%);
  transition: all 500ms;
  &.is-active {
    transform: translateX(0);
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $f-size-lg;
  }
  .item-group {
    padding: 15px 0px;
    margin: 0 -2px 15px;
    overflow-y: scroll;
    height: 80%;
  }
  .item {
    height: auto;
    margin-bottom: 5px;
    padding: 15px;
    border-color: $c-white;

    &.is-selected {
      &:before {
        display: none;
      }
    }
    &.leave {
      opacity: 0;
    }
    .item-name {
      font-size: $f-size;
    }
  }
}
