{
  "presets": ["es2015", "react"],
  "plugins": [
    ["babel-root-import", {
      "rootPathSuffix": "app/react",
      "rootPathPrefix": "app"
    }],
    "transform-class-properties",
    "add-module-exports"
  ]
}
