

.field-options {
  list-style: none;
  padding: 0;
}

.field-option {
  padding: 15px;
  margin-bottom: 5px;
  cursor: pointer;

  &.dragging {
    opacity: 0;
  }
}

.template {
  background-color: white;
  h1 {
    text-align: center;
    font-size: 15px;
  }
}
