.metadata-templates {
  padding-top: 50px;
}

.field-options {
  list-style: none;
  padding: 0;
}

.field-option {
  padding: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

.template {
  background-color: white;
}
