@import "../../App/scss/Vars.scss";

.login {

  padding-top: 100px;

  form {
    label {
      color: $softFontColor;
    }
  }

  .form-control{
    height: 50px;
    line-height: 40px;
    padding: 5px 10px;
    border: 3px solid $primary;
    font-size: 1.3em;
  }

  .btn {
    width: 100%;
  }
}
