@import "../../App/scss/Vars.scss";

.login {

  min-height: 100%;
  background-image: url('./img/login.png');
  background-repeat: no-repeat;
  background-position: top right;

  @media #{$xs} {
    background-image: none;
  }

  .navbar-default {
    box-shadow: none;
    background-color: transparent;
    li a {
      color: white;
    }
  }

  .contents-wrapper {

    padding-top: 200px;

    form {
      label {
        color: $softFontColor;
      }
    }

    .form-control{
      height: 50px;
      line-height: 40px;
      padding: 5px 10px;
      border: 3px solid $primary;
      font-size: 1.3em;
    }

    .btn {
      width: 100%;
    }

  }
}
