.login {

  &-background{
    background-image: url('./img/login-min.jpg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .well {
    margin-top: 40px;
  }
}
