.alert {
	padding-left: 45px;
	border-radius: 0;
	box-shadow: $shadow;
	width: calc(100% - 30px);
	position: absolute;
	z-index: 1;

	.fa:first-child {
		font-size: 24px;
		position: absolute;
		left: 15px;
		transform: translateY(-3px);
	}
	.fa-close {
		position: absolute;
		right: 30px;
		transform: translateY(3px);
		color: $c-grey;
	}
}

.alert-success,
.alert-warning,
.alert-danger {
	display: none;
	color: $c-grey-dark;
	border: 1px solid transparent;
	border-bottom: 1px solid $c-grey;
	background: white;
	.alert-title {
		margin-right: 5px;
	}
}
.alert-success {
	border-left: 3px solid #8BC74C;
	.fa:first-child,
	.alert-title {
		color: #8BC74C;
	}
}
.alert-warning {
	border-left: 3px solid orange;
	.fa:first-child,
	.alert-title {
		color: orange;
	}
}
.alert-danger {
	border-left: 3px solid #ED353D;
	.fa:first-child,
	.alert-title {
		color: #ED353D;
	}
}

//

.modal {
	.btn-default {
		opacity: 0.5;
	}
}

.modal-content {
	border-radius: 0;
	border: 0;
	box-shadow: $shadow;
}

.modal-success {
	border-left: 5px solid #8BC74C;
}
.modal-warning {
	border-left: 5px solid orange;
}
.modal-danger {
	border-left: 5px solid #ED353D;
}

.well {
	background: $c-white;
	border: 0;
	box-shadow: none;
	padding: 10px 0px 7px;
	margin: 15px 0 0;

	p {
		margin: 0;

		> .fa {
			color: $c-grey;
			margin: 0 8px 0 0;
			font-size: $f-size-lg;
		}
	}
	b {
		position: relative;
		margin: 0 8px;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: normal;
		color: $c-primary;
		border: 1px solid $c-primary-light;
		&.conflict {
			color: #8a6d3b;
			border-color: #E2D3B7;
		}
		.fa {
			margin: 0 5px 0 20px;
		}
		.fa-angle-right {
			position: absolute;
			top: -4px;
			margin: 0 0 0 5px;
			font-size: 29px;
			opacity: 0.2;
		}
	}
}
