body {
	background: $c-primary-lighten;
	color: $c-black;
	font-family: $f-regular;
	font-size: $f-size;
}

label {
	font-weight: normal;
}

dl {
	margin-bottom: 5px;
	background: $c-grey-light;
	padding: 15px;
}
dt {
	font-size: $f-size-sm;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 2em;
}
