body {
	background: $c-primary-lighten;
	color: $c-black;
	font-family: $f-regular;
	font-size: $f-size;
	position: relative;
	padding-top: 60px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

label {
	font-weight: normal;
}
