.btn,
.form-control {
	font-size: $f-size;
}
.form-control {
	height: 32px;
}
.input-group {
	label {
		border-left: 0;
		padding-left: 0;
		background: #EEE;
		box-shadow: none;
		cursor: pointer;
	}
}

.has-error {
		.input-group-addon {
			color: #ED353D;
			border-color: #ED353D;
			background: #FFCED0;
		}
		.form-control {
			border-color: #ED353D;
		}
}

.btn {
	.fa {
		margin-right: 5px;
	}
}

.btn-success {
	background-color: #8BC74C;
}
.btn-warning {
	background-color: orange;
}
.btn-danger {
	background-color: #ED353D;
}


.float-btn {
	z-index: 99;
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: right;
	cursor: pointer;
	transition: all 300ms;
	/*&.active {
		box-shadow: 0 0 0 10000px rgba(50,50,50,.66);
		background: rgba(50,50,50,.66);
	}*/

	&.btn-fixed {
		position: fixed;
	}
}
.float-btn__main {
	display: inline-block;
	background: $c-primary;
	color: $c-white;
	text-align: center;
	line-height: 60px;
	width: 60px;
	box-shadow: $shadow;
	border-radius: 50%;
	font-size: $f-size-lg;
	transition: all 300ms;
}
.float-btn__main.cta {
	background: $c-success;
	animation: jump 300ms ease-in;
}

@keyframes jump {
    0%   { transform: translateY(0px) }
    50%  { transform: translateY(-5px) }
		100% { transform: translateY(0px) }
}

.float-btn__main.disabled {
	opacity: 0.33;
	background: $c-grey-dark;
}

.float-btn__sec {
	margin-bottom: 15px;
	span {
		background: $c-white;
		box-shadow: $shadow;
		padding: 7px 10px;
		border-radius: 4px;
	}
	.fa {
		background: $c-primary;
		color: $c-white;
		text-align: center;
		line-height: 44px;
		width: 44px;
		box-shadow: $shadow;
		border-radius: 50%;
		margin: 0 7px 0 14px;
	}
}

.float-btn__sec {
	opacity: 0;
	transform: translateY(40px);
	transition: all 300ms;

	.active & {
		transform: translateY(0px);
		opacity: 1;
	}
}
