footer {
	background: $c-primary-dark;
	padding: 15px;
	color: $c-primary-light;

	h5 {
		text-transform: uppercase;
		color: $c-primary;
	}
	.fa {
		margin-right: 10px;
	}
	p {
		margin-left: 23px;
	}
}
