html, body, #root, #app {
  height: 100%;
}

#root {
  padding-bottom: 110px;
}

#app {
  .app-content {
    min-height: 100%;
  }
}

main {
  padding: 15px 0;
  padding: 30px !important;
  min-height: 100%;
}
