.menu-link-group-button {
  background: #2C56C0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 0px 10px;
  color: white;
}

.menu-delete-button {
  background: #D9534E;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px;
}

.input-group-width {
  width: 95%;
  height: 20px;
}
.sublink-indent {
  padding-left: 90px;
}