table.upload-documents {
  > tbody {
    > tr {
      > td {
        font-size: 18px;
        line-height: 40px;
        height: 40px;

        .fa {
          font-size: 20px;
          color: #989495;
          padding-left: 10px;
        }
      }
    }
  }
}
