$theme:               dark;

$c-grey: 				      #D0CDC6;
$c-white: 				    lighten($c-grey, 100%);
$c-grey-lighten:      lighten($c-grey, 18%);
$c-grey-light:        lighten($c-grey, 11%);
$c-grey-dark: 				darken($c-grey, 40%);
$c-black: 				    #444444;

$c-primary:           #607d8b;
$c-primary-lighten:   lighten($c-primary, 50%);
$c-primary-light:     lighten($c-primary, 35%);
$c-primary-dark:      darken($c-primary, 20%);

$c-secondary-base:    #FFCC66;
$c-secondary:         transparentize($c-secondary-base, .2);
$c-secondary-lighten: transparentize($c-secondary-base, .9);
$c-secondary-light:   transparentize($c-secondary-base, .7);
$c-secondary-dark:    darken($c-secondary, 40%);

$c-type-0:            #C03B22;
$c-type-1:            #D9534F;
$c-type-2:            #E91E63;
$c-type-3:            #A03AB1;
$c-type-4:            #6F46B8;
$c-type-5:            #3F51B5;
$c-type-6:            #2196F3;
$c-type-7:            #37BDCf;
$c-type-8:            #359990;
$c-type-9:            #5CB85C;
$c-type-10:           #8BC34A;
$c-type-11:           #CDDC39;
$c-type-12:           #F7E64E;
$c-type-13:           #F0AD4E;
$c-type-14:           #EC9920;
$c-type-15:           #E46841;
$c-type-16:           #795548;
$c-type-17:           #9E9E9E;
$c-type-18:           #607D8B;

$c-background:        #FCFCFC;

$c-success:           $c-type-9;
$c-success-light:     lighten($c-type-10, 30%);
$c-success-dark:      darken($c-type-10, 15%);
$c-danger:            $c-type-1;
$c-danger-light:      lighten($c-type-1, 30%);
$c-danger-dark:       darken($c-type-1, 10%);
$c-warning:           $c-type-13;
$c-warning-light:     lighten($c-type-14, 30%);
$c-warning-dark:      darken($c-type-14, 10%);
$c-bootstrap-primary:      #337ab7;
$c-bootstrap-primary-dark: #286090;

$c-shadow: 			      transparentize($c-black, .9);
$c-shadow-dark: 			transparentize($c-black, .8);
$c-shadow-darker: 		transparentize($c-black, .5);
