@use "sass:color";

$theme: dark;
$hero: dark;
$c-theme: #60748b;
:root {
  --c-bg-menu-mobile: #eceff1;
  --c-text-menu-mobile: #444444;
  --c-menu-highlight: #b0bec5;
  --c-bg-active-link: #cfd8dc;
  --c-text-active-link: #202426;
}

$c-grey: #aeaeb8;
$c-white: color.adjust($c-grey, $lightness: 100%, $space: hsl);
$c-grey-lighten: color.adjust($c-grey, $lightness: 25%, $space: hsl);
$c-grey-light: color.adjust($c-grey, $lightness: 15%, $space: hsl);
$c-grey-dark: color.adjust($c-grey, $lightness: -25%, $space: hsl);
$c-active-feature: orange;
$c-black: #444444;
$c-type-0: #c03b22;
$c-type-1: #d9534f;
$c-type-2: #e91e63;
$c-type-3: #a03ab1;
$c-type-4: #6f46b8;
$c-type-5: #3f51b5;
$c-type-6: #2196f3;
$c-type-7: #37bdcf;
$c-type-8: #359990;
$c-type-9: #5cb85c;
$c-type-10: #8bc34a;
$c-type-11: #cddc39;
$c-type-12: #ccbc2f;
$c-type-13: #f0ad4e;
$c-type-14: #ec9920;
$c-type-15: #e46841;
$c-type-16: #795548;
$c-type-17: #9e9e9e;
$c-type-18: #607d8b;
$c-type-19: #449d44;

$c-background: #fcfcfc;

$c-primary: #2b56c1;
$c-primary-lighten: color.adjust($c-primary, $lightness: 50%, $space: hsl);
$c-primary-light: color.adjust($c-primary, $lightness: 40%, $space: hsl);
$c-primary-dark: color.adjust($c-primary, $lightness: -10%, $space: hsl);
$c-info: $c-type-7;
$c-info-light: color.adjust($c-info, $lightness: 40%, $space: hsl);
$c-info-dark: color.adjust($c-info, $lightness: -10%, $space: hsl);
$c-success: $c-type-9;
$c-success-light: color.adjust($c-type-10, $lightness: 30%, $space: hsl);
$c-success-dark: color.adjust($c-type-10, $lightness: -15%, $space: hsl);
$c-danger: $c-type-1;
$c-danger-light: color.adjust($c-type-1, $lightness: 30%, $space: hsl);
$c-danger-dark: color.adjust($c-type-1, $lightness: -10%, $space: hsl);
$c-warning: $c-type-13;
$c-warning-light: color.adjust($c-type-14, $lightness: 30%, $space: hsl);
$c-warning-dark: color.adjust($c-type-14, $lightness: -10%, $space: hsl);

$c-shadow: color.adjust($c-black, $alpha: -0.9);
$c-shadow-dark: color.adjust($c-black, $alpha: -0.8);
$c-shadow-darker: color.adjust($c-black, $alpha: -0.5);

$c-card-highlight: #dee7ff4d;
$c-language-highlight: #cff0cf;

$c-filter-film: #c2c2c2;

$c-gray-900: #101828;
$c-gray-600: #475467;
