$shadow:          0px 5px 15px -12px $c-grey-dark;
$shadow-active:   0px 10px 20px -10px $c-grey-dark;
$shadow-inverse:  0px -5px 15px -10px $c-grey-dark;
$shadow-little:   0px 2px 7px -5px $c-grey-dark;
