$f-size-xs:		9px;
$f-size-sm:		11px;
$f-size:		  13px;
$f-size-lg:		15px;
$f-size-xl:		18px;

$f-regular: 'Roboto', sans-serif;
$f-special: 'Roboto Slab', 'Georgia', serif;
$f-mono:    'Roboto Mono', monospace;
