footer {
  margin: 30px 0 0;
  padding: 20px 0 15px;
  text-align: left;
  color: $c-grey;
  border-top: 1px solid $c-grey-light;

  a {
    color: $c-grey;
  }

  @media(min-width: 1024px) {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 20px;
  flex-wrap: wrap;

  @media(min-width: 1024px) {
    justify-content: center;
  }

  &_item {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    @media(min-width: 1024px) {
      padding: 0 15px;
    }
  }

  &_separator {
    display: inline-block;
    padding-right: 0;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    border-bottom: 1px solid $c-grey-light;
    @media(min-width: 1024px) {
      width: auto;
      height: auto;
      margin: 0;
      border-left: 1px solid $c-grey-light;
      border-bottom: 0;
    }
  }
}

.footer-logo img {
  height: 20px;
}
.footer-tooltip {
  @include tooltip('top');
  padding: 15px;
  
  .footer-nav_item:hover & {
    display: block;
  }
  /*width: 250px;
  line-height: 1.2em;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  padding: 15px;
  background-color: transparentize($c-black, .25);
  color: $c-white;
  border-radius: $border-radius;
  text-align: center;
  &:after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparentize($c-black, .25);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }*/
  
  img {
    margin: 0 0 3px 2px;
    height: 12px;
  }
  
  p {
    margin-bottom: 0;
  }
}

@media(min-width: 1024px) {
.footer-collection_name {
    width: auto;
  }
}
