footer {
  margin: 30px 0 0;
  padding: 20px 0 15px;
  text-align: left;
  color: $c-grey;
  border-top: 1px solid $c-grey-light;

  a {
    color: $c-grey;
  }

  @media(min-width: 1024px) {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 20px;
  flex-wrap: wrap;

  @media(min-width: 1024px) {
    justify-content: center;
  }

  &_item {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    @media(min-width: 1024px) {
      padding: 0 15px;
    }
  }

  &_separator {
    display: inline-block;
    padding-right: 0;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    border-bottom: 1px solid $c-grey-light;
    @media(min-width: 1024px) {
      width: auto;
      height: auto;
      margin: 0;
      border-left: 1px solid $c-grey-light;
      border-bottom: 0;
    }
  }
}

.footer-logo img {
  height: 20px;
}
.footer-tooltip {
  @include tooltip('top');
  padding: 15px;

  .footer-nav_item:hover & {
    display: block;
    width: 280px;
  }

  img {
    margin: 0 0 3px 2px;
    height: 25px;
  }

  p {
    margin-bottom: 0;
  }
}

@media(min-width: 1024px) {
.footer-collection_name {
    width: auto;
  }
}
