header {
	background: $c-white;
	border-bottom: 1px solid $c-grey;
  box-shadow: $shadow;
	z-index: 40;
	position: fixed;
	top: 0;
  min-height: 54px;
  justify-content: space-between;

	h1 {
    float: left;
		font-size: $f-size-lg;
		font-family: $f-special;
		font-weight: 300;
		margin: 0;
		line-height: 54px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 54*2px);
		@include desktop {
		  padding-left: 15px;
      width: auto;
		}

    a {
      color: $c-black;
    }
	}

	.form-group {
    position: relative;
    margin: 0;

		.btn {
			.fa-search { display: inline-block; }
			.fa-close { display: none; }
		}

		&.active {
			.btn {
				.fa-search { display: none; }
				.fa-close { display: inline-block; }
			}
		}
	}

	/* menu buttons */
	.menu-button {
    z-index: 1;
    float: left;
    width: 54px;
    height: 54px;
    line-height: 54px;
    padding: 0 15px;
    text-align: center;
    font-size: $f-size-lg;
    cursor: pointer;
		@include desktop {
			display: none;
		}
	}
}

.menuNav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  &.is-active {
    display: table;
    width: 100%;
    border: 1px solid $c-grey;
  }
  @media(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 5px;
    width: 100%;
    @media(min-width: 1024px) {
      display: inline-block;
      width: auto;
    }
  }
  .btn {
    display: block;
  }
}

.menuItems {}
.menuActions {
  ul {
    display: flex;
  }
}

.search-button {
  position: relative;
  display: block;
  color: $c-black;
  border-radius: 0;
  border: 0;
  border-left: 1px solid $c-grey;
  transition: all 0ms;
  float: right;
  width: 54px;
  line-height: 54px;
  padding: 0;
  background: $c-white;
  z-index: 3;

  &:hover {
    color: $c-white;
    background-color: $c-success;
  }

  &:active {
    box-shadow: none;
  }

  &.is-active {
    border-color: $c-white;
    margin-left: 0;

    &:hover {
      color: $c-black;
      background-color: $c-white;
    }
  }

  .fa-search { display: inline-block; }
  .fa-chevron-right { display: none; }

  &.is-active {
    .fa-search { display: none; }
    .fa-chevron-right { display: inline-block; }
  }
}

.search-box {
  position: relative;
  display: block;
  float: right;
  width: 0;
  max-width: 320px - 54px;
  transition: all 500ms;

  &.is-active {
    width: 90%;
  }

  @include desktop {
    max-width: 9999px;
    &.is-active {
      width: 33.333%;
    }
  }
  .input-group {
    width: 100%;
  }
  .form-control {
    height: 54px;
    padding-left: 30px;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-color: transparent;
    border-left: 0;
    box-shadow: 0 0 10px $c-grey;
    z-index: 4;

    &:focus {
      border-color: #66afe9;
      -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .input-group-btn {
    width: 0;
    z-index: 3;
  }
  .btn-close {
    display: none;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 0;
    padding: 0;
    position: absolute;
    right: 18px;
    top: 18px;
    text-align: center;
    font-size: 9px;
    border-radius: 50% !important;
  }
  .input-group.is-active .btn-close {
    display: block;
  }
}

.search-suggestions {
	display: none;
	position: absolute;
  top: 54px - 1px;
  left: 0;
  width: 100%;
  background: $c-white;
  z-index: 40;
	color: $c-black;
  border: 1px solid #66afe9;
	border-top: 0;
	line-height: 1em;
	&.is-active {
		display: block;
	}

	p {
		position: relative;
    margin: 0;
	}

  a, button {
    color: $c-black;
    display: block;
    padding: 10px 30px;
    line-height: 1.2em;
    cursor: pointer;
    background: transparent;
    border: none;
    &:hover {
      background: $c-grey-lighten;
      text-decoration: none;
    }
  }

	.fa-external-link {
		position: absolute;
		top: 10px;
		right: 15px;
	}

}
.search-suggestions-title {
	border-bottom: 1px solid $c-grey-light;
	font-size: $f-size-xs;
	color: $c-grey-dark;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	padding-bottom: 5px;
	margin-top: 15px;
}

.search-suggestions-all {
	font-style: italic;
	border-top: 1px solid $c-grey;

  button {
    padding: 15px 30px;
  }

	.fa {
		margin-right: 5px;
	}
}
