header {
	background: $c-white;
	border-bottom: 1px solid $c-grey;
  box-shadow: $shadow;
	z-index: 40;
	position: fixed;
	top: 0;
  min-height: 54px;

	h1 {
    float: left;
    padding-left: 15px;
		font-size: $f-size-lg;
		font-family: $f-special;
		font-style: italic;
		font-weight: 300;
		margin: 0;
		line-height: 54px;
		display: none;
		@include desktop {
			display: block;
		}

    a {
      color: $c-black;
    }
	}

	.form-group {
    position: relative;
    margin: 0;

		/*line-height: 54px;

		.btn {
			height: 54px;
			line-height: 54px;
			border: 0;
			background: $c-white;
			border-radius: 0;
			box-shadow: none;
			color: $c-grey-dark;
			padding: 0 10px;
      .fa-search {
        color: $c-grey;
      }
		}
		.dropdown-toggle {
			display: none;
			@include desktop {
				display: block;
			}
			.fa {
				margin-left: 5px;
			}
		}
		.form-control {
			padding: 0;
      height: 54px;
			line-height: 54px;
			float: none;
			background: none;
		  border: 0;
			border-left: 0;
			border-radius: 0;
		  box-shadow: none;
			color: $c-black;

			&::-webkit-input-placeholder { color: $c-grey; }
					 &:-ms-input-placeholder { color: $c-grey; }
							 &::-moz-placeholder { color: $c-grey; }
							  &:-moz-placeholder { color: $c-grey; }
		}
    */

		.btn {
			.fa-search { display: inline-block; }
			.fa-close { display: none; }
		}

		&.active {
			.btn {
				.fa-search { display: none; }
				.fa-close { display: inline-block; }
			}
		}
	}

	.nav-pills {
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    display: none;
		line-height: 54px;
    padding: 0;
    box-shadow: $shadow;
    background: $c-white;
    &.is-active {
      display: block;
    }
		@include desktop {
      position: relative;
      top: 0;
			display: block;
      float: right;
      text-align: right;
      box-shadow: none;
		}
		> li {
			display: block;
      width: 100%;
			float: left;
      border-top: 1px solid $c-grey-light;
      @include desktop {
  			display: inline-block;
        float: none;
        border: none;
        width: auto;
  		}
		}
		i {
			margin-right: 3px;
		}
		a {
			color: $c-black;
      border-radius: 0;
      border: 0;
      transition: all 0ms;

      &:hover {
        color: $c-white;
        background-color: $c-primary;
      }
		}
	}

	/* menu buttons */
	.menu-button {
    z-index: 1;
    float: left;
    width: 54px;
    height: 54px;
    line-height: 54px;
    padding: 0 15px;
    text-align: center;
    font-size: $f-size-lg;
    cursor: pointer;
    position: absolute;
		@include desktop {
			display: none;
		}
	}
}

.search-button {
  position: relative;
  display: block;
  color: $c-black;
  border-radius: 0;
  border: 0;
  border-left: 1px solid $c-grey;
  transition: all 0ms;
  float: right;
  width: 54px;
  line-height: 54px;
  padding: 0;
  background: $c-white;
  z-index: 3;

  &:hover {
    color: $c-white;
    background-color: $c-success;
  }

  &:active {
    box-shadow: none;
  }

  &.is-active {
    border-color: $c-white;
    margin-left: 0;

    &:hover {
      color: $c-black;
      background-color: $c-white;
    }
  }

  .fa-search { display: inline-block; }
  .fa-chevron-right { display: none; }

  &.is-active {
    .fa-search { display: none; }
    .fa-chevron-right { display: inline-block; }
  }
}

.search-box {
  position: relative;
  display: block;
  float: right;
  width: 0;
  max-width: 320px - 54px;
  transition: all 500ms;

  &.is-active {
    width: 90%;
  }

  @include desktop {
    max-width: 9999px;
    &.is-active {
      width: 33.333%;
    }
  }
  .input-group {
    width: 100%;
  }
  .form-control {
    height: 54px;
    padding-left: 30px;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-color: transparent;
    border-left: 0;
    box-shadow: 0 0 10px $c-grey;
    z-index: 4;

    &:focus {
      border-color: #66afe9;
      -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .input-group-btn {
    width: 0;
    z-index: 3;
  }
  .btn-close {
    display: none;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 0;
    padding: 0;
    position: absolute;
    right: 18px;
    top: 18px;
    text-align: center;
    font-size: 9px;
    border-radius: 50% !important;
  }
  .input-group.is-active .btn-close {
    display: block;
  }
}

.search-suggestions {
	display: none;
	position: absolute;
  top: 54px - 1px;
  left: 0;
  width: 100%;
  background: $c-white;
  z-index: 40;
	color: $c-black;
  border: 1px solid #66afe9;
	border-top: 0;
	line-height: 1em;
	&.is-active {
		display: block;
	}

	p {
		position: relative;
    margin: 0;
	}

  a, button {
    color: $c-black;
    display: block;
    padding: 10px 30px;
    line-height: 1.2em;
    cursor: pointer;
    background: transparent;
    border: none;
    &:hover {
      background: $c-grey-lighten;
      text-decoration: none;
    }
  }

	.fa-arrow-left {
		position: absolute;
		top: 8px;
		right: 15px;
		transform: rotate(45deg);
	}

}
.search-suggestions-title {
	border-bottom: 1px solid $c-grey-light;
	font-size: $f-size-xs;
	color: $c-grey-dark;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	padding-bottom: 5px;
	margin-top: 15px;
}

.search-suggestions-all {
	font-style: italic;
	border-top: 1px solid $c-grey;

  button {
    padding: 15px 30px;
  }

	.fa {
		margin-right: 5px;
	}
}
