header {
  z-index: 40;
  position: fixed;
  top: 0;
  min-height: $header-height;
  justify-content: space-between;
  border-bottom: 1px solid $c-grey-light;
  overflow: hidden;
  @if $theme == light {
    background: $c-white;
  } @else {
    background: $c-primary;
  }

  h1 {
    float: left;
    font-size: $f-size-lg;
    font-family: $f-special;
    font-weight: 300;
    margin: 0;
    width: calc(100% - 2 * 54px);
    @media(min-width: 1024px) {
      padding: 0 15px;
      width: auto;
      max-width: 320px;
    }

    a {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: $header-height;
      height: $header-height;
      @if $theme == light {
        color: $c-black !important;
      } @else {
        color: $c-white !important;
      }
    }
  }

  /* menu buttons */
  .menu-button {
    z-index: 1;
    float: left;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    padding: 0 15px;
    text-align: center;
    font-size: $f-size-lg;
    cursor: pointer;
    @if $theme == light {
      color: $c-black;
    } @else {
      color: $c-white;
    }
    @media(min-width: 1024px) {
      display: none;
    }
  }
}

.menuNav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  @media(max-width: 1023px) {
    &.is-active {
      display: table;
      width: 100%;
      @if $theme == light {
        border-top: 1px solid $c-grey-light;
      } @else {
        border-top: 1px solid $c-primary-dark;
      }
    }
  }
  @media(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @media(min-width: 1024px) {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.menuNav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuNav-item {
  position: relative;
  padding: 0;
  width: 100%;
  @media(min-width: 1024px) {
    display: inline-block;
    width: auto;
    min-width: $header-height;
  }
}

.menuNav-btn {
  display: block;
  border: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  min-width: $header-height;
  height: $header-height;
  line-height: $header-height + 2px;
  padding: 0 15px;
  @if $theme == light {
    color: $c-black;
    background: $c-white;
  } @else {
    color: $c-white;
    background: $c-primary;
  }
  &:hover,
  &:active,
  &:focus {
    @if $theme == light {
      background: $c-white;
      border-color: $c-primary;
    } @else {
      background: $c-primary;
      border-color: $c-white;
    }
  }
}

.menuActions {
  .menuNav-list {
    display: flex;
  }
}

@media(max-width: 1023px) {
  .menuItems .menuNav-item {
    @if $theme == light {
      border-bottom: 1px solid $c-grey-light;
    } @else {
      border-bottom: 1px solid $c-primary-dark;
    }
  }
  .menuActions .menuNav-item:not(:last-child) {
    @if $theme == light {
      border-right: 1px solid $c-grey-light;
    } @else {
      border-right: 1px solid $c-primary-dark;
    }
  }
}

.menuNav {
  .Dropdown {
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
  .Dropdown-option.is-active {
    @if $theme == light {
      color: $c-black;
    } @else {
      color: $c-white;
    }
  }
}

.search-box {
  position: absolute;
  right: 0;
  display: block;
  float: right;
  width: calc(0%);
  transition: all 500ms;

  &.is-active {
    width: calc(100% - 54px);
  }

  @media(min-width: 1024px) {
    position: relative;
    max-width: 9999px;
    &.is-active {
      width: 33.333%;
    }
  }
  .input-group {
    width: 100%;
  }
  .form-control {
    height: $header-height;
    padding-left: 30px;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-color: transparent;
    border-left: 1px solid $c-grey-light;
    box-shadow: none;
    z-index: 4;

    &:focus {
      box-shadow: none;
    }
  }
  .input-group-btn {
    width: 0;
    z-index: 3;
  }
  .btn-close {
    display: none;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 0;
    padding: 0;
    position: absolute;
    right: 18px;
    top: 18px;
    text-align: center;
    font-size: 9px;
    border-radius: 50% !important;
  }
  .input-group.is-active .btn-close {
    display: block;
  }
}

.search-button {
  position: relative;
  display: block;
  border-radius: 0;
  border: 0;
  float: right;
  width: $header-height;
  height: $header-height;
  line-height: $header-height + 2px;
  padding: 0;
  z-index: 3;
  transition: width 225ms;
  color: $c-black;
  background: $c-white;
  @if $theme == light {
    border-left: 1px solid $c-grey-light;
  } @else {
    border-left: 1px solid $c-primary-dark;
  }
  @media(min-width: 1024px) {
    width: $header-height*2;
    &:hover,
    &:focus,
    &:active {
      color: $c-grey-dark;
    }
  }

  &:active {
    box-shadow: none;
  }

  &.is-active {
    position: absolute;
    width: $header-height;
    margin-left: 0;
    @if $theme == light {
      color: $c-black;
      background-color: $c-white;
      border-color: $c-white;
    } @else {
      color: $c-white;
      background-color: $c-primary;
      border-color: $c-primary;
    }
    @media(min-width: 1024px) {
      position: relative;
    }

    &:hover,
    &:focus,
    &:active {
      @if $theme == light {
        color: $c-black;
        background-color: $c-white;
      } @else {
        color: $c-white;
        background-color: $c-primary;
      }
    }
  }

  .fa {
    margin: 0 5px;
  }
}

@media(max-width: 1023px) {
  .searchButton-open span {
    display: none;
  }
}

.searchButton-open { display: inline-block; }
.searchButton-close { display: none; }

.search-button.is-active {
  .searchButton-open { display: none; }
  .searchButton-close { display: inline-block; }
}

.search-suggestions {
  display: none;
  position: absolute;
  top: $header-height - 1px;
  left: 0;
  width: 100%;
  background: $c-white;
  z-index: 40;
  color: $c-black;
  border: 1px solid $c-grey-light;
  border-top: 0;
  line-height: 1em;
  &.is-active {
    display: block;
  }

  p {
    position: relative;
    margin: 0;
  }

  a, button {
    color: $c-black;
    display: block;
    padding: 10px 30px;
    line-height: 1.2em;
    cursor: pointer;
    background: transparent;
    border: none;
    &:hover {
      background: $c-grey-lighten;
      text-decoration: none;
    }
  }

  .fa-external-link {
    position: absolute;
    top: 10px;
    right: 15px;
  }

}
.search-suggestions-title {
  border-bottom: 1px solid $c-grey-light;
  font-size: $f-size-xs;
  color: $c-grey-dark;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding-bottom: 5px;
  margin-top: 15px;
}

.search-suggestions-all {
  font-style: italic;
  border-top: 1px solid $c-grey;

  button {
    padding: 15px 30px;
  }

  .fa {
    margin-right: 5px;
  }
}
