header {
  z-index: 1;
  position: fixed;
  top: 0;
  min-height: $header-height;
  justify-content: space-between;
  border-bottom: 1px solid $c-grey-light;
  /* Removed for language selector. Check for side-effects!
  /*overflow: hidden;*/
  @if $theme == light {
    background: $c-white;
  } @else {
    background: $c-primary;
  }

  h1 {
    float: left;
    font-size: $f-size-lg;
    font-family: $f-special;
    font-weight: 300;
    margin: 0;
    width: calc(100% - 2 * 54px);
    @media(min-width: 454px) {
      padding: 0 15px;
      width: auto;
      max-width: 320px;
    }

    a {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: $header-height;
      height: $header-height;
      @if $theme == light {
        color: $c-black !important;
      } @else {
        color: $c-white !important;
      }
    }
  }

  /* menu buttons */
  .menu-button {
    z-index: 1;
    float: left;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    padding: 0 15px;
    text-align: center;
    font-size: $f-size-lg;
    cursor: pointer;
    @if $theme == light {
      color: $c-black;
    } @else {
      color: $c-white;
    }
    @media(min-width: 1024px) {
      display: none;
    }
  }
}

@media(min-width: 1024px) {
  .menuActions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.menuNav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  @media(max-width: 1023px) {
    &.is-active {
      display: table;
      width: 100%;
      @if $theme == light {
        border-top: 1px solid $c-grey-light;
      } @else {
        border-top: 1px solid $c-primary-dark;
      }
    }
  }
  @media(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @media(min-width: 1024px) {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.menuNav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuNav-item {
  position: relative;
  padding: 0;
  width: 100%;
  @media(min-width: 1024px) {
    display: inline-block;
    width: auto;
    min-width: $header-height;
  }
}

.menuNav-btn {
  display: block;
  border: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  min-width: $header-height;
  height: $header-height;
  line-height: $header-height + 2px;
  padding: 0 15px;
  @if $theme == light {
    color: $c-black;
    background: $c-white;
  } @else {
    color: $c-white;
    background: $c-primary;
  }
  &:hover,
  &:active,
  &:focus,
  .menuNav-item.is-active & {
    @if $theme == light {
      background: $c-white;
      border-color: $c-primary;
    } @else {
      color: $c-white;
      background: $c-primary;
      border-color: $c-white;
    }
  }
}

.menuActions {
  .menuNav-list {
    overflow: visible;
    display: flex;
  }
}

@media(max-width: 1023px) {
  .menuItems .menuNav-item {
    @if $theme == light {
      border-bottom: 1px solid $c-grey-light;
    } @else {
      border-bottom: 1px solid $c-primary-dark;
    }
  }
  .menuActions .menuNav-item:not(:last-child) {
    @if $theme == light {
      border-right: 1px solid $c-grey-light;
    } @else {
      border-right: 1px solid $c-primary-dark;
    }
  }
}

.menuNav {
  .Dropdown {
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;

    .Dropdown-option {
      padding-right: 5px;
    }

  }
  .Dropdown:not(.is-active) {
    .Dropdown-label {
      @if $theme != light {
        color: $c-white;
      }
    }

    a {
      @if $theme == light {
        color: $c-black;
      } @else {
        color: $c-white;
      }
    }
  }
}

.menuNav-I18NMenu {
  display: flex;
  text-transform: uppercase;
  border-top: 1px solid $c-primary-dark;
  @media(min-width: 1024px) {
    float: left;
    border-top: 0;
    border-right: 1px solid $c-primary-dark;
  }
  
  .menuNav-btn {
    font-size: $f-size-sm;
  }
}
