@use "../config/colors";
@use "../config/typography";

@use "sass:color";

.hero {
  text-align: center;
  margin: -15px -15px 30px;
  @if colors.$hero == light {
    color: colors.$c-black;
    background-color: colors.$c-grey-light;
  } @else {
    color: colors.$c-white;
    background-color: colors.$c-grey-dark;
  }

  h1 {
    font-size: 36px !important;
    padding: 120px 0;
    margin: 0 auto;
    max-width: 900px;

    @if colors.$hero == dark {
      text-shadow: 3px 3px 15px colors.$c-black;
    }
  }

  p {
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    @if colors.$hero == dark {
      text-shadow: 3px 3px 15px colors.$c-black;
    }
  }

  .btn {
    font-size: typography.$f-size-lg;
    @if colors.$hero == dark {
      box-shadow: 3px 3px 15px rgba(colors.$c-black, .3);
    }
  }
  .btn:not(:first-of-type) {
    margin-left: 15px;
  }
  .btn .fa {
    margin-left: 15px;
  }
}

.hero-stats {
  width: 100%;
  display: flex;

  a {
    width: 100%;
    border-top: 3px solid colors.$c-white;
    padding: 60px 0;
    background: color.adjust(colors.$c-black, $alpha: -.6);

    &:hover {
      background: color.adjust(colors.$c-black, $alpha: -.5);
      cursor: pointer;
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }

    @if colors.$hero == light {
      color: colors.$c-black;
    } @else {
      color: colors.$c-white;
      text-shadow: 3px 3px 15px colors.$c-black;
    }
  }

  h2 {
    font-size: typography.$f-size-xxl;
    border: 0;
    padding: 0;
    margin: 0;
    @if colors.$hero == light {
      color: colors.$c-black;
    } @else {
      color: colors.$c-white;
      text-shadow: 3px 3px 5px colors.$c-black;
    }
  }
}
