.toggle-toolbar-button {
  border: transparent;
  border-radius: 0px 0px 12px 12px;
  webkit-box-shadow: 0px -6px 0px 0px white, 0px -1px 7px -1px grey;
  -moz-box-shadow: 0px -6px 0px 0px white, 0px -1px 7px -1px grey;
  box-shadow: 0px -6px 0px 0px white, 0px -1px 7px -1px grey;
  padding: 1px 1px;
  width: 107px;
  min-width: 90px;
  height: 24px;
  left: 100px;
  background-color: white;
  justify-content: center;
  z-index: 2;
}

.library-header {
  padding: 0;
  border-top: none;
  background-color: transparent;
  z-index: 2;

  @media (max-width: 1023px) {
    position: fixed;
    width: 95%;
    top: 50px;
    margin-left: -15px;

    &.closed {
      display: none;
    }
  }

  .close-toolbar-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 50%;
    width: 100%;
    text-overflow: ellipsis;
    background-color: transparent;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.open-toolbar-button {
  display: flex;
  position: fixed;
  top: 50px;
  justify-content: center;
  left: 50%;
  width: 150px;
  text-overflow: ellipsis;
  margin-left: -75px;
  min-width: 90px;

  z-index: 1;

  &.closed {
    display: none;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.library-toolbar {
  @media (max-width: 1023px) {
    background-color: white;
    -webkit-box-shadow: outset 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: outset 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 10px 0px 1px white, 2px 1px 4px lightgrey;
    padding: 10px 10px 1px 10px;
    width: 100%;
  }

  @media (min-width: 1024px) {
    background-color: transparent;
  }

  .search-box {
    position: relative;
    display: block;
    max-width: 380px;

    @media (min-width: 768px) {
      width: calc(max(100% - 400px, 380px));
    }

    @media (min-width: 1024px) {
      width: calc(max(100% - 400px, 350px));
    }

    @media (min-width: 1180px) {
      width: calc(max(100% - 400px, 380px));
    }
  }
}

.header-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .sort-by {
    flex-grow: 3;
    margin: 0 auto 5px 0;
    justify-content: space-between;
    height: 2em;
    max-width: 400px;
    margin-bottom: 15px;
    .sort-buttons {
      min-width: 200px;
      width: 79%;
    }
    .sort-dropdown {
      width: 90%;
      max-width: 250px;
    }
  }

  .documents-counter {
    margin-bottom: 5px;
  }

  .list-view-mode {
    right: 0px;
    position: inherit;
    display: inline-flex;
    width: 70%;
    min-width: 200px;
    margin: 0px 0px 5px -10px;
  }

  .documents-counter {
    flex-grow: 1;
    width: 30%;
    min-width: 120px;
  }

  @media (min-width: 768px) {
    .sort-by {
      flex-grow: 1;
      margin: 0 auto 5px 0;
      height: 2em;
      max-width: 400px;
      margin-bottom: 15px;

      .sort-buttons {
        width: 58%;
      }
    }

    .list-view-mode {
      position: absolute;
      right: 0;
      width: auto;
    }
  }

  @media (min-width: 1024px) {
    .sort-by {
      flex-grow: 1;
      margin: 0 auto 5px 0;
      height: 2em;
      max-width: 400px;
      margin-bottom: 15px;

      .sort-buttons {
        width: 58%;
      }
    }

    .list-view-mode {
      position: absolute;
      right: 0;
      width: auto;
    }
  }
}
