nav {
	display: block;
	position: fixed !important;
	top: 0;
	bottom: 0;
	right: -80%;
	width: 80%;
	z-index: 2;
	background: $c-grey-light;
	border-left: 1px solid $c-grey;
	padding: 15px;
}

nav h1 {
	font-weight: bold;
	font-size: $f-size-lg;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 5px 0 30px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-size: $f-size-lg;
		line-height: 40px;
	}
	li.active {
		background: $c-white;
		color: $c-primary;
		font-weight: bold;
		margin-left: -5px;
		padding: 0 5px;
	}
	.fa {
		margin-right: 15px;
	}
	.login {
		margin-top: 370px;
		color: $c-grey-dark;
	}
}

$nav-height: 48px;

.nav > li > a {
  padding: 0px 10px;
  line-height: $nav-height;
  border: 0;
}

.nav-tabs {
  margin-top: -1px;
  text-align: center;
  border-bottom: 1px solid $c-grey;
  display: flex;
  background-color: transparent;
}

.nav-tabs>li {
  display: inline-block;
  float: none;
  min-width: $nav-height;
}

.nav-tabs>li>a, .nav-tabs>li>div {
  cursor:pointer;
  line-height: $nav-height;
  padding: 0 15px;
  background-color: transparent;
  color: $c-grey-dark;
  border: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  .fa {
    font-size: 16px;
    position: relative;
    top: 3px;
  }
}

.nav-tabs>li>a:focus, .nav-tabs>li>div:focus, .nav-tabs>li>a:hover, .nav-tabs>li>div:hover {
  background-color: transparent;
  color: $c-black;
  border: 0;
  border-bottom: 2px solid $c-grey-dark;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-tabs>li>div.tab-link-active, .nav-tabs>li>div.tab-link-active:focus, .nav-tabs>li>div.tab-link-active:hover{
  font-weight: bold;
  background-color: transparent;
  color: $c-black;
  border: 0;
  border-bottom: 2px solid $c-primary;
}
