@media print {
  @page {
    margin: 2cm;
  }

  a {
    border-bottom: none !important;
    &:after {
      content: none !important;
    }
  }

  footer {
    display: none;
  }

  #app {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  header,
  .side-panel,
  .sidepanel-footer,
  .ContextMenu-bottom {
    display: none;
  }

  .entity-viewer {
    .filelist,
    .attachments-list-parent,
    .mapbox-navigation {
      display: none;
    }

    .metadata-type-geolocation_group {
      break-before: avoid;
      break-after: avoid;
    }

    .markdown-viewer {
      .video-container {
        & > div {
          display: none;
        }
      }
      .print-view-alt {
        display: block;
        text-align: left;
      }
    }
  }

  .page-viewer {
    padding: 0 !important;
    margin: 0 !important;
  }
}
