@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 54px;
  overflow: hidden;
}

header {
  width: 100%;
}

.container-fluid {
  margin-right: 0;
  margin-left: 0;
  flex: 1;
  height: 100%;
}

@media (max-width: 1023px) {
  .col-xs-12 {
    width: 100%;
  }
  .side-panel {
    width: 80%;
    max-width: 360px;
  }
}

.app-content {
  overflow: hidden;
}

.app-content > div {
  height: 100%;
  overflow-y: scroll;
}

.panel-footer {
  display: block;
}

.btn .fa {
  margin-right: 0;
}

header ul .btn .fa {
    margin-right: 5px;
}

.alert {
  display: block;
  width: 50%;
  left: 25%
}

.error {
  display: inherit;
}

.float-btn__sec a {
  text-decoration: none;
  color: black;
}

.float-btn__sec button, .float-btn__main button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.float-btn__main button {
  width: 100%;
}

.search-suggestions-all button {
  width: 100%;
  text-align: left;
}

.upload-box a {
  cursor: pointer;
}

.filters-box .no-filters {
  display: block;

  .fa-close {
    position: inherit;
    color: inherit;
    color: #616E70;
  }
}

.search__filter > li label {
  font-size: $f-size-lg;
  font-style: normal;
  font-family: $f-special;
  color: $c-grey-dark;
  margin-bottom: 5px;
  text-transform: none;
  letter-spacing: 0;
}

.relationship-steps {
  h2 {
    small {
      padding-left: 2px;
    }
  }

  button i {
    padding-right: 4px;
  }
}
.float-btn__main .fa {
  margin: 0 0 0 30px;
}

.DatePicker__From,
.DatePicker__To {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;

  span {
    display: inline-block;
    line-height: 34px;
    width: 45px;
    position: absolute;
    color: #cccccc;
    z-index: 2;
    padding-left: 5px;
  }
  .react-datepicker__input-container {
    width: 100%;
    input {
      padding-left: 50px;
    }
  }
  @media(min-width: 1300px) {
    width: 49%;
    margin-right: 2%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media(max-width: 768px) {
  .react-datepicker__tether-element {
    position: fixed !important;
    transform: none !important;
    margin: 0 !important;
    top: 100px !important;
    right: 15px !important;
    bottom: 100px !important;
    left: 15px !important;
    box-shadow: 0 0 0 999px rgba(0,0,0,.2);
  }
}

.react-datepicker {
  width: 100%;
  height: 100%;
}

.react-datepicker__header {
  background: #fff !important;
  border-bottom: none !important;
  height: 20% !important;
  padding-top: 0px !important;
}

@media(max-width: 768px) {
  .react-datepicker__triangle {
    display: none !important;
  }
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 25px !important;
}

.react-datepicker__current-month--hasYearDropdown {
  font-size: 15px !important;
  line-height: 60px !important;
  margin: 0 !important;
}

.react-datepicker__year-dropdown {
  top: 50px !important;
  width: 80% !important;
  left: 15% !important;
  z-index: 2;
}

.react-datepicker__year-read-view {
  top: 0;
  opacity: 0;
}

.react-datepicker__day-name {
  font-weight: bold;
}

@media(max-width: 768px) {
  .react-datepicker__year-option {
    line-height: 44px !important;
    font-size: 15px;
  }

  .react-datepicker__navigation--years {
    height: 44px;
    line-height: 44px;
  }

  .react-datepicker__month {
    margin: 0 !important;
    height: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .react-datepicker__day-name, .react-datepicker__day {
    width: 14% !important;
    margin: 0 !important;
  }

  .react-datepicker__navigation--years-upcoming {
    top: -20px !important;
  }

  .react-datepicker__navigation--years-previous {
    top: 20px !important;
  }
}

.react-datepicker__day--outside-month {
  opacity: .33;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  border-bottom-color: #FFF !important;
}

.react-datepicker__close-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.react-datepicker__close-icon::after {
  top: 8px !important;
  margin: 0 !important;
}

.relationType .panel-heading {
  display: flex;

  .form-group, input {
    margin: 0;
  }
  .form-group {
    width: 100%;
  }
}

.thesauri .panel-heading {
  display: flex;

  .form-group, input {
    margin: 0;
  }
  input {
    width: 100%;
  }
}

/* entity styles */
.metadata-sidepanel {
  left: 0 !important;
  right: auto !important;
  width: 50% !important;
  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }
}
.document-references {
  right: 0 !important;
  width: 50% !important;
  @media (max-width: 1023px) {
    position: relative !important;
    width: 100% !important;
    max-width: 999px !important;
    top: 0 !important;
  }

  .item-group {
    justify-content: space-around;
  }
  @media(min-width: 1024px) {
    .item {
      width: 48% !important;
    }
  }
  .item-type {
    top: 0px !important;
  }
}
