@import "../../App/scss/config/_colors.scss";
@import "../../App/scss/config/_materials.scss";
@import "../../App/scss/config/_typography.scss";

header {
  width: 100%;
}

.container {
  max-width: 960px;
}
.container-fluid {
  margin-right: 0;
  margin-left: 0;
  flex: 1;
  height: 100%;
}

@media (max-width: 1023px) {
  .col-xs-12 {
    width: 100%;
  }
}

.app-content {
  overflow: hidden;
}

.app-content > div {
  height: 100%;
}

.panel-footer {
  display: block;
}

.error {
  display: inherit;
}

.search-suggestions-all button {
  width: 100%;
  text-align: left;
}

.upload-box a {
  cursor: pointer;
}

.filters-box .no-filters {
  display: block;

  .fa-close {
    position: inherit;
    color: inherit;
    color: #616E70;
  }
}

.relationship-steps {
  h2 {
    small {
      padding-left: 2px;
    }
  }

  button i {
    padding-right: 4px;
  }
}

.relationType .panel-heading,
.thesauri .panel-heading {
  display: flex;

  .form-group, input {
    margin: 0;
  }
  .form-group {
    width: 100%;
    position: relative;
  }
  .validation-error {
    position: absolute;
    top: 0px;
    right: 15px;
    line-height: 34px;
    height: 32px;
  }
}

