.alert-wrapper {
  z-index: 9;
  
  .alert {
    display: block;
    width: 50%;
    left: 25%;
    box-shadow: $box-shadow;
    position: absolute;
    z-index: 1;
  }
}

.alert {
  padding-left: 45px;
  border-radius: 0;

  .fa:first-child {
    font-size: 24px;
    position: absolute;
    left: 15px;
    transform: translateY(-3px);
  }
  .fa-close {
    position: absolute;
    right: 30px;
    transform: translateY(3px);
    color: $c-grey;
  }

  &.no-margin {
    margin: 0px;
  }

  &.full-width {
    width: calc(100% - 30px);
    left: 15px;
  }
}

.alert-success,
.alert-warning,
.alert-danger {
  background: $c-white;
  color: $c-grey-dark;
  .alert-title {
    margin-right: 5px;
  }
}
.alert-success {
  border-left: 5px solid $c-success;
  .fa:first-child,
  .alert-title {
    color: $c-success;
  }
}
.alert-warning {
  border-left: 5px solid $c-warning;
  .fa:first-child,
  .alert-title {
    color: $c-warning;
  }
}
.alert-danger {
  border-left: 5px solid $c-danger;
  .fa:first-child,
  .alert-title {
    color: $c-danger;
  }
}

.panel-body {
  .alert {
    position: relative;
    margin: 0 0 45px;
    width: 100%;
    left: 0;
  }
}

.sidepanel-body {
  .alert {
    background: $c-warning-light;
  }
}

.modal {
  .btn-default {
    opacity: 0.5;
  }
}

.modal-content {
  border-radius: 0;
  border: 0;
  box-shadow: $box-shadow;
}

.modal-success {
  border-left: 5px solid $c-success;
}
.modal-warning {
  border-left: 5px solid $c-warning;
}
.modal-danger {
  border-left: 5px solid $c-danger;
}


.notification {
  margin-top: 15px;
  .fa {
    margin-right: 5px;
  }
}
