.alert {
	padding-left: 45px;
	border-radius: 0;
	box-shadow: $shadow;
	width: calc(100% - 30px);
	position: absolute;
	z-index: 1;

	.fa:first-child {
		font-size: 24px;
		position: absolute;
		left: 15px;
		transform: translateY(-3px);
	}
	.fa-close {
		position: absolute;
		right: 30px;
		transform: translateY(3px);
		color: $c-grey;
	}
}

.alert-success,
.alert-warning,
.alert-danger {
	display: none;
	color: $c-grey-dark;
	border: 1px solid transparent;
	border-bottom: 1px solid $c-grey;
	background: white;
	.alert-title {
		margin-right: 5px;
	}
}
.alert-success {
	border-left: 3px solid #8BC74C;
	.fa:first-child,
	.alert-title {
		color: #8BC74C;
	}
}
.alert-warning {
	border-left: 3px solid orange;
	.fa:first-child,
	.alert-title {
		color: orange;
	}
}
.alert-danger {
	border-left: 3px solid #ED353D;
	.fa:first-child,
	.alert-title {
		color: #ED353D;
	}
}

.panel-body {
  .alert {
    position: relative;
    margin: 15px 0 0;
    width: 100%;
    left: 0;
    font-family: 'Courier', monospace;
  }
}

//

.modal {
	.btn-default {
		opacity: 0.5;
	}
}

.modal-content {
	border-radius: 0;
	border: 0;
	box-shadow: $shadow;
}

.modal-success {
	border-left: 5px solid #8BC74C;
}
.modal-warning {
	border-left: 5px solid orange;
}
.modal-danger {
	border-left: 5px solid #ED353D;
}




.well {
	margin: 25px 0;
	padding: 0 15px 0 12px;
	background: #EEE;
	border-color: #CCC;
	label {
		color: $c-black;
	}
	input, label {
		margin-top: 6px;
		cursor: pointer;
	}
	small {
		display: block;
		opacity: 0.6;
		line-height: 1.3em;
		padding-left: 15px;
	}
	.col-sm-8 {
		background: $c-white;
		padding-top: 10px;
		padding-bottom: 5px;
		border-left: 1px solid #CCC;
	}
	.property-atributes {
		opacity: 0.3;
		cursor: pointer;
		display: table;
		width: 100%;
		position: relative;
		padding: 0;
		border-radius: 3px;
		font-weight: normal;
		color: $c-primary;
		&.is-active {
			opacity: 1;
		}

		span {
			margin: 0 5px;
		}
		span.conflict {
			color: #86714A;
		}
		.fa {
			margin-right: 5px;
		}
		.fa-angle-right {
			margin: 0;
		}
		.fa-info-circle {
			color: $c-grey;
			margin: 0 8px 0 0;
			font-size: $f-size-lg;
			float: right;
			transition: all 300ms;
		}
		&:hover > .fa-info-circle {
			color: $c-black;
		}
	}
	.tooltip.top {
		right: 35px;
		left: auto !important;
		transform: translateX(50%);
	}
}
