.alert-wrapper {
  z-index: 9;
}

.alert {
  padding-left: 45px;
  border-radius: 0;
  box-shadow: $box-shadow;
  width: calc(100% - 30px);
  position: absolute;
  z-index: 1;

  .fa:first-child {
    font-size: 24px;
    position: absolute;
    left: 15px;
    transform: translateY(-3px);
  }
  .fa-close {
    position: absolute;
    right: 30px;
    transform: translateY(3px);
    color: $c-grey;
  }

  &.no-margin {
    margin: 0px;
  }

  &.full-width {
    width: calc(100% - 30px);
    left: 15px;
  }
}

.alert-success,
.alert-warning,
.alert-danger {
  display: none;
  color: $c-grey-dark;
  border: 1px solid transparent;
  border-bottom: 1px solid $c-grey;
  background: $c-white;
  .alert-title {
    margin-right: 5px;
  }
}
.alert-success {
  border-left: 3px solid $c-success;
  .fa:first-child,
  .alert-title {
    color: $c-success;
  }
}
.alert-warning {
  border-left: 3px solid $c-warning;
  .fa:first-child,
  .alert-title {
    color: $c-warning;
  }
}
.alert-danger {
  border-left: 3px solid $c-danger;
  .fa:first-child,
  .alert-title {
    color: $c-danger;
  }
}

.panel-body {
  .alert {
    position: relative;
    margin: 0 0 45px;
    width: 100%;
    left: 0;
    font-family: $f-mono;
  }
}

.modal {
  .btn-default {
    opacity: 0.5;
  }
}

.modal-content {
  border-radius: 0;
  border: 0;
  box-shadow: $box-shadow;
}

.modal-success {
  border-left: 5px solid $c-success;
}
.modal-warning {
  border-left: 5px solid $c-warning;
}
.modal-danger {
  border-left: 5px solid $c-danger;
}


.notification {
  margin-top: 15px;
  .fa {
    margin-right: 5px;
  }
}
