body {
	background: $c-primary-lighten;
	color: $c-black;
	font-family: $f-regular;
	font-size: $f-size;
	overflow: hidden;
}

label {
	font-weight: normal;
}

dt {
  font-weight: normal;
	font-style: italic;
  color: $c-grey-dark;
}
