body {
	background-color: $c-background;
	color: $c-black;
	font-family: $f-regular;
	font-size: $f-size;
	overflow: hidden;
}

a {
  color: $c-primary;
}

a:hover, a:focus {
  color: $c-primary-dark;
}

label {
  margin: 0;
	font-weight: normal;
}

dt {
  font-weight: normal;
	font-style: italic;
  color: $c-grey-dark;
}

input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

code {
	display: flex;
	align-items: center;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid $c-grey-light;
	background: $c-white;
  color: $c-grey-dark;
	border-radius: 0;
	width: 100%;
	> span {
		flex: 1;
	}
}
code .download-thumbnail {
	height: $header-height;
	width: $header-height;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $c-grey-lighten;
	color: $c-grey !important;
	margin-right: 15px;
	border: 1px solid $c-white !important;
	
	&:hover {
		border-color: $c-grey !important;
	}
	
	.fa {
		font-size: 18px;
	}
	img {
		max-width: 100%;
	}
}
code .label-success {
	text-decoration: none !important;
	cursor: default !important;
	margin-right: 3px;
}
code .download-buttons {
	display: flex;
	margin-left: 7px;
	
	.item-shortcut {
		opacity: 1 !important;
		border-style: solid !important;
		top: 0;
	}
}