@use "../config/colors";
@use "../config/typography";

.breadcrumbs {
	display: none;
	padding: 7px 15px;
	border-bottom: 1px dotted colors.$c-grey;
	color: colors.$c-grey-dark;
	font-size: typography.$f-size-sm;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	b {
		color: colors.$c-black;
	}
	.fa {
		margin: 0 10px;
	}
	.fa-home {
		margin: 0;
	}
	a {
		color: colors.$c-grey-dark;
	}
}
