.item-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  list-style-type: none;
  padding: 0;
  margin: auto;

  .document-viewer & {
    justify-content: flex-start;
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 0 0 30px 0;
  margin: 0 0 15px;
  top: 0;
  background: $c-white;
  border-radius: 4px;
  border: 1px solid $c-grey-light;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  opacity: 1;
  zoom: 1;

  @media (min-width: 640px) and (max-width: 1023px) {
    width: 48%;
    margin: 0 0 4%;
    &:not(:nth-child(2n)) {
      margin-right: 4%;
    }
  }
  @media (min-width: 1024px) {
    width: 32.5%;
    margin: 0 0 1.25%;
    &:not(:nth-child(3n)) {
      margin-right: 1.25%;
    }
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    border: 6px solid;
    border-color: $c-background $c-background $c-white $c-white;
    border-bottom-left-radius: 4px;
    box-shadow: -3px 3px 9px -3px $c-grey;
  }

  &:hover{
    cursor: pointer;
  }
  &.is-active,
  &.is-selected {
    border-color: $c-primary;
    box-shadow: $shadow;
    &:before {
      border-color: $c-background $c-background $c-primary $c-primary;
    }
  }

  .label {
    float: left;
    margin-right: 15px;
    font-size: $f-size-sm;
    font-weight: normal;
    margin-right: 5px;
    display: inline-block;
    line-height: 30px;
    .fa {
      margin-left: 0;
    }
  }
}

$item-width: auto;
$item-padding: 10px;

.item-info {
  width: $item-width;
  padding: $item-padding;
  flex: 1;
}

.item-type__icon {
  font-size: 14px;
}
.item-type__name {
  color: $c-white;
  border-radius: 3px;
  margin-left: 5px;
  padding: 2px 4px 1px;
  font-size: $f-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  top: 2px;
  position: relative;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.item-type-0 .item-type__icon  { color: $c-primary; }
.item-type-1 .item-type__icon  { color: $c-type-1; }
.item-type-2 .item-type__icon  { color: $c-type-2; }
.item-type-3 .item-type__icon  { color: $c-type-3; }
.item-type-4 .item-type__icon  { color: $c-type-4; }
.item-type-5 .item-type__icon  { color: $c-type-5; }
.item-type-6 .item-type__icon  { color: $c-type-6; }
.item-type-7 .item-type__icon  { color: $c-type-7; }
.item-type-8 .item-type__icon  { color: $c-type-8; }
.item-type-9 .item-type__icon  { color: $c-type-9; }
.item-type-10 .item-type__icon { color: $c-type-10; }
.item-type-11 .item-type__icon { color: $c-type-11; }
.item-type-12 .item-type__icon { color: $c-type-12; }
.item-type-13 .item-type__icon { color: $c-type-13; }
.item-type-14 .item-type__icon { color: $c-type-14; }
.item-type-15 .item-type__icon { color: $c-type-15; }
.item-type-16 .item-type__icon { color: $c-type-16; }
.item-type-17 .item-type__icon { color: $c-type-17; }
.item-type-18 .item-type__icon { color: $c-type-18; }

.item-type-0 .item-type__name  { background-color: $c-primary; }
.item-type-1 .item-type__name  { background-color: $c-type-1; }
.item-type-2 .item-type__name  { background-color: $c-type-2; }
.item-type-3 .item-type__name  { background-color: $c-type-3; }
.item-type-4 .item-type__name  { background-color: $c-type-4; }
.item-type-5 .item-type__name  { background-color: $c-type-5; }
.item-type-6 .item-type__name  { background-color: $c-type-6; }
.item-type-7 .item-type__name  { background-color: $c-type-7; }
.item-type-8 .item-type__name  { background-color: $c-type-8; }
.item-type-9 .item-type__name  { background-color: $c-type-9; }
.item-type-10 .item-type__name { background-color: $c-type-10; }
.item-type-11 .item-type__name { background-color: $c-type-11; }
.item-type-12 .item-type__name { background-color: $c-type-12; }
.item-type-13 .item-type__name { background-color: $c-type-13; }
.item-type-14 .item-type__name { background-color: $c-type-14; }
.item-type-15 .item-type__name { background-color: $c-type-15; }
.item-type-16 .item-type__name { background-color: $c-type-16; }
.item-type-17 .item-type__name { background-color: $c-type-17; }
.item-type-18 .item-type__name { background-color: $c-type-18; }

.item-name {
  display: block;
  font-family: $f-special;
  color: $c-black;
}

.item-snippet {
  margin: 15px 0;
  font-family: monospace;
  font-size: $f-size-sm;
}

.item-metadata {
  padding: 0 $item-padding $item-padding;

  dl {
    display: flex;
    margin: 0;
    padding: 3px 0;
    font-size: $f-size-sm;
  }
  dt {
    min-width: 90px;
    font-style: normal;
    color: $c-grey;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  dd {
    margin-left: 10px;
  }
}

.item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $item-padding*2 + $item-padding;
  color: $c-grey-dark;
  padding: 0 $item-padding;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-shortcut {
  position: relative;
  bottom: 5px;
  margin: 0 -5px;
  padding: 0 5px;
  color: $c-grey-dark;
  border: 1px solid $c-grey-light;
  border-radius: 15px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  box-shadow: $shadow;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .item.is-active & {
    color: $c-primary;
    border-color: $c-primary-light;
  }

  &:hover {
    color: $c-white !important;
    border-color: $c-primary !important;
    background-color: $c-primary;
  }
}

.item-shortcut-group {
  margin: 0 -5px;
  .item-shortcut {
    margin: 0;
  }
}

.item-group-load-more {
  text-align: center;
}

.btn-load-more {
  display: block;
  width: 100px;
  margin: 30px auto 0;
}


.page-title {
  text-align: left;
  margin: 0;
  padding-bottom: 15px;
  line-height: 16px;
  font-size: $f-size-lg;

  .label {
    font-size: $f-size-sm;
    position: relative;
    top: -3px;
    padding: 2px 5px;
  }
}

/* sort-by controller */

.sort-by {
  display: table;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  @include desktop {
    text-align: right;
    #documents-counter {
      text-align: left;
    }
  }
  .label {
    font-weight: normal;
    background: $c-primary-lighten;
    border: 1px solid $c-grey;
    color: $c-grey-dark;
    .fa {
      margin-left: 0;
      margin-right: 5px;
    }
  }
  span {
    border-bottom: 1px dotted $c-grey-dark;
    cursor: pointer;
    margin-left: 15px;
    &.active {
      color: $c-primary;
      font-weight: bold;
    }
  }
  .fa {
    margin-left: 5px;
  }
}

.item-status {

  .progress {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
  }
  .progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }

  // please delete item1, item2, item3... and let only the proper classes (like item-danger).
  &.item3,
  &.item5,
  &.item6,
  &.item7,
  &.item10,
  &.item11,
  &.item12,
  &.item-success {
    border-bottom: 2px solid #8BC74C;
  }
  &.item2,
  &.item9,
  &.item-warning {
    border-bottom: 2px solid orange;
  }

  &.item4,
  &.item8,
  &.item-danger {
    border-bottom: 2px solid #ED353D;
  }

  &.item1,
  &.item-processing {
    border-bottom: 2px solid $c-white;
    cursor: default;
  }
}

.label-default,
.label-info,
.label-success,
.label-warning,
.label-danger {
  background: transparent;
  padding: 0;
}

.label-info {
  color: $c-primary;
}

.label-success {
  color: #8BC74C;
}

.label-warning {
  color: orange;
}

.label-danger {
  color: #ED353D;
}

.label-default {
  color: $c-grey-dark;
}

.documents-counter {
  font-style: italic;
  color: $c-grey-dark;
  opacity: 0.6;
}
