.item-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  list-style-type: none;
  padding: 0;
  margin: auto;

  .document-viewer & {
    justify-content: flex-start;
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 0 0 30px 0;
  margin: 0 0 15px;
  top: 0;
  background: $c-white;
  border-radius: $border-radius;
  border: 1px solid $c-grey-light;
  box-shadow: $box-shadow;
  zoom: 1;
  cursor: pointer;

  @media (min-width: 640px) and (max-width: 1023px) {
    width: 48%;
    margin: 0 0 15px;
    &:not(:nth-child(2n)) {
      margin-right: 4%;
    }
  }
  @media (min-width: 1024px) {
    width: 32.5%;
    margin: 0 0 15px;
    &:not(:nth-child(3n)) {
      margin-right: 1.25%;
    }
  }

  &:hover{
    cursor: pointer;
    border-color: $c-grey;
  }
  &.is-active,
  &.is-selected {
    border-color: $c-bootstrap-primary;
    box-shadow: inset 0 1px 2px $c-grey-lighten, 0 0 0 3px transparentize($c-bootstrap-primary, 0.7);
  }

  &-source-document {
    border-bottom: 4px solid $c-grey-light;
  }

  .label {
    margin-right: 15px;
    font-size: $f-size-sm;
    font-weight: normal;
    margin-right: 5px;
    display: inline-block;
    line-height: 30px;
    .fa {
      margin-left: 0;
    }
  }
  span,
  dt,
  dd {
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }
  }
}


$item-width: auto;
$item-padding: 15px;

.item-connection {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  background-color: $c-grey-light;
  color: $c-grey-dark;
  padding: 5px 5px 5px $item-padding;
  border-bottom: 1px solid $c-white;

  span {
    padding-left: 5px;
  }

  .btn {
    padding: 0 5px;
  }
}

.item-info {
  width: $item-width;
  padding: $item-padding;
  flex: 1;

  .item-icon {
    top: -2px;
  }
}

.item-icon {
  position: relative;
  margin-right: 6px;
}

.item-private-icon {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  line-height: 20px;
  text-align: center;
  background-color: transparentize($c-grey-dark, .85);
  color: $c-grey-dark;
  border-radius: 50%;
}

.item-type {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  width: calc(100% - 35px);
}

.item-label-group {
  width: calc(100% - 90px);
  .item-type {
    width: 100%;
  }
}

.item-type__icon {
  margin-right: 5px;
  font-size: 14px;
}
.item-type__name {
  color: $c-white;
  border-radius: $border-radius;
  padding: 0 6px;
  height: 17px;
  line-height: 18px;
  font-size: $f-size-xs;
  font-weight: 500;
  letter-spacing: 0.075em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  cursor: default;
}

.item-type-empty .item-type__icon  { color: $c-grey; }
.item-type-primary .item-type__icon  { color: $c-primary; }
.item-type-0 .item-type__icon  { color: $c-type-0; }
.item-type-1 .item-type__icon  { color: $c-type-1; }
.item-type-2 .item-type__icon  { color: $c-type-2; }
.item-type-3 .item-type__icon  { color: $c-type-3; }
.item-type-4 .item-type__icon  { color: $c-type-4; }
.item-type-5 .item-type__icon  { color: $c-type-5; }
.item-type-6 .item-type__icon  { color: $c-type-6; }
.item-type-7 .item-type__icon  { color: $c-type-7; }
.item-type-8 .item-type__icon  { color: $c-type-8; }
.item-type-9 .item-type__icon  { color: $c-type-9; }
.item-type-10 .item-type__icon { color: $c-type-10; }
.item-type-11 .item-type__icon { color: $c-type-11; }
.item-type-12 .item-type__icon { color: $c-type-12; }
.item-type-13 .item-type__icon { color: $c-type-13; }
.item-type-14 .item-type__icon { color: $c-type-14; }
.item-type-15 .item-type__icon { color: $c-type-15; }
.item-type-16 .item-type__icon { color: $c-type-16; }
.item-type-17 .item-type__icon { color: $c-type-17; }
.item-type-18 .item-type__icon { color: $c-type-18; }

.item-type-empty .item-type__name  { box-shadow: inset 0 0 0 1px $c-grey; color: $c-grey; }
.item-type-primary .item-type__name  { background-color: $c-primary; }
.item-type-0 .item-type__name  { background-color: $c-type-0; }
.item-type-1 .item-type__name  { background-color: $c-type-1; }
.item-type-2 .item-type__name  { background-color: $c-type-2; }
.item-type-3 .item-type__name  { background-color: $c-type-3; }
.item-type-4 .item-type__name  { background-color: $c-type-4; }
.item-type-5 .item-type__name  { background-color: $c-type-5; }
.item-type-6 .item-type__name  { background-color: $c-type-6; }
.item-type-7 .item-type__name  { background-color: $c-type-7; }
.item-type-8 .item-type__name  { background-color: $c-type-8; }
.item-type-9 .item-type__name  { background-color: $c-type-9; }
.item-type-10 .item-type__name { background-color: $c-type-10; }
.item-type-11 .item-type__name { background-color: $c-type-11; }
.item-type-12 .item-type__name { background-color: $c-type-12; }
.item-type-13 .item-type__name { background-color: $c-type-13; }
.item-type-14 .item-type__name { background-color: $c-type-14; }
.item-type-15 .item-type__name { background-color: $c-type-15; }
.item-type-16 .item-type__name { background-color: $c-type-16; }
.item-type-17 .item-type__name { background-color: $c-type-17; }
.item-type-18 .item-type__name { background-color: $c-type-18; }

.item-name {
  display: inline;
  font-family: $f-special;
}

.item-snippet {
  display: inline;
  font-size: $f-size-sm;
  b {
    color: #000;
    background-color: transparentize(yellow, 0.4);
    box-shadow: -2px 0 0 0 transparentize(yellow, 0.4), 2px 0 0 0 transparentize(yellow, 0.4);
  }
  .show-more {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2px 15px;
    box-shadow: 0 -6px 9px -4px #fff, 0 -15px 10px -3px #fff;
  }
  
  .item-snippet-wrapper:hover & {
    border-bottom: 1px solid $c-grey;  
  }
}

.item-snippet-wrapper {
  margin-top: 15px;
}

.item-metadata {
  padding: 0 $item-padding $item-padding;

  dl {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 3px 0;
    font-size: $f-size-sm;
  }
  dt {
    margin: 6px 0 2px;
  }
  @media(min-width: 1024px) {
    dt {
      @include tooltip('top-left');
    }

    dl:hover dt {
      display: block;
    }
    dl:hover dd {
      border-bottom: 1px solid $c-grey;
    }
  }

  dd {
    display: inline;
    width: 100%;
    &.item-metadata-empty {
      color: $c-grey;
      font-style: italic;
    }

    &.item-current-sort {
      font-style: italic;
    }
  }
  .item-icon {
    top: -1px;
  }
}

.item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $item-padding*2 + $item-padding;
  color: $c-grey-dark;
  padding: 0 $item-padding;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-shortcut {
  position: relative;
  bottom: 5px;
  padding: 0;
  border-radius: 15px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  box-shadow: $box-shadow;

  @media(min-width: 1024px) {
    opacity: 0;
    .item.is-active &,
    .item:hover & {
      opacity: 1;
    }
  }

  &:not(:first-child) {
    margin-left: 3px;
  }
}

.item-shortcut-group {
  margin: 0 -5px;
}

.item-group-load-more {
  text-align: center;
}

.btn-load-more {
  display: block;
  width: 100px;
  margin: 0 auto 30px;
}


.page-title {
  text-align: left;
  margin: 0;
  padding-bottom: 15px;
  line-height: 16px;
  font-size: $f-size-lg;

  .label {
    font-size: $f-size-sm;
    position: relative;
    top: -3px;
    padding: 2px 5px;
  }
}

.search-list {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 15px;
}

/* sort-by controller */

.sort-by {
  position: relative;
  display: table;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 15px;
  padding: 0 15px;
  text-align: center;
  @media(min-width: 1024px) {
    text-align: right;
    #documents-counter {
      text-align: left;
    }
  }
  .Dropdown {
    right: 15px;
  }
}
/** /
.item-danger {
  border-color: $c-danger-light;
  background-color: lighten($c-danger-light, 10%);
  &:hover,
  &.is-active {
    border-color: $c-danger;
  }
}
/**/

.item-status {

  .progress {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
  }

  .progress-bar {
    background: $c-grey;
  }

  .progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }

  &.item-processing {
    cursor: default;
  }

  &.item-processing,
  &.item-danger {
    .item-shortcut {
      display: none;
    }
  }
}

.label-default,
.label-info,
.label-success,
.label-warning,
.label-danger {
  background: transparent;
  padding: 0;
}

.label-success,
.label-warning,
.label-danger {

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .fa {
    margin-right: 3px;
  }
}

.label-info {
  color: $c-grey;
}

.label-success {
  color: $c-success;
}

.label-warning {
  color: $c-warning;
}

.label-danger {
  color: $c-danger;
}

.label-default {
  color: $c-grey-dark;
}

.label-progress {
  display: inline;
}

.documents-counter {
  b {
    color: $c-primary;
  }
}

/**/

.item-success {
  .label-success {
    display: none;
  }
}
.item-warning {
  .item-shortcut--success {
    display: none;
  }
}
.item-label-group {
  .label-warning ~ span,
  .label-danger ~ span {
    display: none;
  }
}
