.item-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
	list-style-type: none;
	padding: 0;
  margin: auto;

  .document-viewer & {
    justify-content: space-between;
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 120px;
	margin: 0 0 15px;
	background: $c-white;
	border-radius: 3px;
	border-bottom: 1px solid $c-grey;
	box-shadow: $shadow;
	opacity: 1;
	transition: all 300ms;
	zoom: 1;

  @media (min-width: 640px) {
    width: 49%;
  }
  @media (min-width: 800px) {
    width: 32.9%;
  }
  @media (min-width: 1024px) {
    width: 49%;
  }
  @media (min-width: 1200px) {
    width: 32.9%;
  }

	&:before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: 6px solid;
		border-color: $c-primary-lighten $c-primary-lighten $c-white $c-white;
    border-bottom-left-radius: 3px;
		box-shadow: -3px 3px 9px -3px $c-grey;
		transition: all 300ms;
	}

	&:hover{
		cursor: pointer;
	}
	&.is-active {
		box-shadow: $shadow-active;
		top: -3px;
	}
	&.is-disabled {
		opacity: 0.3;
		&:hover {
			opacity: 1;
		}
	}

	.label {
    float: left;
		margin-right: 15px;
		font-size: $f-size-sm;
		font-weight: normal;
		margin-right: 5px;
		display: inline-block;
    line-height: 30px;
		.fa {
			margin-left: 0;
		}
	}
}

$item-width: 260px;

.item-info {
  width: $item-width;
  padding: 15px;
  flex: 1;
}

.item-type {
  position: relative;
  top: -2px;
  padding: 3px 3px 2px 4px;
  margin-right: 5px;
  font-size: $f-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $c-white;
  border-radius: 3px;
}

.item-type-0  { background-color: $c-primary; }
.item-type-1  { background-color: $c-type-1; }
.item-type-2  { background-color: $c-type-2; }
.item-type-3  { background-color: $c-type-3; }
.item-type-4  { background-color: $c-type-4; }
.item-type-5  { background-color: $c-type-5; }
.item-type-6  { background-color: $c-type-6; }
.item-type-7  { background-color: $c-type-7; }
.item-type-8  { background-color: $c-type-8; }
.item-type-9  { background-color: $c-type-9; }
.item-type-10 { background-color: $c-type-10; }
.item-type-11 { background-color: $c-type-11; }
.item-type-12 { background-color: $c-type-12; }
.item-type-13 { background-color: $c-type-13; }
.item-type-14 { background-color: $c-type-14; }
.item-type-15 { background-color: $c-type-15; }
.item-type-16 { background-color: $c-type-16; }
.item-type-17 { background-color: $c-type-17; }
.item-type-18 { background-color: $c-type-18; }

.item-name {
	display: inline;
	font-family: $f-special;
	color: $c-black;
}

.item-snippet {
  margin: 15px 0;
  font-family: monospace;
  font-size: $f-size-sm;
}

.item-metadata {
  dl {
    display: flex;
    margin: 0;
    padding: 3px 0;
    font-size: $f-size-sm;
  }
  dt {
    width: 90px;
  }
  dd {
    width: 160px;
  }
}

.item-actions {
	color: $c-grey-dark;
	border-top: 1px solid $c-grey-light;
	padding: 0 15px;
  text-align: right;
}

.item-shortcut {
	display: inline-block;
  line-height: 30px;
	color: $c-grey-dark;

  &:hover,
  &:focus,
  &:active {
		color: $c-black;
    text-decoration: none;
	}

  span {
    margin: 0 5px;
    font-size: $f-size-sm;
  }
}

.item-group-load-more {
	text-align: center;
}


.page-title {
	text-align: left;
	margin: 0;
	padding-bottom: 15px;
	line-height: 16px;
	font-size: $f-size-lg;

	.label {
		font-size: $f-size-sm;
		position: relative;
		top: -3px;
		padding: 2px 5px;
	}
}

/* sort-by controller */

.sort-by {
  display: table;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
	text-align: center;
	@include desktop {
    text-align: right;
		#documents-counter {
			text-align: left;
		}
	}
	.label {
		font-weight: normal;
		background: $c-primary-lighten;
		border: 1px solid $c-grey;
		color: $c-grey-dark;
		.fa {
			margin-left: 0;
			margin-right: 5px;
		}
	}
	span {
		border-bottom: 1px dotted $c-grey-dark;
		cursor: pointer;
		margin-left: 15px;
		&.active {
			color: $c-primary;
			font-weight: bold;
		}
	}
	.fa {
		margin-left: 5px;
	}
}

.item-status {

	.progress {
		margin: 0;
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 2px;
	}
	.progress-bar-striped, .progress-striped .progress-bar {
	  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
	  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
	  background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
	  -webkit-background-size: 40px 40px;
	  background-size: 40px 40px;
	}

	// please delete item1, item2, item3... and let only the proper classes (like item-danger).
	&.item3,
	&.item5,
	&.item6,
	&.item7,
	&.item10,
	&.item11,
	&.item12,
	&.item-success {
		border-bottom: 2px solid #8BC74C;
	}
	&.item2,
	&.item9,
	&.item-warning {
		border-bottom: 2px solid orange;
	}

	&.item4,
	&.item8,
	&.item-danger {
		border-bottom: 2px solid #ED353D;
	}

	&.item1,
	&.item-processing {
		border-bottom: 2px solid $c-white;
		cursor: default;
	}
}

.label-default,
.label-info,
.label-success,
.label-warning,
.label-danger {
	background: $c-white;
	padding: 0;
}

.label-info {
	color: $c-primary;
}

.label-success {
	color: #8BC74C;
}

.label-warning {
	color: orange;
}

.label-danger {
	color: #ED353D;
}

.label-default {
	color: $c-grey-dark;
}
