.item-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  list-style-type: none;
  padding: 0;
  margin: auto;

  .document-viewer & {
    justify-content: flex-start;
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 0 0 30px 0;
  margin: 0 0 15px;
  top: 0;
  background: $c-white;
  border-radius: 4px;
  border: 1px solid $c-grey-light;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .05);
  zoom: 1;

  @media (min-width: 640px) and (max-width: 1023px) {
    width: 48%;
    margin: 0 0 15px;
    &:not(:nth-child(2n)) {
      margin-right: 4%;
    }
  }
  @media (min-width: 1024px) {
    width: 32.5%;
    margin: 0 0 15px;
    &:not(:nth-child(3n)) {
      margin-right: 1.25%;
    }
  }

  &:before {
    content: " ";
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    border: 6px solid;
    border-color: $c-background $c-background $c-white $c-white;
    border-bottom-left-radius: 4px;
    box-shadow: -3px 3px 9px -3px $c-grey;
  }

  &:hover{
    //cursor: pointer;
    border-color: $c-grey;
  }
  &.is-active,
  &.is-selected {
    border-color: $c-primary;
    box-shadow: 0 10px 20px -5px transparentize($c-primary, 0.85);
    &:before {
      border-color: $c-background $c-background $c-primary $c-primary;
    }
  }

  &-source-document {
    border-bottom: 4px solid $c-grey-light;
  }

  .label {
    margin-right: 15px;
    font-size: $f-size-sm;
    font-weight: normal;
    margin-right: 5px;
    display: inline-block;
    line-height: 30px;
    .fa {
      margin-left: 0;
    }
  }
}


$item-width: auto;
$item-padding: 15px;

.item-info {
  width: $item-width;
  padding: $item-padding;
  flex: 1;

  .item-icon {
    top: -2px;
  }
}

.item-icon {
  position: relative;
  margin-right: 6px;
}

.item-type {
  white-space: nowrap;
  width: calc(100% - 35px);
}

.item-label-group {
  width: calc(100% - 70px);
  .item-type {
    width: 100%;
  }
}

.item-type__icon {
  font-size: 14px;
}
.item-type__name {
  color: $c-white;
  border-radius: 3px;
  margin: 0 5px;
  padding: 2px 4px 1px;
  font-size: $f-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  top: 2px;
  position: relative;
  max-width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;

  &.no-icon {
    margin-left: 0;
  }
}

.item-type-empty .item-type__icon  { color: $c-grey; }
.item-type-primary .item-type__icon  { color: $c-primary; }
.item-type-0 .item-type__icon  { color: $c-type-0; }
.item-type-1 .item-type__icon  { color: $c-type-1; }
.item-type-2 .item-type__icon  { color: $c-type-2; }
.item-type-3 .item-type__icon  { color: $c-type-3; }
.item-type-4 .item-type__icon  { color: $c-type-4; }
.item-type-5 .item-type__icon  { color: $c-type-5; }
.item-type-6 .item-type__icon  { color: $c-type-6; }
.item-type-7 .item-type__icon  { color: $c-type-7; }
.item-type-8 .item-type__icon  { color: $c-type-8; }
.item-type-9 .item-type__icon  { color: $c-type-9; }
.item-type-10 .item-type__icon { color: $c-type-10; }
.item-type-11 .item-type__icon { color: $c-type-11; }
.item-type-12 .item-type__icon { color: $c-type-12; }
.item-type-13 .item-type__icon { color: $c-type-13; }
.item-type-14 .item-type__icon { color: $c-type-14; }
.item-type-15 .item-type__icon { color: $c-type-15; }
.item-type-16 .item-type__icon { color: $c-type-16; }
.item-type-17 .item-type__icon { color: $c-type-17; }
.item-type-18 .item-type__icon { color: $c-type-18; }

.item-type-empty .item-type__name  { box-shadow: inset 0 0 0 1px $c-grey; color: $c-grey; }
.item-type-primary .item-type__name  { background-color: $c-primary; }
.item-type-0 .item-type__name  { background-color: $c-type-0; }
.item-type-1 .item-type__name  { background-color: $c-type-1; }
.item-type-2 .item-type__name  { background-color: $c-type-2; }
.item-type-3 .item-type__name  { background-color: $c-type-3; }
.item-type-4 .item-type__name  { background-color: $c-type-4; }
.item-type-5 .item-type__name  { background-color: $c-type-5; }
.item-type-6 .item-type__name  { background-color: $c-type-6; }
.item-type-7 .item-type__name  { background-color: $c-type-7; }
.item-type-8 .item-type__name  { background-color: $c-type-8; }
.item-type-9 .item-type__name  { background-color: $c-type-9; }
.item-type-10 .item-type__name { background-color: $c-type-10; }
.item-type-11 .item-type__name { background-color: $c-type-11; }
.item-type-12 .item-type__name { background-color: $c-type-12; }
.item-type-13 .item-type__name { background-color: $c-type-13; }
.item-type-14 .item-type__name { background-color: $c-type-14; }
.item-type-15 .item-type__name { background-color: $c-type-15; }
.item-type-16 .item-type__name { background-color: $c-type-16; }
.item-type-17 .item-type__name { background-color: $c-type-17; }
.item-type-18 .item-type__name { background-color: $c-type-18; }

.item-name {
  display: inline;
  font-family: $f-special;
  color: $c-black;
  cursor: default;
}

.item-snippet {
  margin: 15px 0;
  font-family: monospace;
  font-size: $f-size-sm;
}

.item-metadata {
  padding: 0 $item-padding $item-padding;

  dl {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 3px 0;
    font-size: $f-size-sm;
    cursor: default;
  }
  dt {
    margin: 6px 0 2px;
  }
  @media(min-width: 1024px) {
    dt {
      width: auto;
      line-height: 1.2em;
      display: none;
      position: absolute;
      bottom: 50%;
      right: 100%;
      transform: translateX(-10px) translateY(50%);
      padding: 5px;
      background-color: transparentize($c-black, .25);
      color: $c-white;
      border-radius: 3px;
      text-align: center;
      font-style: normal;
      &:after {
        content: '';
        border-left: 5px solid transparentize($c-black, .25);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
      }  
    }
    
    dl:hover dt {
      display: block;
    }
  }
  
  dd {
    width: 100%;
  }
  .item-icon {
    top: -1px;
  }
}

.item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $item-padding*2 + $item-padding;
  color: $c-grey-dark;
  padding: 0 $item-padding;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-shortcut {
  position: relative;
  bottom: 5px;
  margin: 0 -5px;
  padding: 0 5px;
  border-radius: 15px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  box-shadow: $shadow;
  color: $c-white;
  background: $c-bootstrap-primary;
  border: 1px solid $c-bootstrap-primary;
  color: $c-grey-dark;
  background: $c-white;
  border: 1px solid $c-grey;
  
  @media(min-width: 1024px) {
    opacity: 0;
    .item.is-active &,
    .item:hover & {
      opacity: 1;
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .item.is-active & {
    color: $c-primary-dark;
    border-color: $c-primary;
  }

  &:hover {
    cursor: pointer;
    color: $c-white !important;
    background: $c-bootstrap-primary-dark !important;
    border-color: $c-bootstrap-primary-dark !important;
    color: $c-white !important;
    background: $c-bootstrap-primary !important;
    border-color: $c-bootstrap-primary-dark !important;
  }

  &--success,
  &--success:hover {
    color: $c-white !important;
    border-color: $c-success !important;
    background-color: $c-success !important;
  }

  &--disabled,
  &--disabled:hover {
    color: $c-grey-dark !important;
    border-color: $c-grey !important;
    background-color: $c-white !important;
    cursor: default;
  }

  &--warning,
  &--warning:hover {
    color: $c-white !important;
    border-color: $c-warning !important;
    background-color: $c-warning !important;
  }

  &--danger,
  &--danger:hover {
    color: $c-white !important;
    border-color: $c-danger !important;
    background-color: $c-danger !important;
  }

  &__text {
    position: relative;
    top: -1px;
    margin: 0 -5px;
    font-size: $f-size-sm;
    border-color: $c-primary;
  }
}

.item-shortcut-group {
  margin: 0 -5px;
  .item-shortcut {
    margin: 0;
  }
}

.item-group-load-more {
  text-align: center;
}

.btn-load-more {
  display: block;
  width: 100px;
  margin: 30px auto 0;
}


.page-title {
  text-align: left;
  margin: 0;
  padding-bottom: 15px;
  line-height: 16px;
  font-size: $f-size-lg;

  .label {
    font-size: $f-size-sm;
    position: relative;
    top: -3px;
    padding: 2px 5px;
  }
}

/* sort-by controller */

.sort-by {
  position: relative;
  display: table;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 15px;
  text-align: center;
  @media(min-width: 1024px) {
    text-align: right;
    #documents-counter {
      text-align: left;
    }
  }
}

.item-status {

  .progress {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
  }

  .progress-bar {
    background: $c-grey;
  }

  .progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }

  &.item-processing {
    cursor: default;
  }

  &.item-processing,
  &.item-danger {
    .item-shortcut {
      display: none;
    }
  }
}

.label-default,
.label-info,
.label-success,
.label-warning,
.label-danger {
  background: transparent;
  padding: 0;
}

.label-success,
.label-warning,
.label-danger {

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .fa {
    margin-right: 3px;
  }
}

.label-info {
  color: $c-grey;
}

.label-success {
  color: #8BC74C;
}

.label-warning {
  color: orange;
}

.label-danger {
  color: #ED353D;
}

.label-default {
  color: $c-grey-dark;
}

.label-progress {
  display: inline;
}

.documents-counter {
  b {
    color: $c-primary;
  }
}
