.panel-default {
  border-color: $c-grey-light;
}

.panel-default > .panel-heading {
	font-weight: bold;
	border-bottom-color: $c-grey-light;
  background-color: $c-grey-lighten;
  padding: 16px;
}

.panel > .list-group .list-group-item {
    //border-width: 1px 0 1px 3px;
    border-color: $c-grey-light;
    border-left-color: transparent;
    outline: none;
    box-shadow: none;

    &.active:hover,
    &.active:focus {
      background: $c-grey-lighten;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      color: $c-black;
      background-color: $c-white;
      cursor: default;

      &:before {
        content: '';
        display: block;
        width: 5px;
        background: $c-primary;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }

    .form-group {
      margin: 0 0 5px;
    }
    .form-control {
      margin: 0;
    }
}

.panel {
  .list-group {
    .list-group-item {
      small {
        margin-left: 5px;
        font-size: 1em;
        color: $c-grey-dark;
        text-decoration: none;
      }
      .btn {
        padding: 2px 4px;
        line-height: 1em;
        margin-left: 5px;

        span {
          margin-left: 5px;
          font-size: $f-size-sm;
        }
      }

      &.error {
        display: inherit;
        border-bottom: 1px solid #ED353D;
        margin-bottom: -1px;

        &:last-child {
          border-bottom: 1px solid #ED353D;
        }

        .property-name, .property-name .fa {
          color: #ED353D;
        }
      }

      .propery-form {
        height: 0;
        overflow: hidden;
        width: 100%;

        &.expand {
          height: auto;
          padding-top: 15px;
        }

        & > div > .well:not(:last-child),
        & > div > .row:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &.dragging {
        opacity: 0;
      }
    }
    .list-group-item-actions {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
