.panel-default {
  border-color: $c-grey-light;
}

.panel-default > .panel-heading {
	font-weight: bold;
	border-bottom-color: $c-grey-light;
  background-color: $c-grey-lighten;
  padding: 16px;
}

.panel > .list-group .list-group-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    line-height: 23px;
    border-color: $c-grey-light;
    border-left-color: transparent;
    outline: none;
    box-shadow: none;

    &.active:hover,
    &.active:focus {
      background: $c-grey-lighten;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      color: $c-black;
      background-color: $c-white;
      cursor: default;

      &:before {
        content: '';
        display: block;
        width: 5px;
        background: $c-primary;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }

    .form-group {
      margin: 0 0 5px;
    }
    .form-control {
      margin: 0;
    }
}

.list-group-item-actions {
  white-space: nowrap;
}

.panel {
  .list-group {
    .list-group-item {
      small {
        margin-left: 5px;
        font-size: 1em;
        color: $c-grey-dark;
        text-decoration: none;
      }
      .btn:not(:first-of-type) {
        margin-left: 5px;
      }

      &.error {
        display: block;
        border: 1px solid #ED353D !important;
        box-shadow: 0 4px 10px -5px rgba(255, 0, 0, 0.3) !important;

        .property-name, .property-name .fa {
          color: #ED353D;
        }

        .validation-error {
          margin-right: 5px;
        }
      }

      .propery-form {
        height: 0;
        overflow: hidden;
        width: 100%;

        &.expand {
          height: auto;
          padding-top: 15px;
        }

        & > div > .well:not(:last-child),
        & > div > .row:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &.dragging {
        opacity: 0;
      }
    }
  }
}
