.panel-default>.panel-heading {
	font-weight: bold;
	font-size: $f-size-lg;
	border-bottom: 0;
}

.panel > .list-group .list-group-item {
    border-width: 1px 0 1px 3px;
    border-color: $c-grey-light;
    border-left-color: transparent;
    outline: none;
    box-shadow: none;

    &.active:hover,
    &.active:focus {
      background: $c-grey-lighten;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      color: $c-black;
      background-color: $c-white;
      border-left-color: $c-primary;
      cursor: default;
    }
}


.panel-footer {
	text-align: center;
	border: 1px dashed $c-grey;
	color: $c-grey-dark;
}
