@import "../../../App/scss/config/_colors.scss";

.toc {
  padding-left: 5px !important;
  padding-right: 5px !important;

  ul.toc-view {
    $indents: 5;

    @for $i from 0 through $indents {
      li.toc-indent-#{$i} {
        border-radius: 2px;
        height: 28px;

        &:hover {
          background-color: $c-info-light;
        }
        a:hover {
          text-decoration: none;
        };
        a {
          padding-left: 4px;
        }
      }
    }
  }
}

.page-number {
  position: relative;
  float: right;
  font-weight: normal;
  padding-right: 4px;
}