.Dropdown {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  z-index: 3;
  margin-top: -6px;
  border: 1px solid transparent;

  &:hover {
    background: $c-grey-lighten;
  }
  &.is-active {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border-radius: $border-radius;
    background: $c-white;
    box-shadow: $box-shadow;
    border-color: $c-grey;
  }
}

.Dropdown {
  .fa {
    position: relative;
    left: 4px;
    color: $c-primary;
  }

  .fa-caret-down {
    top: 4px;
  }
  .fa-caret-up {
    display: none;
    top: 3px;
  }
}

.Dropdown.is-active {
  .fa-caret-down {
    display: none;
  }
  .fa-caret-up {
    display: block;
  }
}

.Dropdown-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.Dropdown-option,
.Dropdown-option__item {
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  line-height: 1.75em;
  cursor: pointer;
  order: 1;
  font-weight: normal;
  color: $c-primary !important;
  z-index: 1;

  &.is-active {
    order: 0;
    display: -webkit-flex;
    display: flex;
    font-weight: bold;
    text-decoration: none;
  }
}

.Dropdown-option {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.Dropdown-option__item {
    padding: 3px 7px 2px;
}

.Dropdown:hover,
.Dropdown.is-active {

  span {
    opacity: 1;
  }

  .Dropdown-option__item.is-active,
  .fa {
    color: $c-black !important;
  }
}

.Dropdown.is-active {
  .Dropdown-option,
  .Dropdown-option__item {
    display: -webkit-flex;
    display: flex;
  }
}